### Se pide, usando regresión lineal:

Dibujar con una línea la relación que hay entre la altura (X) y la edad (y) de los alumnos de la clase: 

- ¿Es una buena técnica para este tipo de problemas? ¿Por qué? 
- ¿Qué error se comete? Calcula los errores que está cometiendo tu modelo uno a uno (lo tienes que calcular tú con python). Aparte, usa el MSE y el RMSE. ¿Alguno es mejor para este problema?
- Representa la matriz de correlación, ¿los datos están correlacionados?
- ¿Qué ocurre si la altura se multiplica por dos? ¿Y si se multiplica solo la edad?

In [35]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [36]:
lista_edad_altura = [("Clara Piniella", 30, 1.66),("Daniel Walker", 34, 1.87), ("Leonardo Frazzetto", 31, 1.78),("Xinru Yang", 24, 1.60), ("Jorge Garcia", 28, 1.79), ("Jonathan Suárez", 27, 1.86),("Marina Serrano", 25, 1.54), ("Karina Inche", 30, 1.61), ("Mary Meza", 32, 1.52),("Borja Puig", 37, 1.82), ("Mauro Garcia-Oliva", 45, 1.77), ("José Carlos Batista", 28, 1.70),("Isabel Palomares",24,1.78),("Gina Garrido",57,1.63), ("Sonia Cobo", 29, 1.73), ("Miguel Barquero", 35, 1.85),("Nacho Astorga",47,1.78), ("Adrià Gallardo", 24, 1.70), ("Juan Bayon", 38, 1.64), ("Nacho Fontal", 35, 1.82)]

In [37]:
altura = []
edad = []
for a in range(len(lista_edad_altura)):
    altura.append(lista_edad_altura[a][2])
    edad.append(lista_edad_altura[a][1])

In [38]:
X = np.array(altura)
y = np.array(edad)

In [40]:
X = X.reshape(-1, 1)

In [41]:
X

array([[1.66],
       [1.87],
       [1.78],
       [1.6 ],
       [1.79],
       [1.86],
       [1.54],
       [1.61],
       [1.52],
       [1.82],
       [1.77],
       [1.7 ],
       [1.78],
       [1.63],
       [1.73],
       [1.85],
       [1.78],
       [1.7 ],
       [1.64],
       [1.82]])