# Python | day 6 | dictionaries

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is unordered, changeable and does not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values:

```python
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
```

https://www.w3schools.com/python/python_dictionaries.asp

### Exercise 1. 

1. Create a dictionary with an integer 5 as the key and "val" as its value.

In [1]:
diccionario = {5: 'val'}

2. Create two lists: one that has 4 city names and another that has 4 landmarks in the city.

In [2]:
lista_ciudad = ['Rosario', 'Barcelona', 'Londres', 'Roma']
lista_landmark = ['Monumento a la bandera', 'Torre Agbar', 'Big Ben', 'Coliseo']

3. Create a dictionary where the cities contained in the first list are the **keys** and the landmarks are the **values**.
```python
#example
places = {"Malaga": "Gibralfaro", 
         "Madrid": "Templo de Debod",
         "Granada": "La Alcazaba",
         "Barcelona": "Sagrada Familia"}
```

In [3]:
diccionario_ciudades = {}

for i, elem in enumerate(lista_ciudad):
    diccionario_ciudades[elem] = lista_landmark[i]

diccionario_ciudades

{'Rosario': 'Monumento a la bandera',
 'Barcelona': 'Torre Agbar',
 'Londres': 'Big Ben',
 'Roma': 'Coliseo'}

In [4]:
diccionario_ciudades['Rosario'][0]

'M'

4. Loop through the dictionary and print only the values of those keys starting with the letter **M**.

https://realpython.com/iterate-through-dictionary-python/

In [5]:
variable_de_ayuda = 0
for ciudad, landmark in diccionario_ciudades.items():
    if diccionario_ciudades[ciudad][0] == 'M':
        print (landmark)
        variable_de_ayuda += 1
if variable_de_ayuda == 0:
    print('Ningún valor comienza por la letra M.')

Monumento a la bandera

5. Create a function that receives two lists `list1` and `list2` by parameter and returns a dictionary with each element of `list1` as keys and the elements of `list2` as values. Call the function with the lists you have created before to return the same dictionary you've created in question 3.

In [6]:
def funcion_ciudades(list1, list2):
    dic_funcion = {}
    for posicion, ciudad in enumerate(list1):
        dic_funcion[ciudad] = list2[posicion]
    return dic_funcion

In [7]:
funcion_ciudades(list1=lista_ciudad, list2=lista_landmark)

{'Rosario': 'Monumento a la bandera',
 'Barcelona': 'Torre Agbar',
 'Londres': 'Big Ben',
 'Roma': 'Coliseo'}

### Exercise 2.

1. Create an empty dictionary called dog.

In [8]:
dog = {}

2. Add name, color, breed, legs, age to the dog dictionary.

In [9]:
dog['Name'] = 'Dinamita'
dog['Color'] = 'Blanco'
dog['Breed'] = 'Caniche toy'
dog['Legs'] = 4
dog['Age'] = 10
dog

{'Name': 'Dinamita',
 'Color': 'Blanco',
 'Breed': 'Caniche toy',
 'Legs': 4,
 'Age': 10}

3. Create a student dictionary and add first_name, last_name, age, skills, country, city and address as keys for the dictionary.

In [10]:
student = {}
student['first_name'] = 'Leonardo'
student['last_name'] = 'Frazzetto'
student['age'] = 31
student['skills'] = ['Cocinar', 'Fútbol']
student['country'] = 'Argentina'
student['city'] = 'Rosario'
student['address'] = 'Dean Funes 2050'
student

{'first_name': 'Leonardo',
 'last_name': 'Frazzetto',
 'age': 31,
 'skills': ['Cocinar', 'Fútbol'],
 'country': 'Argentina',
 'city': 'Rosario',
 'address': 'Dean Funes 2050'}

4. Get the length of the student dictionary.

In [11]:
len(student)

7

5. Get the value of skills and check the data type, it should be a list.

In [12]:
print(student['skills'])
type(student['skills'])

['Cocinar', 'Fútbol']

list

6. Modify the skills values by adding one or two skills.

In [13]:
student['skills'].append('Ukelele')
student['skills'].append('Python')
student

{'first_name': 'Leonardo',
 'last_name': 'Frazzetto',
 'age': 31,
 'skills': ['Cocinar', 'Fútbol', 'Ukelele', 'Python'],
 'country': 'Argentina',
 'city': 'Rosario',
 'address': 'Dean Funes 2050'}

In [14]:
# OTRA MANERA DE HACER LO ANTERIOR --> metodo extend()

student['skills'].extend(['Rugby', 'Voley'])
student

{'first_name': 'Leonardo',
 'last_name': 'Frazzetto',
 'age': 31,
 'skills': ['Cocinar', 'Fútbol', 'Ukelele', 'Python', 'Rugby', 'Voley'],
 'country': 'Argentina',
 'city': 'Rosario',
 'address': 'Dean Funes 2050'}

7. Get the dictionary keys as a list.

In [15]:
list(student.keys())

['first_name', 'last_name', 'age', 'skills', 'country', 'city', 'address']

8. Get the dictionary values as a list.

In [16]:
list(student.values())

['Leonardo',
 'Frazzetto',
 31,
 ['Cocinar', 'Fútbol', 'Ukelele', 'Python', 'Rugby', 'Voley'],
 'Argentina',
 'Rosario',
 'Dean Funes 2050']

9. Change the dictionary to a list of tuples using `items()` method

In [17]:
lista_de_tuplas_student = []
for key, value in student.items():
    lista_de_tuplas_student.append((key, value))

lista_de_tuplas_student

[('first_name', 'Leonardo'),
 ('last_name', 'Frazzetto'),
 ('age', 31),
 ('skills', ['Cocinar', 'Fútbol', 'Ukelele', 'Python', 'Rugby', 'Voley']),
 ('country', 'Argentina'),
 ('city', 'Rosario'),
 ('address', 'Dean Funes 2050')]

In [18]:
# OTRA FORMA DE HACER EL ANTERIOR

tupla = student.items()
lista_student = list(tupla)
print(lista_student)

[('first_name', 'Leonardo'), ('last_name', 'Frazzetto'), ('age', 31), ('skills', ['Cocinar', 'Fútbol', 'Ukelele', 'Python', 'Rugby', 'Voley']), ('country', 'Argentina'), ('city', 'Rosario'), ('address', 'Dean Funes 2050')]

10. Delete one of the items in the dictionary.

In [19]:
del student['address']
student

{'first_name': 'Leonardo',
 'last_name': 'Frazzetto',
 'age': 31,
 'skills': ['Cocinar', 'Fútbol', 'Ukelele', 'Python', 'Rugby', 'Voley'],
 'country': 'Argentina',
 'city': 'Rosario'}

### Bonus Track

**Tómate un zumito a tu salud.**

!['daughter'](https://i.pinimg.com/originals/8f/35/28/8f35281e742e71be09697e7e6789b819.png)

In [20]:
diccionario_ciudades

{'Rosario': 'Monumento a la bandera',
 'Barcelona': 'Torre Agbar',
 'Londres': 'Big Ben',
 'Roma': 'Coliseo'}

In [21]:
lista_tuplas = []

In [23]:
list(diccionario_ciudades.items())

[('Rosario', 'Monumento a la bandera'),
 ('Barcelona', 'Torre Agbar'),
 ('Londres', 'Big Ben'),
 ('Roma', 'Coliseo')]