## Ejercicio 1
Importa la libreria de `pandas` y `numpy`. ¿Qué versión de la librería `pandas` tienes?

In [2]:
import pandas as pd
import numpy as np

## Ejercicio 2
Lee el archivo CSV de la liga. Guarda el DataFrame en una variable llamada `df`. [Usa el método `read_csv` de `pandas`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html).

In [3]:
liga = pd.read_csv("laliga.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'laliga.csv'

## Ejercicio 3
Obtén por pantalla los 4 primero registros

In [6]:
# way 1
liga.head(4)

NameError: name 'liga' is not defined

In [7]:
# way 2
liga[:4]

NameError: name 'liga' is not defined

## Ejercicio 4
Obtén en un array de `numpy` todos los valores del DataFrame

In [ ]:
liga.values

array([[26201, '2005-06', 1, ..., 0, '27/08/2005', 1125093600],
       [26202, '2005-06', 1, ..., 0, '27/08/2005', 1125093600],
       [26203, '2005-06', 1, ..., 0, '27/08/2005', 1125093600],
       ...,
       [36682, '2017-18', 1, ..., 0, '20/05/2018', 1526767200],
       [36683, '2017-18', 1, ..., 1, '20/05/2018', 1526767200],
       [36684, '2017-18', 1, ..., 2, '20/05/2018', 1526767200]],
      dtype=object)

In [ ]:
for col in liga.columns:
    print(f"Array de la columna {col} ->", liga[col].values)

Array de la columna Unnamed: 0 -> [26201 26202 26203 ... 36682 36683 36684]
Array de la columna season -> ['2005-06' '2005-06' '2005-06' ... '2017-18' '2017-18' '2017-18']
Array de la columna division -> [1 1 1 ... 1 1 1]
Array de la columna round -> [ 1  1  1 ... 38 38 38]
Array de la columna localTeam -> ['Atletico de Bilbao' 'Alaves' 'Valencia' ... 'Barcelona' 'Valencia'
 'Atletico de Madrid']
Array de la columna visitorTeam -> ['Real Sociedad' 'Barcelona' 'Betis' ... 'Real Sociedad' 'Deportivo'
 'Eibar']
Array de la columna localGoals -> [3 0 1 ... 1 2 2]
Array de la columna visitorGoals -> [0 0 0 ... 0 1 2]
Array de la columna date -> ['27/08/2005' '27/08/2005' '27/08/2005' ... '20/05/2018' '20/05/2018'
 '20/05/2018']
Array de la columna timestamp -> [1125093600 1125093600 1125093600 ... 1526767200 1526767200 1526767200]

## Ejercicio 5
¿Cuáles son las columnas de `df`?

In [ ]:
liga.columns

Index(['Unnamed: 0', 'season', 'division', 'round', 'localTeam', 'visitorTeam',
       'localGoals', 'visitorGoals', 'date', 'timestamp'],
      dtype='object')

## Ejercicio 6
Crea un `Series` con la [población de Madrid, Galicia, Murcia y Andalucía](https://es.wikipedia.org/wiki/Anexo:Comunidades_y_ciudades_aut%C3%B3nomas_de_Espa%C3%B1a). Llamalo `poblacion`.

- Madrid: 6685471
- Galicia: 2698764
- Murcia: 1494442
- Andalucía: 8446561

In [9]:
poblacion = pd.Series([6685471, 2698764, 1494442, 8446561], index = ["Madrid", "Galicia", "Murcia", "Andalucia"])
poblacion

Madrid       6685471
Galicia      2698764
Murcia       1494442
Andalucia    8446561
dtype: int64

## Ejercicio 7
Obtén un array de `numpy` con los valores del `Series`.

Saca también sus índices, y los valores de sus índices.

In [10]:
poblacion.values

array([6685471, 2698764, 1494442, 8446561], dtype=int64)

In [11]:
poblacion.index

Index(['Madrid', 'Galicia', 'Murcia', 'Andalucia'], dtype='object')

In [ ]:
# poblacion.index nos devuelve un objeto Index, del cual podemos obtener también sus valores
poblacion.index.values

array(['Madrid', 'Galicia', 'Murcia', 'Andalucia'], dtype=object)

## Ejercicio 8
1. ¿Qué población hay en el primer elemento del `Series`?
2. ¿Qué población hay en Galicia?
3. Imprime por pantalla las poblaciones de Galicia, Andalucía y las comunidades autónomas que se encuentren entre ambas, dentro del `Series`.
4. Comprueba con un output booleano que `Galicia` se encuentra entre los índices del `Index`.
5. Realiza los apartados 1,2,3 pero esta vez de una manera diferente.

In [ ]:
#1
poblacion[0]

6685471

In [ ]:
#2
poblacion["Galicia"]

2698764

In [ ]:
#3
poblacion["Galicia":"Andalucia"]
# cuando hacemos slicing por nombre, se incluye el último

Galicia      2698764
Murcia       1494442
Andalucia    8446561
dtype: int64

In [ ]:
#4
"Galicia" in poblacion.index

True

In [ ]:
#5
print(poblacion["Madrid"]) #1
print()
print(poblacion[1]) #2
print()
print(poblacion[1:]) #3

6685471

2698764

Galicia      2698764
Murcia       1494442
Andalucia    8446561
dtype: int64

## Ejercicio 9
A partir de las comunidades autónomas anteriores, crea un `Series` con [la tasa de paro](https://es.statista.com/estadisticas/941646/prevision-de-la-tasa-de-paro-por-comunidad-autonoma-espana/) en dichas comunidades autónomas.

Con la tasa de paro y las poblaciones, crea un DataFrame de pandas. Llámalo `data`.

- Madrid: 9.99
- Galicia: 11.74
- Murcia: 16.08
- Andalucía: 20.8

In [15]:
paro = pd.Series([9.99, 11.74, 16.08, 20.8], index = ["Madrid", "Galicia", "Murcia", "Andalucia"])
paro

Madrid        9.99
Galicia      11.74
Murcia       16.08
Andalucia    20.80
dtype: float64

In [14]:
data = pd.DataFrame({"Paro": paro, "Poblacion": poblacion})
data

            Paro  Poblacion
Madrid      9.99    6685471
Galicia    11.74    2698764
Murcia     16.08    1494442
Andalucia  20.80    8446561

## Ejercicio 10
Imprime por pantalla la población, y la tasa de paro. Por separado

In [ ]:
data["Paro"]

Madrid        9.99
Galicia      11.74
Murcia       16.08
Andalucia    20.80
Name: Paro, dtype: float64

In [ ]:
data["Poblacion"]

Madrid       6685471
Galicia      2698764
Murcia       1494442
Andalucia    8446561
Name: Poblacion, dtype: int64

## Ejercicio 11
Crea un nuevo Data Frame (`data2`), que sea igual que `data`, pero con una nueva columna, que lleve [la superficie de las Comunidades Autónomas](https://es.wikipedia.org/wiki/Anexo:Comunidades_y_ciudades_aut%C3%B3nomas_de_Espa%C3%B1a).

- Madrid: 8028
- Galicia: 29575
- Murcia: 11314
- Andalucía: 87599

In [ ]:
superficie = pd.Series({"Madrid":8028, "Galicia":29575, "Murcia":11314, "Andalucia":87599})
print(superficie)

Madrid        8028
Galicia      29575
Murcia       11314
Andalucia    87599
dtype: int64

In [ ]:
data2 = data.copy()

In [ ]:
data2["Superficie"] = superficie

In [ ]:
# way 2
data2 = pd.DataFrame({"Paro": paro, "Poblacion": poblacion, "Superficie": superficie})
data2

            Paro  Poblacion  Superficie
Madrid      9.99    6685471        8028
Galicia    11.74    2698764       29575
Murcia     16.08    1494442       11314
Andalucia  20.80    8446561       87599

## Ejercicio 12
Calcula la densidad de población (hab/km^2) en una nueva columna del dataframe `data2` que se llame `Densidad`.

In [ ]:
data2["Densidad poblacion"] = data2["Poblacion"] / data2["Superficie"]
data2

            Paro  Poblacion  Superficie  Densidad poblacion
Madrid      9.99    6685471        8028          832.769183
Galicia    11.74    2698764       29575           91.251530
Murcia     16.08    1494442       11314          132.087856
Andalucia  20.80    8446561       87599           96.423030