## Ejercicio 1
Importa la libreria de `pandas` y `numpy`. ¿Qué versión de la librería `pandas` tienes?

In [2]:
import numpy as np
import pandas as pd

In [3]:
pd.__version__

'1.2.4'

## Ejercicio 2
Lee el archivo CSV de la liga. Guarda el DataFrame en una variable llamada `df`. [Usa el método `read_csv` de `pandas`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html).

In [4]:
df = pd.read_csv('laliga.csv')
df

,Unnamed: 0,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,26201,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600
1,26202,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600
2,26203,2005-06,1,1,Valencia,Betis,1,0,27/08/2005,1125093600
3,26204,2005-06,1,1,Atletico de Madrid,Zaragoza,0,0,28/08/2005,1125180000
4,26205,2005-06,1,1,Cadiz,Real Madrid,1,2,28/08/2005,1125180000
...,...,...,...,...,...,...,...,...,...,...
4935,36680,2017-18,1,38,Villarreal,Real Madrid,2,2,19/05/2018,1526680800
4936,36681,2017-18,1,38,Atletico de Bilbao,Espanol,0,1,20/05/2018,1526767200
4937,36682,2017-18,1,38,Barcelona,Real Sociedad,1,0,20/05/2018,1526767200
4938,36683,2017-18,1,38,Valencia,Deportivo,2,1,20/05/2018,1526767200
4939,36684,2017-18,1,38,Atletico de Madrid,Eibar,2,2,20/05/2018,1526767200

## Ejercicio 3
Obtén por pantalla los 4 primero registros

In [5]:
df.head(4)

,Unnamed: 0,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,26201,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600
1,26202,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600
2,26203,2005-06,1,1,Valencia,Betis,1,0,27/08/2005,1125093600
3,26204,2005-06,1,1,Atletico de Madrid,Zaragoza,0,0,28/08/2005,1125180000

## Ejercicio 4
Obtén en un array de `numpy` todos los valores del DataFrame

In [6]:
print(np.array(df))

[[26201 '2005-06' 1 ... 0 '27/08/2005' 1125093600]
 [26202 '2005-06' 1 ... 0 '27/08/2005' 1125093600]
 [26203 '2005-06' 1 ... 0 '27/08/2005' 1125093600]
 ...
 [36682 '2017-18' 1 ... 0 '20/05/2018' 1526767200]
 [36683 '2017-18' 1 ... 1 '20/05/2018' 1526767200]
 [36684 '2017-18' 1 ... 2 '20/05/2018' 1526767200]]

## Ejercicio 5
¿Cuáles son las columnas de `df`?

In [7]:
df.columns

Index(['Unnamed: 0', 'season', 'division', 'round', 'localTeam', 'visitorTeam',
       'localGoals', 'visitorGoals', 'date', 'timestamp'],
      dtype='object')

## Ejercicio 6
Crea un `Series` con la [población de Madrid, Galicia, Murcia y Andalucía](https://es.wikipedia.org/wiki/Anexo:Comunidades_y_ciudades_aut%C3%B3nomas_de_Espa%C3%B1a). Llamalo `poblacion`.

- Madrid: 6685471
- Galicia: 2698764
- Murcia: 1494442
- Andalucía: 8446561

In [8]:
poblacion = pd.Series([6685471, 2698764, 1494442, 8446561], index=['Madrid', 'Galicia', 'Murcia', 'Andalucía'])
poblacion

Madrid       6685471
Galicia      2698764
Murcia       1494442
Andalucía    8446561
dtype: int64

In [9]:
# Otra forma de crear la misma serie
poblacion = pd.Series({'Madrid': 6685471, 'Galicia': 2698764, 'Murcia': 1494442, 'Andalucía': 8446561})
poblacion

Madrid       6685471
Galicia      2698764
Murcia       1494442
Andalucía    8446561
dtype: int64

## Ejercicio 7
Obtén un array de `numpy` con los valores del `Series`.

Saca también sus índices, y los valores de sus índices.

In [10]:
poblacion.values

array([6685471, 2698764, 1494442, 8446561], dtype=int64)

In [11]:
poblacion.index

Index(['Madrid', 'Galicia', 'Murcia', 'Andalucía'], dtype='object')

In [12]:
print('Valor de Madrid:', poblacion['Madrid'])
print('Valor de Galicia:', poblacion['Galicia'])
print('Valor de Murcia:', poblacion['Murcia'])
print('Valor de Andalucía:', poblacion['Andalucía'])

Valor de Madrid: 6685471
Valor de Galicia: 2698764
Valor de Murcia: 1494442
Valor de Andalucía: 8446561

## Ejercicio 8
1. ¿Qué población hay en el primer elemento del `Series`?
2. ¿Qué población hay en Galicia?
3. Imprime por pantalla las poblaciones de Galicia, Andalucía y las comunidades autónomas que se encuentren entre ambas, dentro del `Series`.
4. Comprueba con un output booleano que `Galicia` se encuentra entre los índices del `Index`.
5. Realiza los apartados 1,2,3 pero esta vez de una manera diferente.

In [13]:
poblacion[0]

6685471

In [14]:
poblacion['Galicia']

2698764

In [15]:
poblacion[1:]

Galicia      2698764
Murcia       1494442
Andalucía    8446561
dtype: int64

In [16]:
'Galicia' in poblacion.index

True

In [17]:
poblacion.head(1)

Madrid    6685471
dtype: int64

In [18]:
poblacion[1]

2698764

In [19]:
poblacion['Galicia': 'Andalucía']

Galicia      2698764
Murcia       1494442
Andalucía    8446561
dtype: int64

## Ejercicio 9
A partir de las comunidades autónomas anteriores, crea un `Series` con [la tasa de paro](https://es.statista.com/estadisticas/941646/prevision-de-la-tasa-de-paro-por-comunidad-autonoma-espana/) en dichas comunidades autónomas.

Con la tasa de paro y las poblaciones, crea un DataFrame de pandas. Llámalo `data`.

- Madrid: 9.99
- Galicia: 11.74
- Murcia: 16.08
- Andalucía: 20.8

In [20]:
paro = pd.Series({'Madrid': 9.99, 'Galicia': 11.74, 'Murcia': 16.08, 'Andalucía': 20.8})
paro

Madrid        9.99
Galicia      11.74
Murcia       16.08
Andalucía    20.80
dtype: float64

In [21]:
data = pd.DataFrame({'Paro': paro, 'Población': poblacion})
data

            Paro  Población
Madrid      9.99    6685471
Galicia    11.74    2698764
Murcia     16.08    1494442
Andalucía  20.80    8446561

## Ejercicio 10
Imprime por pantalla la población, y la tasa de paro. Por separado

In [22]:
print(data.Paro)
print('---------------------------')
print(data.Población)

Madrid        9.99
Galicia      11.74
Murcia       16.08
Andalucía    20.80
Name: Paro, dtype: float64
---------------------------
Madrid       6685471
Galicia      2698764
Murcia       1494442
Andalucía    8446561
Name: Población, dtype: int64

## Ejercicio 11
Crea un nuevo Data Frame (`data2`), que sea igual que `data`, pero con una nueva columna, que lleve [la superficie de las Comunidades Autónomas](https://es.wikipedia.org/wiki/Anexo:Comunidades_y_ciudades_aut%C3%B3nomas_de_Espa%C3%B1a).

- Madrid: 8028
- Galicia: 29575
- Murcia: 11314
- Andalucía: 87599

In [23]:
lista_superficie_1 = [8028, 29575, 11314, 87599]

In [27]:
data2 = data.assign(Superficie = lista_superficie_1)
data2

            Paro  Población  Superficie
Madrid      9.99    6685471        8028
Galicia    11.74    2698764       29575
Murcia     16.08    1494442       11314
Andalucía  20.80    8446561       87599

In [28]:
data        # el DataFrame "data" no se modifica.

            Paro  Población
Madrid      9.99    6685471
Galicia    11.74    2698764
Murcia     16.08    1494442
Andalucía  20.80    8446561

## Ejercicio 12
Calcula la densidad de población (hab/km^2) en una nueva columna del dataframe `data2` que se llame `Densidad`.

In [29]:
data2['Densidad'] = data2['Población'] / data2['Superficie']

In [30]:
data2

            Paro  Población  Superficie    Densidad
Madrid      9.99    6685471        8028  832.769183
Galicia    11.74    2698764       29575   91.251530
Murcia     16.08    1494442       11314  132.087856
Andalucía  20.80    8446561       87599   96.423030