# Python | Programación funcional

### Ejercicio 1.

1. Utiliza `reduce` para concatenar estas palabras en una frase
```Python
ejer_1 = ("to", "be", "or", "not", "to", "be", "that", "is", "the", "question")
```

In [7]:
ejer_1 = ("to", "be", "or", "not", "to", "be", "that", "is", "the", "question")
from functools import reduce
concatenado = reduce(lambda x, y: x + ' ' + y, ejer_1)
concatenado

'to be or not to be that is the question'

2. Obtén una nueva tupla con el cuadrado de cada elemento de la siguiente tupla

```Python
ejer_2 = (1,2,3,4,5)
```

In [6]:
ejer_2 = (1,2,3,4,5)
tupla_ejer_2 = tuple(map(lambda x: x**2, ejer_2))
tupla_ejer_2

(1, 4, 9, 16, 25)

3. Filtra aquellos elementos que sean multiplos de 3 o de 5
```Python
ejer_3 = (1,2,3,4,5,15,21,22,33,34,35)
```

In [9]:
ejer_3 = (1,2,3,4,5,15,21,22,33,34,35)

list(filter(lambda x: x % 3 == 0 or x % 5 == 0, ejer_3))

[3, 5, 15, 21, 33, 35]

4. Convierte la siguiente tupla de pesetas a euros
```Python
ejer_4 = (1000, 8000, 20000000, 40000000)
```

In [17]:
ejer_4 = (1000, 8000, 20000000, 40000000)

tuple(map(lambda x: str(round(x/166.386,3)) + ' euros', ejer_4))

('6.01 euros', '48.081 euros', '120202.421 euros', '240404.842 euros')

5. Convierte la siguiente lista de desconocidos a mayusculas
```Python
ejer_5 = ("Arya", "John", "Robb", "Bran", "Sansa", "Rickon")
```

In [18]:
ejer_5 = ("Arya", "John", "Robb", "Bran", "Sansa", "Rickon")

list(map(lambda x: x.upper(), ejer_5))

['ARYA', 'JOHN', 'ROBB', 'BRAN', 'SANSA', 'RICKON']

6. Realiza un conversor de dias de la semana en texto a numerico (1-7), usando `map`.
```Python
ejer_6 = ("Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo")
```

In [12]:
ejer_6 = ("Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo")
def dia_numero(dia):
    numeros = range(1,8)
    su_numero = tuple(map(lambda x, y: y, ejer_6, numeros))
    diccionario = dict(zip(ejer_6, su_numero))
    return diccionario[dia]

In [13]:
dia_numero(dia = 'Jueves')

4

In [14]:
def leo_funcion(dia_semana):
    diccionario = {k:v for k,v in zip(ejer_6,range(1,8))}
    return diccionario[dia_semana]

list(map(leo_funcion, ["Martes", "Jueves", "Jueves"]))

[2, 4, 4]

In [16]:
diccionario = dict(zip(ejer_6,range(1,8)))

list(map(lambda x: diccionario[x], ["Martes", "Jueves", "Domingo"]))

[2, 4, 7]

In [21]:
ejer_6 = ("Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo")

def leo_funcion1(dia_semana):
    diccionario = dict(zip(ejer_6,range(1,8)))
    print(diccionario)
    return diccionario[dia_semana]

list(map(leo_funcion1, ('Lunes', 'Domingo', 'Miércoles')))

{'Lunes': 1, 'Martes': 2, 'Miércoles': 3, 'Jueves': 4, 'Viernes': 5, 'Sábado': 6, 'Domingo': 7}
{'Lunes': 1, 'Martes': 2, 'Miércoles': 3, 'Jueves': 4, 'Viernes': 5, 'Sábado': 6, 'Domingo': 7}
{'Lunes': 1, 'Martes': 2, 'Miércoles': 3, 'Jueves': 4, 'Viernes': 5, 'Sábado': 6, 'Domingo': 7}

[1, 7, 3]

In [26]:
def leo_funcion2(dia_semana):
    diccionario = {k:v for k,v in zip(ejer_6,range(1,8))}
    return diccionario[dia_semana]

list(map(leo_funcion2, ["Martes", "Jueves", "Jueves"]))

[2, 4, 4]

In [25]:
list(zip(ejer_6,range(1,8)))

[('Lunes', 1),
 ('Martes', 2),
 ('Miércoles', 3),
 ('Jueves', 4),
 ('Viernes', 5),
 ('Sábado', 6),
 ('Domingo', 7)]

In [28]:
diccionario = dict(zip(ejer_6,range(1,8)))
def leo_funcion3(dia_semana):
    return diccionario[dia_semana]

list(map(leo_funcion3, ["Martes", "Jueves", "Jueves"]))

[2, 4, 4]

In [29]:
diccionario = dict(zip(ejer_6,range(1,8)))

list(map(lambda x: diccionario[x], ["Martes", "Jueves", "Jueves"]))

[2, 4, 4]

7. Utiliza `map` para multiplicar elemento a elemento estas dos tuplas
```Python
ejer_7_1 = (2, 5, 8)
ejer_7_2 = (6, 3, 2)
```

In [19]:
ejer_7_1 = (2, 5, 8)
ejer_7_2 = (6, 3, 2)

list(map(lambda x, y: x * y, ejer_7_1, ejer_7_2))

[12, 15, 16]

8. Crea una tupla nueva con todos los coches que no sean VW :)

```Python
ejer_8 = ("VW", "Audi", "Renault", "VW", "BMW")
```

In [20]:
ejer_8 = ("VW", "Audi", "Renault", "VW", "BMW")

tuple(filter(lambda x: x != 'VW', ejer_8))

('Audi', 'Renault', 'BMW')

9. Dadas las siguientes fechas en formato string, quedate con aquellas del año 2020

```Python
ejer_9 = ("2019-04-08", "2020-10-10", "2020-01-22", "2019-07-13", "2019-02-01")
```

In [22]:
ejer_9 = ("2019-04-08", "2020-10-10", "2020-01-22", "2019-07-13", "2019-02-01")

tuple(filter(lambda x: x[2]+x[3] =='20', ejer_9))

('2020-10-10', '2020-01-22')

10. Filtra aquellos strings que sean [palíndromos](https://es.wikipedia.org/wiki/Pal%C3%ADndromo)
```Python
ejer_10 = ("php", "w3r", "Python", "abcd", "Java", "aaa")
```

In [33]:
ejer_10 = ("php", "w3r", "Python", "abcd", "Java", "aaa")

tuple(filter(lambda x: x == x[::-1], ejer_10))

('php', 'aaa')

### Bonus Track.

- Resuelve esta kata usando `map`
https://www.codewars.com/kata/554b4ac871d6813a03000035

Nota: si es demasiado difícil intenta resolverla sin usar `map` y si lo consigues, vuelve a resolverla usando `map`.

In [57]:
def high_and_low(numbers):
    lista_string = numbers.split(' ')
    lista_enteros = list(map(int, lista_string))
    numbers = str(max(lista_enteros)) + ' ' + str(min(lista_enteros))
    return numbers

In [58]:
num = '3 -3 6 9 22 0 -11'
high_and_low(num)

'22 -11'