In [1]:
import numpy as np
import pandas as pd

import urllib.request
from PIL import Image

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mea

ImportError: cannot import name 'mea' from 'sklearn.metrics' (C:\Users\LeoFr\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\metrics\__init__.py)

In [ ]:
df = pd.read_csv("data_diamonds/diamonds_train.csv", index_col=0)

In [ ]:
df.info()

In [ ]:
df.cut.unique()

## Por las características del target (price), utilizamos un modelo de REGRESIÓN

In [ ]:
df.color.unique()

In [ ]:
df.clarity.unique()

In [ ]:
df.carat.unique()

In [ ]:
df[df.price == 0]

In [ ]:
df

In [6]:
bridge_types = ('Arch','Beam','Truss','Cantilever','Tied Arch','Suspension','Cable')
bridge_df = pd.DataFrame(bridge_types, columns=['Bridge_Types'])

In [ ]:
bridge_df.info()

In [7]:
bridge_df

  Bridge_Types
0         Arch
1         Beam
2        Truss
3   Cantilever
4    Tied Arch
5   Suspension
6        Cable

In [ ]:
bridge_df['Bridge_Types'] = bridge_df['Bridge_Types'].astype('category')

In [ ]:
bridge_df.info()

In [ ]:
bridge_df

In [ ]:
bridge_df['Bridge_Types_Cat'] = bridge_df['Bridge_Types'].cat.codes
bridge_df

In [5]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder (handle_unknown = 'ignore')

In [8]:
bridge_types = ('Arch','Beam','Truss','Cantilever','Tied Arch','Suspension','Cable')
bridge_df = pd.DataFrame(bridge_types, columns=['Bridge_Types'])

In [9]:
pd.get_dummies

In [16]:
df = pd.DataFrame({'A': ['a', 'b', 'a'], 'B': ['b', 'a', 'c'],
                   'C': ['1', '2', '3']})
df

   A  B  C
0  a  b  1
1  b  a  2
2  a  c  3

In [18]:
pd.get_dummies(df, prefix=['hola', 'chau','si'])

   hola_a  hola_b  chau_a  chau_b  chau_c  si_1  si_2  si_3
0       1       0       0       1       0     1     0     0
1       0       1       1       0       0     0     1     0
2       1       0       0       0       1     0     0     1