In [1]:
import pandas as pd

In [9]:
a = pd.read_csv('2021_MeteoCat_Detall_Estacions.csv')
a

     DATA_LECTURA DATA_EXTREM CODI_ESTACIO ACRÒNIM  VALOR
0      2021-01-01         NaN           D5      TM    5.3
1      2021-01-01    13:06:00           D5      TX    6.5
2      2021-01-01    23:56:00           D5      TN    3.1
3      2021-01-01         NaN           D5     HRM   77.0
4      2021-01-01    10:36:00           D5     HRX   88.0
...           ...         ...          ...     ...    ...
6166   2021-05-01         NaN           X8   RS24h   12.5
6167   2021-05-01         NaN           X8   VVM10    2.3
6168   2021-05-01         NaN           X8   DVM10  335.0
6169   2021-05-01    16:39:00           X8   VVX10    8.2
6170   2021-05-01    16:39:00           X8  DVVX10  200.0

[6171 rows x 5 columns]