# Ejercicio La Biblioteca | Repaso Week 1
## Precurso DSApr21 - The Bridge

La versión original de esta Práctica es en español por lo que respetaremos sus orígenes y a su autora, Clara Piniella, y lo dejaremos en este idioma. Disculpen las molestias que esto pudiera ocasionarle como estudiante.

# GRACIAS POR MANTENER EL IDIOMA ORIGINAL !!

![biblioteca](https://static2.abc.es/media/familia/2018/11/02/AdobeStock_210538561-kJTF--620x349@abc.jpg)

Es tu primer día de trabajo en la Biblioteca de tu barrio y ya tienes tu primera tarea. Te acaban de pasar una lista con libros y la lista de unidades disponibles.

In [34]:
libros = ["El mal de Corcira", "Un mundo feliz", "Lolita", "Crimen y castigo", "Python from for to pro",\
        "El señor de los anillos", "Cien años de soledad", "Harry Potter", "Lectura Fácil", "Seda",\
          "La chica de nieve", "El día que se perdió la cordura", "Data Science"]

In [35]:
biblioteca = [("El mal de Corcira",4),("Un mundo feliz", 2),("Lolita", 5),\
              ("Crimen y castigo",2),("Python from for to pro", 0),("El señor de los anillos", 6),\
              ("Cien años de soledad", 5),("Harry Potter", 9),("Lectura Fácil", 4),("Seda", 2),\
              ("La chica de nieve", 6),("El día que se perdió la cordura", 3), ("Data Science", 0)]

In [36]:
print(len(libros))
print(len(biblioteca))

13
13

1. ¿Cuántos títulos diferentes tienen en esta biblioteca?

In [37]:
#your code here
contador = 0
for i in range(len(biblioteca)):
    if biblioteca[i][1] != 0:
        contador += 1
print(f"La biblioteca cuenta con {contador} títulos diferentes.")

La biblioteca cuenta con 11 títulos diferentes.

2. ¿Cuántas letras componen la palabra *Seda*?

In [38]:
#your code here
palabra = 'Seda'
letras = len(palabra)
print("La palabra {} está compuesta por {} letras.".format(palabra, letras))

La palabra Seda está compuesta por 4 letras.

3. ¿Cuántas unidades hay del libro *Seda*?

In [39]:
#your code here
for x in range(len(biblioteca)):
    if biblioteca[x][0] == 'Seda':
        print('En ésta biblioteca hay ' + str(biblioteca[x][1]) + ' unidad/es de Seda.' )

En ésta biblioteca hay 2 unidad/es de Seda.

In [40]:
range(len(biblioteca))

range(0, 13)

In [41]:
biblioteca[9][0]

'Seda'

4. Quien registraba los libros antes de ti dejo pendiente de añadir a la lista **libros** la variable **pendiente**, además debió confundir el famoso libro de George Orwell *1984*, con un número, asignándolo como un integer.
¿Puedes cambiarlo y pasar a string este elemento y añadirlo a **libros**?

In [42]:
pendiente = 1984

In [43]:
#your code here
pendiente = str(pendiente)
libros.append(pendiente)
libros

['El mal de Corcira',
 'Un mundo feliz',
 'Lolita',
 'Crimen y castigo',
 'Python from for to pro',
 'El señor de los anillos',
 'Cien años de soledad',
 'Harry Potter',
 'Lectura Fácil',
 'Seda',
 'La chica de nieve',
 'El día que se perdió la cordura',
 'Data Science',
 '1984']

5. Te piden que añadas a esta lista el nuevo libro de Los Juegos del hambre que se titula *Balada de pájaros cantores y serpientes*. Has contado las unidades y han llegado 10. 

    a. Crea una variable con el título del libro, que se llame **libro_1**. Añade este elemento a la lista **libros**.

    b. Crea una variable con el número de unidades, que se llame **uds_1**.

    c. Crea una variable que sea una lista llamada **nuevo_libro** en el que su primer elemento sea **libro_1** y el segundo **uds_1**. 

    d. Convierte a **nuevo_libro** a tupla.
    (muestra qué tipo es ahora esta variable)

    e. Añade **nuevo_libro** a la lista **biblioteca**

In [44]:
#your code here
libro_1 = 'Balada de pájaros cantores y serpientes'
libros.append(libro_1)

In [45]:
uds_1 = 10

In [46]:
nuevo_libro = [libro_1, uds_1]

In [47]:
nuevo_libro = tuple(nuevo_libro)
print(type(nuevo_libro))

<class 'tuple'>

In [48]:
biblioteca.append(nuevo_libro)

In [49]:
biblioteca

[('El mal de Corcira', 4),
 ('Un mundo feliz', 2),
 ('Lolita', 5),
 ('Crimen y castigo', 2),
 ('Python from for to pro', 0),
 ('El señor de los anillos', 6),
 ('Cien años de soledad', 5),
 ('Harry Potter', 9),
 ('Lectura Fácil', 4),
 ('Seda', 2),
 ('La chica de nieve', 6),
 ('El día que se perdió la cordura', 3),
 ('Data Science', 0),
 ('Balada de pájaros cantores y serpientes', 10)]

6. Acaban de traer una unidad más de *El mal de Corcira*, añade una unidad más al segundo elemento del primer elemento de la lista **biblioteca**.

In [50]:
biblioteca[0]

('El mal de Corcira', 4)

In [51]:
biblioteca[0][1]

4

In [52]:
### biblioteca[0][1] = biblioteca[0][1] + 1

¿Cómo se te ocurre que podrías alterar este dato?

In [53]:
#your comment here
# Buscaría si el primer elemento de alguno de los elementos de la lista "biblioteca" coincide con el libro "El mal de Corcira", si es asi, tomaría ese elemento de la lista (la tupla completa), la convierto en lista, aumento su segundo elemento en 1 y lo convierto nuevamente en tupla.

Convierte la tupla en una lista para poder modificar el segundo elemento y añadir esta unidad. Asigna la tupla convertida a lista a la variable **tup_to_list** haz los cambios, agrega la unidad y vuelve a añadir la lista ya convertida en tupla a la lista **biblioteca**.

In [54]:
#your code here
for i in range(len(biblioteca)):
    if biblioteca[i][0] == 'El mal de Corcira':
        tup_to_list = list(biblioteca[i])
        tup_to_list[1] += 1
        biblioteca[i] = tuple(tup_to_list)

In [55]:
biblioteca

[('El mal de Corcira', 5),
 ('Un mundo feliz', 2),
 ('Lolita', 5),
 ('Crimen y castigo', 2),
 ('Python from for to pro', 0),
 ('El señor de los anillos', 6),
 ('Cien años de soledad', 5),
 ('Harry Potter', 9),
 ('Lectura Fácil', 4),
 ('Seda', 2),
 ('La chica de nieve', 6),
 ('El día que se perdió la cordura', 3),
 ('Data Science', 0),
 ('Balada de pájaros cantores y serpientes', 10)]

Ahora, tenemos dos tuplas con el libro *El mal de Corcira*, pero esto no es lo que queremos. Elimina el primer elemento de la lista **biblioteca**.

Hint: https://www.programiz.com/python-programming/methods/list/remove

In [56]:
#your code here
# No cuento con 2 tuplas con el libro "El mal de Corcira", ya que cambié directamente el elemento completo por el nuevo con la nueva unidad adicionada. De todas maneras, hago el ejercicio eliminando el primer elemento de la lista y lo dejo como comentario para que no modifique la variable para el resto de la tarea.

In [57]:
'''
biblioteca.pop(0)
biblioteca
'''

'\nbiblioteca.pop(0)\nbiblioteca\n'

7. Te han pedido que localices los títulos de los libros de los que no disponen de unidades. Es decir, su segundo elemento, es igual a 0.

In [58]:
#your code here
for i in range(len(biblioteca)):
    if biblioteca[i][1] == 0:
        print(biblioteca[i][0])

Python from for to pro
Data Science

8. ¿Cómo meterías estos dos elementos en una lista llamada **missing**?

In [59]:
#your code here
missing = []
for i in range(len(biblioteca)):
    if biblioteca[i][1] == 0:
        missing.append(biblioteca[i][0])
print(missing)

['Python from for to pro', 'Data Science']

9. Como en cualquier jornada de trabajo, recibes miles de email, hay uno que no habías visto pero en el que tu jefa te pide hacer un pequeño programita (función) que recoja el título de un libro y la cantidad de libros, este último parámetro por defecto será 1, chequée si tenemos ese título en la lista `libros` y si lo tenemos, sume esa cantidad a su cantidad en la lista `biblioteca` y si no, añada el título a `libros` y en una tupla nueva con la cantidad correspondiente a la lista `biblioteca`.

In [60]:
# Para comenzar este ejercicio, añadiré el libro "1984" a la lista biblioteca (el cual de momento lo tenemos únicamente en la lista libros). Por defecto, le prondré que no contamos con ninguna unidad del mismo.

In [61]:
biblioteca.append(('1984', 0))
biblioteca

print('Tamaño de lista "libros": ' + str(len(libros)))
print('Tamaño de lista "biblioteca": ' + str(len(biblioteca)))
biblioteca

Tamaño de lista "libros": 15
Tamaño de lista "biblioteca": 15

[('El mal de Corcira', 5),
 ('Un mundo feliz', 2),
 ('Lolita', 5),
 ('Crimen y castigo', 2),
 ('Python from for to pro', 0),
 ('El señor de los anillos', 6),
 ('Cien años de soledad', 5),
 ('Harry Potter', 9),
 ('Lectura Fácil', 4),
 ('Seda', 2),
 ('La chica de nieve', 6),
 ('El día que se perdió la cordura', 3),
 ('Data Science', 0),
 ('Balada de pájaros cantores y serpientes', 10),
 ('1984', 0)]

In [62]:
#your code here
def agregar_libro(parametro1, parametro2):
    if parametro1 not in libros:
        libros.append(parametro1)
        if parametro2 == '':
            biblioteca.append((parametro1, 1))
        else:
            biblioteca.append((parametro1, int(parametro2)))
    else:
        for i, tupla_libro in enumerate(biblioteca):
            if parametro1 == tupla_libro[0]:
                lista_libro = list(tupla_libro)
                if parametro2 == '':
                    lista_libro[1] = lista_libro[1] + 1
                    biblioteca[i]= tuple(lista_libro)
                else:
                    lista_libro[1] = lista_libro[1] + int(parametro2)
                    biblioteca[i]= tuple(lista_libro)
    print(libros)
    print('-----------------------------------------------------------------------------------')
    print(biblioteca)

In [63]:
titulo = input('Ingrese el nombre del libro a agregar:')
cantidad = input('Ingrese la cantidad de unidades de dicho libro (si es uno solo, puede presionar intro):')

agregar_libro(parametro1=titulo, parametro2=cantidad)

['El mal de Corcira', 'Un mundo feliz', 'Lolita', 'Crimen y castigo', 'Python from for to pro', 'El señor de los anillos', 'Cien años de soledad', 'Harry Potter', 'Lectura Fácil', 'Seda', 'La chica de nieve', 'El día que se perdió la cordura', 'Data Science', '1984', 'Balada de pájaros cantores y serpientes', 'kajsdhkasjd']
-----------------------------------------------------------------------------------
[('El mal de Corcira', 5), ('Un mundo feliz', 2), ('Lolita', 5), ('Crimen y castigo', 2), ('Python from for to pro', 0), ('El señor de los anillos', 6), ('Cien años de soledad', 5), ('Harry Potter', 9), ('Lectura Fácil', 4), ('Seda', 2), ('La chica de nieve', 6), ('El día que se perdió la cordura', 3), ('Data Science', 0), ('Balada de pájaros cantores y serpientes', 10), ('1984', 0), ('kajsdhkasjd', 1)]

In [68]:
print(libros)
print('----------')
for i in biblioteca:
    print(str(i) + '\n')

['El mal de Corcira', 'Un mundo feliz', 'Lolita', 'Crimen y castigo', 'Python from for to pro', 'El señor de los anillos', 'Cien años de soledad', 'Harry Potter', 'Lectura Fácil', 'Seda', 'La chica de nieve', 'El día que se perdió la cordura', 'Data Science', '1984', 'Balada de pájaros cantores y serpientes', 'kajsdhkasjd']
----------
('El mal de Corcira', 5)

('Un mundo feliz', 2)

('Lolita', 5)

('Crimen y castigo', 2)

('Python from for to pro', 0)

('El señor de los anillos', 6)

('Cien años de soledad', 5)

('Harry Potter', 9)

('Lectura Fácil', 4)

('Seda', 2)

('La chica de nieve', 6)

('El día que se perdió la cordura', 3)

('Data Science', 0)

('Balada de pájaros cantores y serpientes', 10)

('1984', 0)

('kajsdhkasjd', 1)

In [ ]:
biblioteca

In [73]:
asd = [('perro', 8), ('gato', 9),('oso', 5, 'valor extra')]
for i,valor in enumerate(asd):
    print(valor[1])

8
9
5

In [71]:
print(asd)

[('perro', 8), ('gato', 9), ('oso', 5)]

Pruébalo añadiendo el título de "Guía del Autopista Galáctico", cantidad 42.

In [32]:
#your code here
titulo_ejercicio = 'Guía del Autopista Galáctico'
cantidad_ejercicio = 42

agregar_libro(parametro1=titulo_ejercicio, parametro2=cantidad_ejercicio)

['El mal de Corcira', 'Un mundo feliz', 'Lolita', 'Crimen y castigo', 'Python from for to pro', 'El señor de los anillos', 'Cien años de soledad', 'Harry Potter', 'Lectura Fácil', 'Seda', 'La chica de nieve', 'El día que se perdió la cordura', 'Data Science', '1984', 'Balada de pájaros cantores y serpientes', 'erarasd', 'Guía del Autopista Galáctico']
-----------------------------------------------------------------------------------
[('El mal de Corcira', 5), ('Un mundo feliz', 2), ('Lolita', 5), ('Crimen y castigo', 2), ('Python from for to pro', 0), ('El señor de los anillos', 6), ('Cien años de soledad', 5), ('Harry Potter', 9), ('Lectura Fácil', 4), ('Seda', 2), ('La chica de nieve', 6), ('El día que se perdió la cordura', 3), ('Data Science', 0), ('Balada de pájaros cantores y serpientes', 10), ('1984', 0), ('erarasd', 1), ('Guía del Autopista Galáctico', 42)]

### Bonus Track

10. ¿Cuál es el libro con más unidades? ¿Cuál es la media de libros por título?

In [33]:
#your code here
lista_unidades = []
for w in range(len(biblioteca)):
    lista_unidades.append(biblioteca[w][1])
lista_unidades
mas_unidades = max(lista_unidades)
posicion_maximo = lista_unidades.index(max(lista_unidades))
print('El libro con más unidades es ' + biblioteca[posicion_maximo][0] + ' (' + str(mas_unidades) + ' unidades).')
print('-----------------------------------------------------------------------')
suma = 0
for z in range(len(biblioteca)):
    suma = suma + (biblioteca[z][1])
media = suma / len(biblioteca)
media_3decimales = round(media, 3)
print('La media de libros por título es ' + str(media_3decimales))

El libro con más unidades es Guía del Autopista Galáctico (42 unidades).
-----------------------------------------------------------------------
La media de libros por título es 6.0

11. ¿Cuál tiene el título más largo y cuál el más corto?

In [34]:
#your code here                                      # DEBERIA PONER CONDICIONES POR SI HAY MAS DE UN LIBRO DE IGUAL LONGITUD (como los                                                          mas cortos) 
lista_largos = []
for w in range(len(libros)):
    lista_largos.append(len(libros[w]))
posicion_largo = lista_largos.index(max(lista_largos))
print('El título más largo es: ' + libros[posicion_largo] + '.')

El título más largo es: Balada de pájaros cantores y serpientes.