In [1]:
from utils.b import function1

function1()

'function1'

In [2]:
import sys
sys.path[0]

'c:\\Users\\LeoFr\\Desktop\\BootCamp\\CARPETAS_profesorYalumno\\Leonardo.DataScience\\week7_EDA_pbi_map_rss\\day3_review\\relative_imports_review\\src'

In [3]:
import dashboard.a

###
c:\Users\LeoFr\Desktop\BootCamp\CARPETAS_profesorYalumno\Leonardo.DataScience\week7_EDA_pbi_map_rss\day3_review\relative_imports_review\src\dashboard\a.py
###

c:\Users\LeoFr\Desktop\BootCamp\CARPETAS_profesorYalumno\Leonardo.DataScience\week7_EDA_pbi_map_rss\day3_review\relative_imports_review\src

In [4]:
from dashboard.a import function_a

function_a()

Function a
function_c

In [5]:
s = "ABC\DEFGH"
s.replace("\\", "\\\\")

'ABC\\\\DEFGH'

In [6]:
# read_csv auto-mpg.csv
import pandas as pd 

# La segunda mejor práctica
df = pd.read_csv("../data/auto-mpg.csv")

df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [8]:
# Esta es la mejor práctica sin duda

# read_csv auto-mpg.csv calculando el archivo de forma absoluta

import os
SEP = os.sep
dir = os.path.dirname

csv_fullpath = dir(os.getcwd()) + SEP + "data" + SEP + "auto-mpg.csv"

csv_fullpath

'c:\\Users\\LeoFr\\Desktop\\BootCamp\\CARPETAS_profesorYalumno\\Leonardo.DataScience\\week7_EDA_pbi_map_rss\\day3_review\\relative_imports_review\\data\\auto-mpg.csv'

In [34]:
pd.read_csv(csv_fullpath)

      mpg  cylinders  ...  origin                   car name
0    18.0          8  ...       1  chevrolet chevelle malibu
1    15.0          8  ...       1          buick skylark 320
2    18.0          8  ...       1         plymouth satellite
3    16.0          8  ...       1              amc rebel sst
4    17.0          8  ...       1                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...       1            ford mustang gl
394  44.0          4  ...       2                  vw pickup
395  32.0          4  ...       1              dodge rampage
396  28.0          4  ...       1                ford ranger
397  31.0          4  ...       1                 chevy s-10

[398 rows x 9 columns]