## Working on Jsons

In [2]:
import requests
import json
import pandas as pd

In [3]:
r = requests.get(url='http://data.nba.net/prod/v2/2018/teams.json')
json_readed = json.loads(r.text)

In [16]:
json_propio = r.json() # --> También podría leerlo así.    json_readed  == json_propio --> True

In [9]:
type(json_readed)

dict

In [11]:
df = pd.DataFrame(json_readed)
df

,_internal,league
pubDateTime,2018-08-30 20:00:04.422,NaN
xslt,xsl/league/roster/marty_teams_list.xsl,NaN
eventName,league_roster,NaN
standard,NaN,"[{'isNBAFranchise': False, 'isAllStar': True, ..."
africa,NaN,"[{'isNBAFranchise': False, 'isAllStar': False,..."
sacramento,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
vegas,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
utah,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."

In [13]:
df2 = df.loc["standard":, "league":]   # Lo hace directamente DataFrame porque tiene los ":" después de "league"
print(type(df2))
df2

<class 'pandas.core.frame.DataFrame'>

                                                       league
standard    [{'isNBAFranchise': False, 'isAllStar': True, ...
africa      [{'isNBAFranchise': False, 'isAllStar': False,...
sacramento  [{'isNBAFranchise': True, 'isAllStar': False, ...
vegas       [{'isNBAFranchise': True, 'isAllStar': False, ...
utah        [{'isNBAFranchise': True, 'isAllStar': False, ...

In [15]:
# Pasar una serie a DataFrame
df_serie = df.loc["standard":, "league"]    # Es una serie porque se toma sólo para la columna "league" y no se le pone ":"
print('df_serie:', type(df_serie))
df3 = pd.DataFrame(df_serie)
df3

df_serie: <class 'pandas.core.series.Series'>

                                                       league
standard    [{'isNBAFranchise': False, 'isAllStar': True, ...
africa      [{'isNBAFranchise': False, 'isAllStar': False,...
sacramento  [{'isNBAFranchise': True, 'isAllStar': False, ...
vegas       [{'isNBAFranchise': True, 'isAllStar': False, ...
utah        [{'isNBAFranchise': True, 'isAllStar': False, ...

### Data Mining & Data Wrangling
As you can see, there are jsons inside the original json. For that, we have to mining the json (data mining) to be able to use it correctly (data wrangling). 

How do you solve this issue? Research about this and try a solution.

#### GOAL

![](json_df_goal_nba.png)

## A partir de aquí lo empiezo a resolver

### 1. Leo el json de un sitio web

In [17]:
r = requests.get(url='http://data.nba.net/prod/v2/2018/teams.json')
mi_json = r.json()

In [19]:
type(mi_json)

dict

### 2. Guardo el json en un archivo local... Sirve principalmente para no tener que realizar llamadas al sitio web cada vez que cierro el archivo y pierdo las variables  --> Ya lo guardé indentado para facilitar la visualización

In [105]:
with open('json_local.json', '+w') as mi_variable:
    json.dump(mi_json, mi_variable, indent= 4)

### 3. Leo el archivo LOCAL del json

In [23]:
with open('json_local.json', '+r') as mi_variable:
    json_local_leido = json.load(mi_variable)

In [26]:
print(type(json_local_leido))

<class 'dict'>

### 4. Transformar a DataFrame --> 2 caminos
> 1° forma. Pasar diccionario a DataFrame

> 2° forma. Leer json como DataFrame

### 1° Forma

In [30]:
df_json_diccionario = pd.DataFrame(json_local_leido)
df_json_diccionario

,_internal,league
pubDateTime,2018-08-30 20:00:04.422,NaN
xslt,xsl/league/roster/marty_teams_list.xsl,NaN
eventName,league_roster,NaN
standard,NaN,"[{'isNBAFranchise': False, 'isAllStar': True, ..."
africa,NaN,"[{'isNBAFranchise': False, 'isAllStar': False,..."
sacramento,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
vegas,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
utah,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."

### 2° Forma

In [33]:
df_json_json = pd.read_json('json_local.json')  # --> Se lee el ARCHIVO LOCAL
df_json_json

,_internal,league
pubDateTime,2018-08-30 20:00:04.422,NaN
xslt,xsl/league/roster/marty_teams_list.xsl,NaN
eventName,league_roster,NaN
standard,NaN,"[{'isNBAFranchise': False, 'isAllStar': True, ..."
africa,NaN,"[{'isNBAFranchise': False, 'isAllStar': False,..."
sacramento,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
vegas,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
utah,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."

### 5. Data Wrangling

In [37]:
df_json_diccionario

,_internal,league
pubDateTime,2018-08-30 20:00:04.422,NaN
xslt,xsl/league/roster/marty_teams_list.xsl,NaN
eventName,league_roster,NaN
standard,NaN,"[{'isNBAFranchise': False, 'isAllStar': True, ..."
africa,NaN,"[{'isNBAFranchise': False, 'isAllStar': False,..."
sacramento,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
vegas,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
utah,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."

In [84]:
print(type(json_local_leido['league']))
print(len(json_local_leido['league']))
json_local_leido['league'].keys() # --> League es un diccionario con 5 claves: standard, africa, sacramento, vegas y utah

<class 'dict'>
5

dict_keys(['standard', 'africa', 'sacramento', 'vegas', 'utah'])

In [108]:
print(type(json_local_leido['league']['standard'])) # --> Es una lista de 48 diccionarios
len(json_local_leido['league']['standard'])

<class 'list'>

48

In [59]:
print(type(json_local_leido['league']['africa'])) # --> Es una lista de 2 diccionarios
len(json_local_leido['league']['africa'])

<class 'list'>

2

In [64]:
print(type(json_local_leido['league']['sacramento'])) # --> Es una lista de 4 diccionarios
len(json_local_leido['league']['sacramento'])

<class 'list'>

4

In [68]:
print(type(json_local_leido['league']['vegas'])) # --> Es una lista de 30 diccionarios
len(json_local_leido['league']['vegas'])

<class 'list'>

30

In [73]:
print(type(json_local_leido['league']['utah'])) # --> Es una lista de 4 diccionarios
len(json_local_leido['league']['utah'])

<class 'list'>

4

In [41]:
df_interes = df_json_diccionario.loc['standard':,'league':]

In [42]:
type(df_interes)

pandas.core.frame.DataFrame

In [47]:
df_interes_league = pd.DataFrame(df_interes)
df_interes_league

                                                       league
standard    [{'isNBAFranchise': False, 'isAllStar': True, ...
africa      [{'isNBAFranchise': False, 'isAllStar': False,...
sacramento  [{'isNBAFranchise': True, 'isAllStar': False, ...
vegas       [{'isNBAFranchise': True, 'isAllStar': False, ...
utah        [{'isNBAFranchise': True, 'isAllStar': False, ...

## Extrayendo diccionarios de las listas de diccionarios

In [110]:
len(json_local_leido['league']['standard'])

48

In [121]:
df_standard = pd.DataFrame(json_local_leido['league']['standard'])
df_africa = pd.DataFrame(json_local_leido['league']['africa'])
df_sacramento = pd.DataFrame(json_local_leido['league']['sacramento'])
df_vegas = pd.DataFrame(json_local_leido['league']['vegas'])
df_utah = pd.DataFrame(json_local_leido['league']['utah'])

In [122]:
final = pd.concat([df_standard, df_africa, df_sacramento, df_vegas, df_utah], axis= 0)

In [123]:
final

,isNBAFranchise,isAllStar,city,altCityName,fullName,tricode,teamId,nickname,urlName,confName,divName
0,False,True,USA,USA,USA,USA,1610616843,USA,usa,East,East
1,False,True,World,World,World,WLD,1610616844,World,world,East,East
2,False,True,Team,Team,All-Stars,EST,1699999999,All-Stars,assn_away,East,East
3,False,True,Team,Team,All-Stars,WST,1699999998,All-Stars,assn_home,West,West
4,False,True,Team Giannis,Team Giannis,Team Giannis,GNS,1610616833,Team Giannis,team_giannis,East,East
...,...,...,...,...,...,...,...,...,...,...,...
29,True,False,Washington,Washington,Washington Wizards,WAS,1610612764,Wizards,wizards,summer,
0,True,False,Atlanta,Atlanta,Atlanta Hawks,ATL,1610612737,Hawks,hawks,Utah,
1,True,False,Memphis,Memphis,Memphis Grizzlies,MEM,1610612763,Grizzlies,grizzlies,Utah,
2,True,False,San Antonio,San Antonio,San Antonio Spurs,SAS,1610612759,Spurs,spurs,Utah,
3,True,False,Utah,Utah,Utah Jazz,UTA,1610612762,Jazz,jazz,Utah,