# 06 - Combining datasets

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [4]:
import pandas as pd
import random
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [5]:
serie1 = pd.Series(np.random.randint(1,5,100))
serie2 = pd.Series(np.random.randint(1,4,100))
serie3 = pd.Series(np.random.randint(10000,30001,100))

In [6]:
a = np.random.randint(1,5,100)
a

array([1, 3, 4, 3, 2, 3, 1, 1, 2, 3, 4, 1, 3, 3, 2, 4, 1, 4, 2, 1, 2, 4,
       4, 4, 1, 2, 2, 4, 1, 2, 3, 4, 2, 1, 2, 3, 4, 1, 4, 2, 3, 2, 2, 4,
       4, 2, 3, 2, 1, 1, 4, 2, 2, 3, 2, 1, 4, 4, 4, 3, 1, 2, 2, 3, 1, 1,
       4, 4, 3, 2, 1, 1, 1, 1, 2, 3, 2, 4, 3, 4, 2, 2, 2, 3, 3, 1, 2, 4,
       2, 2, 2, 1, 1, 1, 1, 2, 3, 3, 1, 3])

### Step 3. Let's create a DataFrame by joinning the Series by column

In [7]:
df1 = pd.DataFrame(serie1)
df2 = pd.DataFrame(serie2)
df3 = pd.DataFrame(serie3)
display(df1, df2, df3)

    0
0   4
1   2
2   3
3   1
4   2
.. ..
95  2
96  2
97  4
98  1
99  1

[100 rows x 1 columns]

    0
0   2
1   2
2   3
3   3
4   3
.. ..
95  3
96  3
97  3
98  2
99  3

[100 rows x 1 columns]

        0
0   29191
1   22329
2   13035
3   20942
4   14869
..    ...
95  12928
96  26709
97  14418
98  18613
99  26708

[100 rows x 1 columns]

In [8]:
df_total = pd.concat([df1, df2, df3], axis= 1)
df_total

    0  0      0
0   4  2  29191
1   2  2  22329
2   3  3  13035
3   1  3  20942
4   2  3  14869
.. .. ..    ...
95  2  3  12928
96  2  3  26709
97  4  3  14418
98  1  2  18613
99  1  3  26708

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [9]:
df_total.columns=['bedrs', 'bathrs', 'price_sqr_meter']
df_total

    bedrs  bathrs  price_sqr_meter
0       4       2            29191
1       2       2            22329
2       3       3            13035
3       1       3            20942
4       2       3            14869
..    ...     ...              ...
95      2       3            12928
96      2       3            26709
97      4       3            14418
98      1       2            18613
99      1       3            26708

[100 rows x 3 columns]

### Step 5. Create a column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [10]:
bigcolumn = pd.concat([serie1, serie2, serie3])
print(type(bigcolumn))
bigcolumn

<class 'pandas.core.series.Series'>

0         4
1         2
2         3
3         1
4         2
      ...
95    12928
96    26709
97    14418
98    18613
99    26708
Length: 300, dtype: int32

In [13]:
df_total['bigcolumn'] = bigcolumn

ValueError: cannot reindex from a duplicate axis

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [12]:
df_total.index.values

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
      dtype=int64)

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [ ]:
nuevo_indice = list(range(0,300))

In [ ]:
df_total = df_total.reindex(nuevo_indice)
df_total

# NO ENTIENDOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO por que los NaN en la columna bigcolumn !!!!!!!!!!