In [4]:
import pandas as pd
import dtale

In [15]:
accidentes = pd.read_csv('2016_accidents.csv')
dtale.show(accidentes)

In [17]:
accidentes.groupby('Descripció victimització').sum()

,Codi districte,Codi barri,Codi carrer,NK Any,Mes de any,Dia de mes,Hora de dia,Long,Lat
Descripció victimització,,,,,,,,,
Ferit greu,885,4899,44783991,385056,1214,3232,2631,2534.522695,7907.123442
Ferit lleu,56844,317573,2857920977,23895648,78012,185216,165223,45013.536695,697484.523694
Mort,125,655,5614720,56448,189,472,332,60.305997,1159.155728