# Data Science Bootcamp - The Bridge 
## Precurso
En este notebook vamos a ver, uno a uno, los conceptos básicos de Python. Constarán de ejercicios prácticos acompañados de una explicación teórica dada por el profesor.

Los siguientes enlaces están recomendados para el alumno para profundizar y reforzar conceptos a partir de  ejercicios y ejemplos:

- https://facundoq.github.io/courses/aa2018/res/02_python.html

- https://www.w3resource.com/python-exercises/

- https://www.practicepython.org/

- https://es.slideshare.net/egutierrezru/python-paraprincipiantes

- https://www.sololearn.com/Play/Python#

- https://github.com/mhkmcp/Python-Bootcamp-from-Basic-to-Advanced

Ejercicios avanzados:

- https://github.com/darkprinx/100-plus-Python-programming-exercises-extended/tree/master/Status (++)

- https://github.com/mahtab04/Python-Programming-Practice (++)

- https://github.com/whojayantkumar/Python_Programs (+++)

- https://www.w3resource.com/python-exercises/ (++++)

- https://github.com/fupus/notebooks-ejercicios (+++++)

Tutor de ayuda PythonTutor:

- http://pythontutor.com/

## 1. Variables y tipos

### Cadenas

In [ ]:
# Entero - Integer - int
x = 7
# Cadena - String - Lista de caracteres
x = "lorena"
print(x)

x = 7
print(x)

In [ ]:
# built-in
type

In [ ]:
x = 5
y = 7

z = x + y
print(z)

In [ ]:
x = "'lorena'\" "
l = 'silvia----'

g = x + l
# Las cadenas se concatenan
print(g)

In [ ]:
print(g)

In [ ]:
# type muestra el tipo de la variable
type(g)

In [ ]:
type(3)

In [ ]:
# print es una función que recibe varios argumentos y cada argumento está diferenciado por la coma. Después de cada coma, la función 'print' añade un espacio.

# mala praxis
print(    g,z  ,    6,     "cadena")

# buena praxis - PEP8
print(g, z, 6, "cadena")

In [ ]:
# Cambiar de int a str

In [ ]:
# Cambiar de str a int

In [ ]:
# Para ver la longitud de una lista de caracteres (lista)

In [ ]:
# String, Integer, Float, List, None (NaN), bool
# str, int, float, list, bool

In [2]:
x = 5.878
print(x)
print (type(x))

5.878
<class 'float'>

In [3]:
x = 6.654
y = int (x)
print (x)
print (y)

6.654
6

In [ ]:
m = ((((65 + int("22")) * 2)))
m

In [ ]:
print(type(int(string2)))

In [ ]:
# los decimales son float. Python permite las operaciones entre int y float
x = 4
y = 4.2

print(x + y)

In [ ]:
# La división normal (/) es siempre float
# La división absoluta (//) puede ser: 
# - float si uno de los dos números (o los dos) son float
# - int si los dos son int 
j = 15
k = 4
division = j // k

In [ ]:
num1 = 12
num2 = 3

suma = num1 + num2
resta = num1 - num2
multiplicacion = num1 * num2 
division = num1 / num2
division_absoluta = num1 // num2

print("suma:", suma)
print("resta:", resta)
print("multiplicacion:", multiplicacion)
print("division:", division)
print("division_absoluta:", division_absoluta)
print(type(division))
print(type(division_absoluta))

In [5]:
# Jupyter notebook permite que la última línea se imprima por pantalla ( la variable )

x = 2
s = 4
s
x

# LA ULTIMA LINEA (y solo la ultima) LA INTERPRETA COMO UN PRINT... Esto ocurre solo en JUPYTER

2

In [ ]:
# Soy un comentario
# print("Hello Python world!")
# Estoy creando una variable que vale 2
"""
Esto es otro comentario
"""

## Ejercicio: 
### Crear una nueva celda.
### Declarar tres variables: 
- Una con el nombre "edad" con valor vuestra edad
- Otra "edad_compañero_der" que contengan la edad de tipo entero de vuestro compañero de la derecha
- Otra "suma_anterior" que contenga la suma de las dos variables anteriormente declaradas

 Mostrar por pantalla la variable "suma_anterior"

In [6]:
edad = 31
edad_compañero_der = 45
suma_anterior = edad + edad_compañero_der
print (suma_anterior)

76

In [26]:
# funciones built-in de string

string1 = "Hola"
print (string1.upper())

HOLA

## 2. Números y operadores

In [9]:
### Enteros ###

x = 3

print("- Tipo de x:")
print(type(x)) # Imprime el tipo (o `clase`) de x
print("- Valor de x:")
print(x)       # Imprimir un valor
print("- x+1:")
print(x + 1)   # Suma: imprime "4"
print("- x-1:")
print(x - 1)   # Resta; imprime "2"
print("- x*2:")
print(x * 2)   # Multiplicación; imprime "6"
print("- x^2:")
print(x ** 2)  # Exponenciación; imprime "9"
# Modificación de x
x += 1 
print("- x modificado:")
print(x)  # Imprime "4"

x *= 2
print("- x modificado:")
print(x)  # Imprime "8"

print("- El módulo de x con 40")
print(40 % x)

print("- Varias cosas en una línea:")
print(1, 2, x, 5*2) # imprime varias cosas a la vez

- Tipo de x:
<class 'int'>
- Valor de x:
3
- x+1:
4
- x-1:
2
- x*2:
6
- x^2:
9
- x modificado:
4
- x modificado:
8
- El módulo de x con 40
0
- Varias cosas en una línea:
1 2 8 10

In [10]:
# El módulo muestra el resto de la división entre dos números

x = 4 % 2 #NOS QUEDAMOS CON EL RESTO
print(x)

0

In [ ]:
numero = 99

numero % 2  # Si el resto es 0, el número es par. Sino, impar.

## Título markdown

# INPUT

In [11]:
x = input()
print(x)

# Me pedira ingresar un texto. x siempre sera un STR... Aunque se ingrese un numero

Hola, soy el texto

In [12]:
x = input()
print(x)
print(type(x))

76
<class 'str'>

In [15]:
x= int(input())
print (x)
print(type(x))

43
<class 'int'>

In [17]:
x = input()
print (x)
print (type(x))
r = 4 + x
print (r)

6
<class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [19]:
x = int(input())
print(x)
print(type(x))
s = 4 + x
print (s)
print(type(s))

6
<class 'int'>
10
<class 'int'>

In [22]:
x = input("Escribe algo") #El input me pide que escriba algo. Ejemplo, si hacemos una calculadora puedo pedirle que escriba un numero

print(x)

Holitaaa

## 3. Tipo None

In [23]:
# EL TIPO NONE
x = NONE
p = 5 + x
print (p)

# No se puede sumar con un tipo NONE

NameError: name 'NONE' is not defined

## 4. Listas y colecciones

In [ ]:
# Una coleccion:
# lista, conjunto (set), tupla, array, string

In [28]:
# Lista de elementos:

# Las posiciones se empiezan a contar desde 0
s = "Cadena"

In [29]:
print(s[0])

C

In [32]:
lista = [3, 7.2, "hola"]
print(type(lista))
print(lista[2]) #ultimo
print(lista[1]) #penultimo
print(lista[0]) #antepenultimo

# ATENCION: para contar en listas de arranca por 0
# La ultima posicion de una coleccion coincide con el tamaño de la coleccion - 1

<class 'list'>
hola
7.2
3

In [33]:
lista = [3, 7.2, "hola"]
print(lista[-1]) #ultimo
print(lista[-2]) #penultimo
print(lista[-3]) #antepenultimo

#ATENCION: para contar en listas de atras a adelante

hola
7.2
3

In [34]:
lista = [3, 7.2, "hola"]
print(lista[0:2]) #ATENCION: el primer numero (0) se incluye, pero el ultimo (2) no se incluye... esto nos da el print del primer y segundo elemento.

[3, 7.2]

In [36]:
lista2 = ["hola", 2, [7.2, "x"]]
print(len(lista2))
print(lista2[-1])

3
[7.2, 'x']

In [39]:
lista2 = ["hola", 2, [7.2, "xa"]]
print(lista2[-1][-1])

#ATENCION: Para mostrar un elemento de una lista contenida en otra lista...

xa

In [41]:
lista3 = ["hola", 2, [7.2, "xa"]]
print(lista3[-1][-1][0])

#

x

In [49]:
lista4 = ["hola", 2, [7.2, "xa"]]
print(type(lista4))
print(lista4[-1])
print(type(lista4[-1]))
print(lista4[-1][1])
print(type(lista4[-1][1]))
print(lista4[-1][1][-1])
print(type(lista4[-1][1][-1]))

<class 'list'>
[7.2, 'xa']
<class 'list'>
xa
<class 'str'>
a
<class 'str'>

In [53]:
lista4 = ["hola", 2, [[7.2, "xa"]]] # ATENCION !!!! Hay una lista con un elemento solo... es el tercer elemento de la lista principal
print(type(lista4))
print(lista4[-1])
print(type(lista4[-1]))
print(lista4[-1][0])
print(type(lista4[-1][0]))
print(lista4[-1][0][-1])
print(type(lista4[-1][0][-1]))
print(lista4[-1][0][-1][-1])
print(type(lista4[-1][0][-1][-1]))

<class 'list'>
[[7.2, 'xa']]
<class 'list'>
[7.2, 'xa']
<class 'list'>
xa
<class 'str'>
a
<class 'str'>

In [57]:
lista = [4, "x"]
print(lista)
lista.append(7) #AGREGA UN VALOR EN LA ULTIMA POSICION DE LA LISTA
print(lista)

[4, 'x']
[4, 'x', 7]

In [59]:
listaaa = [6,"x"]
print(listaaa) #OBSERVAR CUADRO DE ABAJO

[6, 'x']

In [61]:
listaaa.append (98)
print(listaaa)

#CADA VEZ QUE USO ESTE CUADRO SE AGREGA OOOOTRO 98 A LA LISTA

[6, 'x', 98, 98]

In [62]:
lis1 = [2,"w",7]
print(lis1)
lis1.remove(7) #REMUEVE EL ELEMENTO QUE ELIJO... si hubiera mas de uno, remueve el primero
print(lis1)

[2, 'w', 7]
[2, 'w']

In [64]:
lis2 = [2,"w",7,"w"]
print(lis2)
lis2.remove("w") #REMUEVE EL ELEMENTO QUE ELIJO... si hubiera mas de uno, remueve el primero
print(lis2)

[2, 'w', 7, 'w']
[2, 7, 'w']

In [67]:
lis3 = [2,"z",7,"z"]
print(lis3)
lis3.append("z")

lis3.remove("z")
print(lis3)

[2, 'z', 7, 'z']
[2, 7, 'z', 'z']

In [68]:
lista = [4, "x", "y", ["z"]]

lista[-1].append([4]) #Añade una lista [4] a la lista ["z"]
print (lista)

[4, 'x', 'y', ['z', 4]]

In [71]:
h = 4
l = [4]
print("tipo de h:",type(h))
print("tipo de l:",type(l))

tipo de h: <class 'int'>
tipo de l: <class 'list'>

In [ ]:
s = "Hola soy Leonardo"

In [54]:
s = "Hola soy Clara"

print(s[::-1])

aralC yos aloH

In [ ]:
# Para acceder a varios elementos, se especifica con la nomenclatura "[N:M]". N es el primer elemento a obtener, M es el último elemento a obtener pero no incluido. Ejemplo: 

# Queremos mostrar desde las posiciones 3 a la 7. Debemos especificar: [3:8]

# Si M no tiene ningún valor, se obtiene desde N hasta el final. 
# Si N no tiene ningún valor, es desde el principio de la colección hasta M
s[3:len(s)]

In [ ]:
# Agrega un valor a la última posición de la lista

In [ ]:
# remove elimina el primer elemento que se encuentra que coincide con el valor del argumento

In [72]:
# Accedemos a la posición 1 del elemento que está en la posición 2 de lista

lista = ['1', 9.8, [8.1, 'xs']]
print(lista[2][1])

xs

In [ ]:
l.reverse()

In [73]:
lista =[2, 4, 6, 8, 'o']
print(len(lista))

5

In [74]:
lista =['a', 'b']
lista.reverse()
print(lista)

['b', 'a']

In [75]:
lista = ['a', 'b']
lista = lista.reverse()
print(lista)

None

### Colecciones

1. Listas
2. String (colección de caracteres)
3. Tuplas
4. Conjuntos (Set)
5. Diccionarios

In [ ]:
# Listas --> Mutables
lista = [2, 5, "caract", [9, "g", ["j"]]]
print(lista[-1][-1][-1])
lista[3][2][0]

In [ ]:
# Tuplas --> Inmutables

tupla = (2, 5, "caract", [9, "g", ["j"]])
tupla

In [ ]:
# Update listas
lista = [2, "6", ["k", "m"]]
lista[1] = 1
lista

In [ ]:
# Conjuntos

conjunto = [2, 4, 6, "a", "z", "h", 2]
conjunto = set(conjunto)
conjunto

In [ ]:
conjunto = ["a", "z", "h", 2, 2, 4, 6, True, True, False]
conjunto = set(conjunto)
conjunto

In [ ]:
conjunto = ["a", "z", "h", 2, 2, 4, 6, 2.1, 2.4, 2.3, True, True, False]
conjunto = set(conjunto)
conjunto

In [ ]:
conjunto_tupla = ("a", "z", "h", 2, 2, 4, 6, 2.1, 2.4, 2.3, True, True, False)
conjunto = set(conjunto_tupla)
conjunto

In [ ]:
conjunto = {"a", "z", "h", 2, 2, 4, 6, 2.1, 2.4, 2.3, True, True, False}
conjunto

In [ ]:
s = "String"
lista_s = list(s)
lista_s

In [ ]:
s = "String"
conj = {s}
conj

In [ ]:
# Cambiar de tupla a lista, remover elemento y convertir en tupla

In [ ]:
conjunto = {2, 5, "h"}
lista_con_conjunto = [conjunto]
lista_con_conjunto[0]

In [ ]:
# No podemos acceder a elementos de un conjunto
lista_con_conjunto[0][0]

## 5. Condiciones: if, elif, else

### Boolean

In [ ]:
True
False

In [ ]:
# Operadores comparativos

In [ ]:
# Diferente

In [ ]:
"""
==  -> Igualdad
!= -> Diferecia
< -> Menor que
> -> Mayor que
<= -> Menor o igual
>= -> Mayor o igual
"""

In [ ]:
# and solo devolverá True si TODOS son True
True and False

In [ ]:
# or devolverá True si UNO es True

In [ ]:
# Sinónimos de False para las condiciones:
# None
# False
# 0 (int or float)
# Cualquier colección vacía --> [], "", (), {}

# El None no actúa como un número al compararlo con otro número
"""
El True lo toma como un numérico 1
"""

# Bucles For, While

In [ ]:
# Lista alturas

## Funciones