# Python | day 1 | collections

Lists, tuples & sets

May help you https://www.w3schools.com/python/python_ref_list.asp

### Exercise 1.

1. Create:
    - a list type variable called **student_list** which contains the name of your classmates. 

Print the created list.

In [126]:
student_list = ["Leonardo", "Jonathan", "Javier", "Nacho", "Juan", "Sonia", "Pablo"]
student_list

['Leonardo', 'Jonathan', 'Javier', 'Nacho', 'Juan', 'Sonia', 'Pablo']

### Exercise 2

1. Create an empty list, call it **empty_list**

In [127]:
empty_list = []
empty_list

[]

2. Create a list with 5 items, call it **my_list**

In [128]:
my_list = ['Toalla', 'Protector solar', 'Sandalias', 'Pelota', 'Agua']
my_list

['Toalla', 'Protector solar', 'Sandalias', 'Pelota', 'Agua']

3. Find the length of **my_list**

In [129]:
print(len(my_list))

5

4. Get the first item, the middle item and the last item of **my_list**

In [130]:
print(my_list[0])
print(my_list[2])
print(my_list[4])

Toalla
Sandalias
Agua

5. Declare:
    - a **name** variable and assign a value to it
    - a **age** variable and assign a value to it
    - a **height** variable and assign a value to it
    - a **country** variable and assign a value to it
    - a **python_version** variable and assign a value to it

In [131]:
name = 'Leonardo'
age = 31
height = 175
country = 'Argentina'
python_version = "3.7.4"

6. Create a list called **mixed_data_types** with your name, age, height, country and python_version.

In [132]:
mixed_data_types = [name, age, height, country, python_version]
mixed_data_types

['Leonardo', 31, 175, 'Argentina', '3.7.4']

7. Declare a list variable named **it_companies** and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [133]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']


8. Print **it_companies** using print()

In [134]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

9. Print the number of companies in the list

In [135]:
print(len(it_companies))

7

11. Print *Google*

In [136]:
print(it_companies[1])

Google

10. Print the first, middle and last company

In [137]:
print(it_companies[0])
print(it_companies[3])
print(it_companies[6])

Facebook
Apple
Amazon

11. Assign a new value to the last element of the list

In [138]:
it_companies[-1] = 'Gmail'

12. Print the list after modifying one of the companies

In [139]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Gmail']

## Bonus track.

13. Add an IT company to **it_companies**

In [140]:
it_companies.append('Instagram')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Gmail', 'Instagram']

14. Check if *Apple* exists in the **it_companies** list.

In [141]:
if 'Apple' in it_companies:
    print('Yes')

Yes

15. Sort the list using `sort()` method

In [142]:
it_companies.sort()
it_companies

['Apple',
 'Facebook',
 'Gmail',
 'Google',
 'IBM',
 'Instagram',
 'Microsoft',
 'Oracle']

16. Reverse the list in descending order using `reverse()` method

In [143]:
it_companies.reverse()
it_companies

['Oracle',
 'Microsoft',
 'Instagram',
 'IBM',
 'Google',
 'Gmail',
 'Facebook',
 'Apple']

# VER EJERCICIO 17 ... diferentes interpretaciones

17. Slice out the first 3 companies from the list

In [145]:
print(it_companies[3:len(it_companies)])

['IBM', 'Google', 'Gmail', 'Facebook', 'Apple']

In [146]:
it_companies3 = it_companies[3:len(it_companies)]
it_companies3

['IBM', 'Google', 'Gmail', 'Facebook', 'Apple']

In [116]:
it_companies2 = it_companies[:3]
it_companies2

# De esa forma agarro los 3 primeros elementos y los meto en otra lista... QUIERO SABER COMO ELIMINAR LOS 3 PRIMEROS ELEMENTOS DELA LISTA

['Oracle', 'Microsoft', 'Instagram']

# Este de abajo estaria bien para quitar los 3 primeros elementos

In [153]:
print(it_companies)
it_companiesSIN3primeros = it_companies[3:]
it_companiesSIN3primeros

['Oracle', 'Microsoft', 'Instagram', 'IBM', 'Google', 'Gmail', 'Facebook', 'Apple']

['IBM', 'Google', 'Gmail', 'Facebook', 'Apple']

18. Remove the last IT company from the list

In [117]:
it_companies.remove(it_companies[-1])
it_companies

['Oracle', 'Microsoft', 'Instagram', 'IBM', 'Google', 'Gmail', 'Facebook']

19. Remove all IT companies from the list

In [118]:
it_companies.clear()
it_companies

[]

20. Join the following lists, and call the list **end**:

```python
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [119]:
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
end = front_end + back_end
end

[['HTML', 'CSS'], 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

21. From the **end** list print 'HTML'

In [120]:
print(end[0][0])

HTML

22. From the end list print the 'C' from the word 'CSS'

In [121]:
print(end[0][1][0])

C

### Exercise 3.

Do you know you can create tuples with only one element?

1. In the cell below, define a variable **tup** with a single element "T".

Hint: you need to add a comma (,) after the single element.

In [122]:
tup = ('T',)
tup

('T',)

2. Print the type of tup.
Make sure its type is correct (i.e. tuple instead of str).

In [123]:
print(type(tup))

<class 'tuple'>

3. Now try to append the following elements to **tup**.
Are you able to do it? Explain.

`"H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [125]:
# Para agregar elementos a la variable tup, primero debo transformarlo en una lista (mutable). Una vez que agrego los elementos, puedo volver a convertirlo en una tupla (inmutable).

tup = list(tup)
lista_resto = ['H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E']
resultado = tup + lista_resto
resultado = tuple(resultado)
resultado

# OTRA COSA QUE PODRIA HABER HECHO ES CAMBIAR tup A LISTA DIRECTAMENTE EN LA SUMA DE LA 3er LINEA

('T', 'H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E')

4. How about re-assign a new value to an existing tuple?

Re-assign the following elements to **tup**. 

Are you able to do it? Explain.


`"T", "H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [371]:
# No se pueden modificar los elementos de la tupla, a menos que se la convierta anteriormente en una lista.
# De todas formas no entiendo exactamente qué me pide el ejercicio.

### Exercise 4. 

1. Turn **lista_repes** into a *set* in order to get only the uniques values in the list, assing it to a variable called **my_set**

In [372]:
lista_repes = ["data", "data", "data", "science", "science", "python", "python", "diomedes", "diomedes", "diomedes", "diomedes", "clara", "gabriel", "gabriel", "gabriel"]

In [373]:
my_set = set(lista_repes)
my_set

{'clara', 'data', 'diomedes', 'gabriel', 'python', 'science'}

2. Try to print the first element of **my_set**

You did good if you get *TypeError: 'set' object is not subscriptable*.

In [375]:
print(my_set[0])

TypeError: 'set' object is not subscriptable

3. Turn **my_set** into a list, using the function `list()`. 

Can you print the first element now?

In [376]:
my_set = list(my_set)
my_set

#AL INTENTAR HACER EL PRINT DEL PRIMER ELEMENTO, ME DIO COMO RESULTADO 'science', y no entiendo el motivo, ya que se desordenó la lista.

['science', 'diomedes', 'gabriel', 'data', 'python', 'clara']