### 1. Se pide: (regression)

A partir del archivo "USA_Housing.csv", realizar la regresión no lineal entre cada columna numérica con la columna 'price' utilizando:

- SVR

In [1]:
import pandas as pd
from sklearn import svm
import numpy as np
from sklearn import model_selection

In [2]:
df = pd.read_csv("../data/USA_Housing.csv")
df

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\r\nLaurabury, NE 37..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\r\nLake Kathleen, ..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\r\nDanieltown, WI 064..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\r\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\r\nFPO AE 09386
...,...,...,...,...,...,...,...
4995,60567.944140,7.830362,6.137356,3.46,22837.361035,1.060194e+06,USNS Williams\r\nFPO AP 30153-7653
4996,78491.275435,6.999135,6.576763,4.02,25616.115489,1.482618e+06,"PSC 9258, Box 8489\r\nAPO AA 42991-3352"
4997,63390.686886,7.250591,4.805081,2.13,33266.145490,1.030730e+06,"4215 Tracy Garden Suite 076\r\nJoshualand, VA ..."
4998,68001.331235,5.534388,7.130144,5.44,42625.620156,1.198657e+06,USS Wallace\r\nFPO AE 73316
4999,65510.581804,5.992305,6.792336,4.07,46501.283803,1.298950e+06,"37778 George Ridges Apt. 509\r\nEast Holly, NV..."

# x --> Income
# y --> Price

In [3]:
x_svr = np.array(df['Avg. Area Income'])
y_svr = np.array(df['Price'])
print('x_srv:', x_svr.shape)
print('y_srv:', y_svr.shape)

x_srv: (5000,)
y_srv: (5000,)

In [4]:
model_SVR = svm.SVR(kernel='poly', degree= 2 , C=100)

In [5]:
seed = 42
x_svr_train, x_svr_test, y_svr_train, y_svr_test = model_selection.train_test_split(x_svr, y_svr, test_size=0.2, random_state=seed)

x_svr_train = np.array(x_svr_train).reshape(-1, 1)
x_svr_test = np.array(x_svr_test).reshape(-1, 1)

print('X_svr_train:', x_svr_train.shape)
print('X_svr_test:', x_svr_test.shape)
print('y_svr_train:', y_svr_train.shape)
print('y_svr_test:', y_svr_test.shape)

X_svr_train: (4000, 1)
X_svr_test: (1000, 1)
y_svr_train: (4000,)
y_svr_test: (1000,)

In [6]:
model_SVR.fit(x_svr_train, y_svr_train)

SVR(C=100, degree=2, kernel='poly')

In [7]:
print('Score SVR TRAIN (Income):', model_SVR.score(x_svr_train, y_svr_train) * 100)
print('Score SVR TEST (Income):', model_SVR.score(x_svr_test, y_svr_test) * 100)

Score SVR TRAIN (Income): 41.04953838739818
Score SVR TEST (Income): 39.32083889263922

---

# x --> Age
# y --> Price

In [8]:
x_svr = np.array(df['Avg. Area House Age'])
y_svr = np.array(df['Price'])
print('x_srv:', x_svr.shape)
print('y_srv:', y_svr.shape)
print('\n')
model_SVR = svm.SVR(kernel='poly', degree=2 , C=100)

seed = 42
x_svr_train, x_svr_test, y_svr_train, y_svr_test = model_selection.train_test_split(x_svr, y_svr, test_size=0.2, random_state=seed)

x_svr_train = np.array(x_svr_train).reshape(-1, 1)
x_svr_test = np.array(x_svr_test).reshape(-1, 1)

print('X_svr_train:', x_svr_train.shape)
print('X_svr_test:', x_svr_test.shape)
print('y_svr_train:', y_svr_train.shape)
print('y_svr_test:', y_svr_test.shape)

model_SVR.fit(x_svr_train, y_svr_train)
print('\n')
print('Score SVR TRAIN (Age):', model_SVR.score(x_svr_train, y_svr_train) * 100)
print('Score SVR TEST (Age):', model_SVR.score(x_svr_test, y_svr_test) * 100)

x_srv: (5000,)
y_srv: (5000,)


X_svr_train: (4000, 1)
X_svr_test: (1000, 1)
y_svr_train: (4000,)
y_svr_test: (1000,)


Score SVR TRAIN (Age): 19.949194375888325
Score SVR TEST (Age): 20.982453338897887

---

# x --> Rooms
# y --> Price

In [9]:
x_svr = np.array(df['Avg. Area Number of Rooms'])
y_svr = np.array(df['Price'])
print('x_srv:', x_svr.shape)
print('y_srv:', y_svr.shape)
print('\n')
model_SVR = svm.SVR(kernel='linear', C=100)

seed = 42
x_svr_train, x_svr_test, y_svr_train, y_svr_test = model_selection.train_test_split(x_svr, y_svr, test_size=0.2, random_state=seed)

x_svr_train = np.array(x_svr_train).reshape(-1, 1)
x_svr_test = np.array(x_svr_test).reshape(-1, 1)

print('X_svr_train:', x_svr_train.shape)
print('X_svr_test:', x_svr_test.shape)
print('y_svr_train:', y_svr_train.shape)
print('y_svr_test:', y_svr_test.shape)

model_SVR.fit(x_svr_train, y_svr_train)
print('\n')
print('Score SVR TRAIN (Age):', model_SVR.score(x_svr_train, y_svr_train) * 100)
print('Score SVR TEST (Age):', model_SVR.score(x_svr_test, y_svr_test) * 100)

x_srv: (5000,)
y_srv: (5000,)


X_svr_train: (4000, 1)
X_svr_test: (1000, 1)
y_svr_train: (4000,)
y_svr_test: (1000,)


Score SVR TRAIN (Age): 8.228013842752791
Score SVR TEST (Age): 8.81176693481538

---

# x --> Bedrooms
# y --> Price

In [10]:
x_svr = np.array(df['Avg. Area Number of Bedrooms'])
y_svr = np.array(df['Price'])
print('x_srv:', x_svr.shape)
print('y_srv:', y_svr.shape)
print('\n')
model_SVR = svm.SVR(kernel='poly', degree=2, C=100)

seed = 42
x_svr_train, x_svr_test, y_svr_train, y_svr_test = model_selection.train_test_split(x_svr, y_svr, test_size=0.2, random_state=seed)

x_svr_train = np.array(x_svr_train).reshape(-1, 1)
x_svr_test = np.array(x_svr_test).reshape(-1, 1)

print('X_svr_train:', x_svr_train.shape)
print('X_svr_test:', x_svr_test.shape)
print('y_svr_train:', y_svr_train.shape)
print('y_svr_test:', y_svr_test.shape)

model_SVR.fit(x_svr_train, y_svr_train)
print('\n')
print('Score SVR TRAIN (Age):', model_SVR.score(x_svr_train, y_svr_train) * 100)
print('Score SVR TEST (Age):', model_SVR.score(x_svr_test, y_svr_test) * 100)

x_srv: (5000,)
y_srv: (5000,)


X_svr_train: (4000, 1)
X_svr_test: (1000, 1)
y_svr_train: (4000,)
y_svr_test: (1000,)


Score SVR TRAIN (Age): 2.9857001521168325
Score SVR TEST (Age): 1.750835483867308

---

# x --> Population
# y --> Price

In [11]:
x_svr = np.array(df['Area Population'])
y_svr = np.array(df['Price'])
print('x_srv:', x_svr.shape)
print('y_srv:', y_svr.shape)
print('\n')
model_SVR = svm.SVR(kernel='poly', degree=2, C=100)

seed = 42
x_svr_train, x_svr_test, y_svr_train, y_svr_test = model_selection.train_test_split(x_svr, y_svr, test_size=0.2, random_state=seed)

x_svr_train = np.array(x_svr_train).reshape(-1, 1)
x_svr_test = np.array(x_svr_test).reshape(-1, 1)

print('X_svr_train:', x_svr_train.shape)
print('X_svr_test:', x_svr_test.shape)
print('y_svr_train:', y_svr_train.shape)
print('y_svr_test:', y_svr_test.shape)

model_SVR.fit(x_svr_train, y_svr_train)
print('\n')
print('Score SVR TRAIN (Age):', model_SVR.score(x_svr_train, y_svr_train) * 100)
print('Score SVR TEST (Age):', model_SVR.score(x_svr_test, y_svr_test) * 100)

x_srv: (5000,)
y_srv: (5000,)


X_svr_train: (4000, 1)
X_svr_test: (1000, 1)
y_svr_train: (4000,)
y_svr_test: (1000,)


Score SVR TRAIN (Age): 15.99504287115262
Score SVR TEST (Age): 15.852897391565147

---
---
---
---
---
---
---

### 2. Se pide: (classification)

En el anterior dataset, la columna "Avg. Area Number of Bedrooms" está en un rango numérico limitado:

1. Cambia todos los datos para que sean enteros redondeando hacia el entero más cercano. Si es .5 exacto, se redondea hacia abajo.

2. Cuando lo hayas hecho, tendrás una columna con números enteros en un rango limitado. Ahora trata a esa columna como una serie de valores discretos (classes, labels). 

3. Usando las demás columnas numéricas y una a una, utiliza SVM (SVC) para clasificar esa columna modificada.

4. Usando todas las demás columnas a la vez ¿hace aumentar el score? ¿por qué? 

5. ¿Qué columna tiene mejor correlación con "Avg. Area Number of Bedrooms" una vez modificada? ¿qué columna da mejor score para nuestro target?

In [12]:
df['Avg. Area Number of Bedrooms'] = round(df['Avg. Area Number of Bedrooms'],0)
df['Avg. Area Number of Bedrooms'] = df['Avg. Area Number of Bedrooms'].astype(int)
df

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\r\nLaurabury, NE 37..."
1,79248.642455,6.002900,6.730821,3,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\r\nLake Kathleen, ..."
2,61287.067179,5.865890,8.512727,5,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\r\nDanieltown, WI 064..."
3,63345.240046,7.188236,5.586729,3,34310.242831,1.260617e+06,USS Barnett\r\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4,26354.109472,6.309435e+05,USNS Raymond\r\nFPO AE 09386
...,...,...,...,...,...,...,...
4995,60567.944140,7.830362,6.137356,3,22837.361035,1.060194e+06,USNS Williams\r\nFPO AP 30153-7653
4996,78491.275435,6.999135,6.576763,4,25616.115489,1.482618e+06,"PSC 9258, Box 8489\r\nAPO AA 42991-3352"
4997,63390.686886,7.250591,4.805081,2,33266.145490,1.030730e+06,"4215 Tracy Garden Suite 076\r\nJoshualand, VA ..."
4998,68001.331235,5.534388,7.130144,5,42625.620156,1.198657e+06,USS Wallace\r\nFPO AE 73316
4999,65510.581804,5.992305,6.792336,4,46501.283803,1.298950e+06,"37778 George Ridges Apt. 509\r\nEast Holly, NV..."

In [16]:
x_svc = np.array(df['Avg. Area Income'])
y_svc = np.array(df['Avg. Area Number of Bedrooms'])
print('x_svc:', x_svc.shape)
print('y_svc:', y_svc.shape)

x_svc: (5000,)
y_svc: (5000,)

## Inicializando el modelo

In [39]:
seed = 42
modelo_SVC_1 = svm.LinearSVC(C=10000, dual = False)

## Conjunto train/test

In [34]:
x_svc_train, x_svc_test, y_svc_train, y_svc_test = model_selection.train_test_split(x_svc, y_svc, test_size=0.2, random_state=seed)

x_svc_train = np.array(x_svr_train).reshape(-1, 1)
x_svc_test = np.array(x_svr_test).reshape(-1, 1)
print('x_svc_train:', x_svc_train.shape)
print('x_svc_test:', x_svc_test.shape)
print('y_svc_train:', y_svc_train.shape)
print('y_svc_test:', y_svc_test.shape)

x_svc_train: (4000, 1)
x_svc_test: (1000, 1)
y_svc_train: (4000,)
y_svc_test: (1000,)

## Entreno modelo (con conjunto TRAIN)

In [40]:
modelo_SVC_1.fit(x_svc_train, y_svc_train)

LinearSVC(C=10000, dual=False)