## Ejercicio 1
Importa la libreria de `pandas` y `numpy`. ¿Qué versión de la librería `pandas` tienes?

In [23]:
import pandas as pd
import numpy as np

## Ejercicio 2
Lee el archivo CSV de la liga. Guarda el DataFrame en una variable llamada `df`. [Usa el método `read_csv` de `pandas`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html).

In [40]:
df = pd.read_csv("https://people.sc.fsu.edu/~jburkardt/data/csv/freshman_kgs.csv")
df.to_excel("nombre.xlsx")

In [48]:
from datetime import datetime as dt

for i in range(3):
    day = dt.now().day
    month = dt.now().month
    year = dt.now().year
    s = str(day) + "/" + str(month) + "/" + str(year)
    print(s)

str(dt.now())

7/5/2021
7/5/2021
7/5/2021

'2021-05-07 11:21:58.067649'

In [29]:
df.index

RangeIndex(start=0, stop=67, step=1)

In [35]:
for columna in df.columns.values:
    print(df[columna].values)
    print("----------")

['M' 'M' 'M' 'M' 'F' 'M' 'F' 'F' 'F' 'F' 'F' 'M' 'M' 'F' 'F' 'F' 'F' 'M'
 'F' 'M' 'F' 'F' 'M' 'F' 'M' 'M' 'M' 'F' 'M' 'F' 'F' 'M' 'M' 'F' 'M' 'M'
 'F' 'F' 'F' 'F' 'M' 'M' 'M' 'F' 'F' 'F' 'F' 'F' 'F' 'F' 'M' 'M' 'M' 'M'
 'F' 'F' 'F' 'M' 'M' 'F' 'M' 'F' 'M' 'M' 'F' 'M' 'M']
----------
[72 97 74 93 68 59 64 56 70 58 50 71 67 56 70 61 53 92 57 67 58 49 68 69
 87 81 60 52 70 63 56 68 68 54 80 64 57 63 54 56 54 73 77 63 51 59 65 53
 62 55 74 74 64 64 57 64 60 64 66 52 71 55 65 75 42 74 94]
----------
[ 59  86  69  88  64  55  60  53  68  56  47  69  66  55  68  60  52  92
  58  67  58  50  68  69  88  82  61  53  71  64  57  69  69  56  82  66
  59  65  56  58  56  75  79  66  54  62  68  56  65  58  77  78  68  68
  61  68  64  68  71  57  77  60  71  82  49  82 105]
----------
[22.02 19.7  24.09 26.97 21.51 18.69 24.24 21.23 30.26 21.88 17.63 24.57
 20.68 20.97 27.3  23.3  19.48 24.74 20.69 20.49 21.09 18.37 22.4  28.17
 23.6  26.52 18.89 19.31 20.96 21.78 19.78 22.4  22.76 20.15 22.14 20.27
 22.15 23.87 18.61 21.73 18.93 25.88 28.59 21.89 18.31 19.64 23.02 20.63
 22.61 22.03 20.31 20.31 19.59 21.05 23.47 22.84 19.5  18.51 21.4  17.72
 22.26 21.64 22.51 23.69 15.08 22.64 36.57]
----------
[18.14 17.44 22.43 25.57 20.1  17.4  22.88 20.23 29.24 21.02 16.89 23.85
 20.15 20.36 26.73 22.88 19.24 24.69 20.79 20.6  21.24 18.53 22.61 28.43
 23.81 26.78 19.27 19.75 21.32 22.22 20.23 22.82 23.19 20.69 22.57 20.76
 22.93 24.67 19.34 22.58 19.72 26.72 29.53 22.79 19.28 20.63 24.1  21.91
 23.81 23.42 21.34 21.36 20.77 22.31 25.11 24.29 20.9  19.83 22.97 19.42
 23.87 23.81 24.45 25.8  17.74 25.33 40.86]
----------

In [15]:
x = {"hola": [2, 4], "adios": ["pepito", "pepita"]}

df = pd.DataFrame(data=x)
df

   hola   adios
0     2  pepito
1     4  pepita

In [16]:
df["hola"]

0    2
1    4
Name: hola, dtype: int64

In [17]:
df["hola"].values

array([2, 4], dtype=int64)

In [20]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [21]:
df.index.values

array([0, 1], dtype=int64)

In [24]:
df.index = np.array(["A", "B"])
df

   hola   adios
A     2  pepito
B     4  pepita

In [25]:
df.index

Index(['A', 'B'], dtype='object')

## Ejercicio 3
Obtén por pantalla los 4 primero registros

## Ejercicio 4
Obtén en un array de `numpy` todos los valores del DataFrame

## Ejercicio 5
¿Cuáles son las columnas de `df`?

## Ejercicio 6
Crea un `Series` con la [población de Madrid, Galicia, Murcia y Andalucía](https://es.wikipedia.org/wiki/Anexo:Comunidades_y_ciudades_aut%C3%B3nomas_de_Espa%C3%B1a). Llamalo `poblacion`.

- Madrid: 6685471
- Galicia: 2698764
- Murcia: 1494442
- Andalucía: 8446561

## Ejercicio 7
Obtén un array de `numpy` con los valores del `Series`.

Saca también sus índices, y los valores de sus índices.

## Ejercicio 8
1. ¿Qué población hay en el primer elemento del `Series`?
2. ¿Qué población hay en Galicia?
3. Imprime por pantalla las poblaciones de Galicia, Andalucía y las comunidades autónomas que se encuentren entre ambas, dentro del `Series`.
4. Comprueba con un output booleano que `Galicia` se encuentra entre los índices del `Index`.
5. Realiza los apartados 1,2,3 pero esta vez de una manera diferente.

## Ejercicio 9
A partir de las comunidades autónomas anteriores, crea un `Series` con [la tasa de paro](https://es.statista.com/estadisticas/941646/prevision-de-la-tasa-de-paro-por-comunidad-autonoma-espana/) en dichas comunidades autónomas.

Con la tasa de paro y las poblaciones, crea un DataFrame de pandas. Llámalo `data`.

- Madrid: 9.99
- Galicia: 11.74
- Murcia: 16.08
- Andalucía: 20.8

## Ejercicio 10
Imprime por pantalla la población, y la tasa de paro. Por separado

## Ejercicio 11
Crea un nuevo Data Frame (`data2`), que sea igual que `data`, pero con una nueva columna, que lleve [la superficie de las Comunidades Autónomas](https://es.wikipedia.org/wiki/Anexo:Comunidades_y_ciudades_aut%C3%B3nomas_de_Espa%C3%B1a).

- Madrid: 8028
- Galicia: 29575
- Murcia: 11314
- Andalucía: 87599

## Ejercicio 12
Calcula la densidad de población (hab/km^2) en una nueva columna del dataframe `data2` que se llame `Densidad`.