In [1]:
import pandas as pd

In [10]:
poker = pd.read_csv('poker-hand-testing.data')
poker

        1  1.1  1.2  13  2   4  2.1   3  1.3  12  0
0       3   12    3   2  3  11    4   5    2   5  1
1       1    9    4   6  1   4    3   2    3   9  1
2       1    4    3  13  2  13    2   1    3   6  1
3       3   10    2   7  1   2    2  11    4   9  0
4       1    3    4   5  3   4    1  12    4   6  0
...    ..  ...  ...  .. ..  ..  ...  ..  ...  .. ..
999994  3    1    1  12  2   9    4   9    2   6  1
999995  3    3    4   5  2   7    1   4    4   3  1
999996  1   11    4   7  3   9    1  13    2   7  1
999997  3   11    1   8  1   1    3  13    2   8  1
999998  2    5    2   9  4   9    2   3    3   3  2

[999999 rows x 11 columns]