In [1]:
import pandas as pd
import os
import sys
import utils.data_wrangling_tb as dw
import random

In [2]:
lista_df_vehiculos = dw.enlistar_dataframes('_accidents_vehicles_gu_bcn_')

In [4]:
df_accidentes_vehiculos = dw.crear_df_vehiculos(lista_df_vehiculos)

In [5]:
df_accidentes_vehiculos

,NUMERO EXPEDIENTE,TIPO VEHICULO,MODELO VEHICULO,MARCA VEHICULO,COLOR VEHICULO,TIPO CARNET,ANTIGUEDAD CARNET,CAUSA PEATON
0,2011S000833,Turismo,206,PEUGEOT,Blanc,B,9,No és causa del vianant
1,2011S000835,Ciclomotor,CY50,YAMAHA,Negre,B,22,No és causa del vianant
2,2011S002871,Turismo,318,BMW,Negre,B,7,No és causa del vianant
3,2011S000825,Motocicleta,SH 100,HONDA,Verd,B,6,No és causa del vianant
4,2011S000830,Ciclomotor,LIBERTY 50,PIAGGIO,Gris,B,2,No és causa del vianant
...,...,...,...,...,...,...,...,...
179901,2020S006276,Motocicleta,AGILITY CITY 125,KYMCO,Desconegut,B,16,No és causa del vianant
179902,2020S006276,Veh. mobilitat personal amb motor,Desconegut,Desconegut,Negre,Desconegut,Desconegut,No és causa del vianant
179903,2020S006277,Motocicleta,SH 150,HONDA,Vermell,A,25,No és causa del vianant
179904,2020S006278,Turisme,CLIO,RENAULT,Blanc,Desconegut,Desconegut,No és causa del vianant
179905,2020S006278,Turisme,RAPID,SKODA,Negre/Groc,Desconegut,Desconegut,No és causa del vianant

In [6]:
lista_df_tipos = dw.enlistar_dataframes('_ACCIDENTS_TIPUS_GU_BCN_')

In [8]:
df_accidentes_tipos = dw.crear_df_tipos(lista_df_tipos)

In [9]:
df_accidentes_tipos

      NUMERO EXPEDIENTE              TIPO ACCIDENTE
0           2011S007726                       Abast
1           2011S000791    Col.lisió fronto-lateral
2           2011S004524    Col.lisió fronto-lateral
3           2011S002431                       Abast
4           2011S007530               Atropellament
...                 ...                         ...
99183   2020S006274      Xoc contra element estàtic
99184   2020S006275               Col.lisió lateral
99185   2020S006276        Col.lisió fronto-lateral
99186   2020S006277            Caiguda (dues rodes)
99187   2020S006278      Xoc contra element estàtic

[99188 rows x 2 columns]

Haciendo nuevamente la comparación, ahora entre los dataframes de ``lista_df_personas`` y los de ``lista_df_gu``, se observa que, efectivamente, tienen en común la mayoría de sus columnas.

Se vuelve a realizar la prueba sobre los dataframes basándonos en su **número de expediente** (clave primaria).

En este caso, se tomarán como columnas con datos relevantes para nuestro estudio las siguientes:
- Número de expediente
- Tipo de persona
- Edad
- Sexo