# Una variable "x" que tenga todos los nombres concatenados de la lista "lista_nombres_alturas", utilizando una función para ello.

# x = nombre_funcion (lista = lista_nombres_alturas)

In [88]:
lista_nombres_alturas = [("Gabriel Vázquez", 1.75),("Jonathan Abbondanza",  1.70),("Nacho Fontal", 1.82),("Javier Araiz", 1.80),('Jonathan Suarez', 1.86),('Sonia Cobo', 1.73), ('Jorge García', 1.79), ("Mary Meza", 1.52), ('Leonardo Frazzetto', 1.75), ("Nacho Astorga",1.78),("José Carlos Batista",1.70), ("Isabel Palomares", 1.78),("Marina Serrano", 1.54), ("Daniel Walker", 1.87), ("Clara Piniella", 1.66), ("Gina Garrido", 1.63), ("Adrià Gallardo", 1.70), ("María García-Maroto", 1.64), ("Susana Vázquez",1.80), ("Mauro Garcia-Oliva", 1.77), ("Juan Bayon", 1.64), ("Miguel Barquero", 1.85), ("Borja Puig", 1.82), ("Pablo Martínez", 1.81), ("Xinru Yang", 1.60),("Pablo Díez", 1.84),("Karina Inche",1.61)]

In [97]:

def nombre_funcion(lista):
    nombre = ''
    for tupla in lista:
        nombre = nombre + ' ' + tupla[0]
    return nombre.strip() # El strip lo uso para quitar los espacios al inicio y al final de lo que escribo... de lo contrario, como a la                                      funcion "nombre" le agrego un espacio antes de concatenarle el valor de la tupla, me quedaria un espacio al inicio.

In [98]:
x = nombre_funcion(lista = lista_nombres_alturas)
x

'Gabriel Vázquez Jonathan Abbondanza Nacho Fontal Javier Araiz Jonathan Suarez Sonia Cobo Jorge García Mary Meza Leonardo Frazzetto Nacho Astorga José Carlos Batista Isabel Palomares Marina Serrano Daniel Walker Clara Piniella Gina Garrido Adrià Gallardo María García-Maroto Susana Vázquez Mauro Garcia-Oliva Juan Bayon Miguel Barquero Borja Puig Pablo Martínez Xinru Yang Pablo Díez Karina Inche'

# Igual que el anterior, pero que tenga la MEDIA de todas las alturas.

In [118]:
def funcion_media (lista):
    suma_alturas = 0.0
    for tupla in lista:
        suma_alturas = suma_alturas + tupla[1]
    cuantas_alturas = len(lista)
    return suma_alturas / cuantas_alturas

In [124]:
med = funcion_media(lista = lista_nombres_alturas)
round(med, 3)

1.732