## This file must onlycontain imports, pandas, matplotlib, requests,... and calls to your src/utils/* modules.

In [1]:
import pandas as pd
import os
import sys
import utils.data_wrangling_tb as dw

In [2]:
lista_df_gu = dw.enlistar_dataframes('_ACCIDENTS_GU_BCN_')

In [ ]:
dw.info_df_enlistado(lista_df_gu)

In [ ]:
dw.comparar_columnas(lista_df_gu)

In [ ]:
dw.mostrar_columnas(lista_df_gu)

In [ ]:
dw.nombre_cada_columna(lista_df_gu)

Como se puede observar, no todos los dataframes contenidos en la lista poseen el mismo número de columnas.

In [ ]:
dw.ver_ultimas_columnas(lista_df_gu)

Vemos que las últimas 2 columnas de los dataframes que contienen 27, hacen referencia a la latitud y longitud. De momento, podemos prescindir de ellas, por lo que serán eliminadas.

In [8]:
dw.eliminar_columnas_finales(lista_df_gu)

Podemos apreciar además, que las columnas que hacen referencia a las coordenadas, no sólo tienen nombres diferentes, sino que no se corresponden en posición, es decir, en algunas figura en primer lugar la coordeneda UTM Y o X y viceversa. Se procede a acomodar las columnas para luego unificar nombres de las mismas.

In [9]:
dw.ordenar_columnas_finales(lista_df_gu)

In [ ]:
dw.nombre_cada_columna(lista_df_gu)

Una vez organizadas las columnas, se homogenizan los nombres de las mismas para unir los dataframes en uno solo.

In [10]:
nombres_columnas_gu = ['NUMERO EXPEDIENTE', 'CODIGO DISTRITO', 'DISTRITO', 'CODIGO BARRIO', 'BARRIO', 'CODIGO CALLE', 'CALLE', 'NUMERO POSTAL', 'DIA SEMANA', 'DIA SEMANA (NUMERICO)', 'TIPO DE DIA', 'ANO', 'MES (NUMERICO)', 'MES', 'DIA', 'HORA', 'TURNO', 'CAUSA', 'FALLECIDOS', 'LESIONADOS LEVE', 'LESIONADOS GRAVE', 'CANTIDAD VICTIMAS', 'CANTIDAD VEHICULOS', 'COORDENADA UTM X', 'COORDENADA UTM Y']

In [11]:
dw.renombrar_columnas(lista_df_gu, nombres_columnas_gu)

In [ ]:
dw.nombre_cada_columna(lista_df_gu)

Ya todos los dataframes de la lista tienen el mismo nombre para cada columna. Se procede a unirlos en un único dataframe.

In [ ]:
df_accidentes_gu = dw.unificar_lista_dataframe(lista_df_gu)

In [ ]:
df_accidentes_gu

### Ahora, nuestra variable **``df_accidentes_gu``** representa todos los accidentes registrados por la Guardia Urbana de la Ciudad de Barcelona, entre los años 2011 y 2020.

---

De igual manera, procedemos a trabajar sobre los datasets de **causas** de accidentes.

# ACA ARRANCA CAUSASSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS

In [25]:
lista_df_causas = dw.enlistar_dataframes('_ACCIDENTS_CAUSES_GU_BCN_')

In [ ]:
dw.comparar_columnas(lista_df_causas)

In [ ]:
dw.mostrar_columnas(lista_df_causas)

Haciendo una comparación entre los dataframes de ``lista_df_causas`` y los de ``lista_df_gu``, se observa que tienen en común la mayoría de sus columnas.

Se pondrán a prueba los dataframes basándonos en su **número de expediente**, la cual, en la previa, se estima que podría ser la clave primaria.

In [27]:
lista_df_gu[0].tail(3)

,NUMERO EXPEDIENTE,CODIGO DISTRITO,DISTRITO,CODIGO BARRIO,BARRIO,CODIGO CALLE,CALLE,NUMERO POSTAL,DIA SEMANA,DIA SEMANA (NUMERICO),...,HORA,TURNO,CAUSA,FALLECIDOS,LESIONADOS LEVE,LESIONADOS GRAVE,CANTIDAD VICTIMAS,CANTIDAD VEHICULOS,COORDENADA UTM X,COORDENADA UTM Y
8828,2011S006070,9,Sant Andreu,93-9-59,el Bon Pastor,264308,Potosí,0023 0023,Dimecres,3,...,14,Tarda,Desconegut,0,1,0,1,2,"433614,46","4588301,66"
8829,2011S002900,9,Sant Andreu,93-9-59,el Bon Pastor,123306,Ferran Junoy,0014 0014,Divendres,5,...,19,Tarda,Desconegut,0,0,0,0,1,"432815,05","4587802,15"
8830,2011S008761,9,Sant Andreu,93-9-58,Baró de Viver,701357,Potosí,0001X0001X,Dimarts,2,...,19,Tarda,Desconegut,0,1,0,1,2,"433045,37","4588226,59"

In [28]:
dw.datos_por_numero_expediente(lista_df_gu, 0, '2011S002900', 'NUMERO EXPEDIENTE').unstack()

                                8829
NUMERO EXPEDIENTE        2011S002900
CODIGO DISTRITO                    9
DISTRITO                 Sant Andreu
CODIGO BARRIO                93-9-59
BARRIO                 el Bon Pastor
CODIGO CALLE                  123306
CALLE                   Ferran Junoy
NUMERO POSTAL              0014 0014
DIA SEMANA                 Divendres
DIA SEMANA (NUMERICO)              5
TIPO DE DIA                  Laboral
ANO                             2011
MES (NUMERICO)                     4
MES                            Abril
DIA                               29
HORA                              19
TURNO                          Tarda
CAUSA                     Desconegut
FALLECIDOS                         0
LESIONADOS LEVE                    0
LESIONADOS GRAVE                   0
CANTIDAD VICTIMAS                  0
CANTIDAD VEHICULOS                 1
COORDENADA UTM X           432815,05
COORDENADA UTM Y          4587802,15

In [29]:
dw.datos_por_numero_expediente(lista_df_causas, 0,'2011S002900',"Número d expedient").unstack()

                                            3215
Número d expedient                   2011S002900
Codi districte                                 9
Nom districte                        Sant Andreu
Codi barri                                    59
Nom barri                          el Bon Pastor
Codi carrer                               123306
Nom carrer                          Ferran Junoy
Num postal caption                     0014 0014
Descripció dia setmana                 Divendres
Dia setmana                                   Dv
Descripció tipus dia                     Laboral
NK Any                                      2011
Mes de any                                     4
Nom mes                                    Abril
Dia de mes                                    29
Hora de dia                                   19
Descripció torn                            Tarda
Descripció causa mediata  No hi ha causa mediata
Coordenada UTM (Y)                    4588006,32
Coordenada UTM (X)                     432908,84

Se puede ver que los datos coinciden cuando se los evalúa en función del número de expediente, para el dataframe en posición 0.

Haciendo la misma evaluación para dataframes en distintas posiciones:

In [30]:
lista_df_gu[8].head(2)

,NUMERO EXPEDIENTE,CODIGO DISTRITO,DISTRITO,CODIGO BARRIO,BARRIO,CODIGO CALLE,CALLE,NUMERO POSTAL,DIA SEMANA,DIA SEMANA (NUMERICO),...,HORA,TURNO,CAUSA,FALLECIDOS,LESIONADOS LEVE,LESIONADOS GRAVE,CANTIDAD VICTIMAS,CANTIDAD VEHICULOS,COORDENADA UTM X,COORDENADA UTM Y
0,2019S000001,5,Sarrià-Sant Gervasi,26,Sant Gervasi - Galvany,144601,Diagonal / Augusta ...,0482 0482,Dimarts,Dm,...,1,Nit,No és causa del vianant,0,0,1,1,1,"429482,03","4583236,02"
1,2019S000002,9,Sant Andreu,62,el Congrés i els Indians,102907,Felip II / Congrés Eucarístic ...,9999 9999,Dimarts,Dm,...,4,Nit,No és causa del vianant,0,1,0,1,2,"431582,6","4586504,13"

In [33]:
dw.datos_por_numero_expediente(lista_df_gu, 8, '2019S000001', 'NUMERO EXPEDIENTE').unstack()

Empty DataFrame
Columns: []
Index: []

Aquí se aprecia que la búsqueda para este nuevo número de expediente no es correcta. Indagando en el motivo entontramos lo siguiente:

In [32]:
lista_df_gu[8].iloc[0,0]

'2019S000001    '

In [34]:
dw.datos_por_numero_expediente(lista_df_gu, 8, '2019S000001    ', 'NUMERO EXPEDIENTE').unstack()

                                                                       0
NUMERO EXPEDIENTE                                        2019S000001
CODIGO DISTRITO                                                        5
DISTRITO                                             Sarrià-Sant Gervasi
CODIGO BARRIO                                                         26
BARRIO                                            Sant Gervasi - Galvany
CODIGO CALLE                                                      144601
CALLE                  Diagonal / Augusta                            ...
NUMERO POSTAL                                                  0482 0482
DIA SEMANA                                                       Dimarts
DIA SEMANA (NUMERICO)                                                 Dm
TIPO DE DIA                                                      Laboral
ANO                                                                 2019
MES (NUMERICO)                                                         1
MES                                                                Gener
DIA                                                                    1
HORA                                                                   1
TURNO                                                                Nit
CAUSA                                           No és causa del  vianant
FALLECIDOS                                                             0
LESIONADOS LEVE                                                        0
LESIONADOS GRAVE                                                       1
CANTIDAD VICTIMAS                                                      1
CANTIDAD VEHICULOS                                                     1
COORDENADA UTM X                                               429482,03
COORDENADA UTM Y                                              4583236,02

Comparándolo con el mismo número de expediente en otra lista de dataframes:

In [35]:
dw.datos_por_numero_expediente(lista_df_causas, 8, '2019S000001    ', 'Numero_expedient').unstack()

                                            5857
Numero_expedient                 2019S000001
Codi_districte                                 5
Nom_districte                Sarrià-Sant Gervasi
Codi_barri                                    26
Nom_barri                 Sant Gervasi - Galvany
Codi_carrer                               144601
Nom_carrer                              Diagonal
Num_postal                             0482 0482
Descripcio_dia_setmana                   Dimarts
Dia_setmana                                   Dm
Descripcio_tipus_dia                     Laboral
NK_Any                                      2019
Mes_any                                        1
Nom_mes                                    Gener
Dia_mes                                        1
Hora_dia                                       1
Descripcio_torn                              Nit
Descripcio_causa_mediata  No hi ha causa mediata
Coordenada_UTM_X                       429514.18
Coordenada_UTM_Y                      4583218.13
Longitud                                2.155622
Latitud                                41.395586

La correlación por número de expediente continúa siendo correcta, a pesar que en éste caso, el valor contenga espacios en blanco al final del string. Se solucionará éste inconveniente más adelante, cuando se disponga del dataframe completo con todos los datos de los correspondientes datasets.

---

De momento, se tomará la decisión de mantener las columnas de la lista_df_causas que aporten valor a los datos, sin estar repetidas (a excepción de la columna de números de expediente). De esta manera, permaneceran en los dataframes las columnas siguientes relacionadas con los siguientes datos:
- Número de expediente
- Descrición de causa

In [36]:
df_accidentes_causas = dw.crear_df_causas(lista_df_causas)

In [37]:
df_accidentes_causas

      NUMERO EXPEDIENTE       DESCRIPCION CAUSA
0           2011S006646  No hi ha causa mediata
1           2011S003333  No hi ha causa mediata
2           2011S006833  No hi ha causa mediata
3           2011S002662  No hi ha causa mediata
4           2011S008311  No hi ha causa mediata
...                 ...                     ...
94028   2020S006274      No hi ha causa mediata
94029   2020S006275      No hi ha causa mediata
94030   2020S006276      No hi ha causa mediata
94031   2020S006277      No hi ha causa mediata
94032   2020S006278      No hi ha causa mediata

[94033 rows x 2 columns]

### Ahora, nuestra variable **``df_accidentes_causas``** representa la descripción de los causales de todos los accidentes registrados por la Guardia Urbana de la Ciudad de Barcelona, entre los años 2011 y 2020, con su correspondiente número de expediente.

---

De igual manera, procedemos a trabajar sobre los datasets de **personas** implicadas en accidentes.

# ACA ARRANCA PERSONASSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS

In [23]:
lista_df_personas = dw.enlistar_dataframes('_ACCIDENTS_PERSONES_GU_BCN_')

In [ ]:
dw.comparar_columnas(lista_df_personas)

In [ ]:
dw.mostrar_columnas(lista_df_personas)

Haciendo nuevamente la comparación, ahora entre los dataframes de ``lista_df_personas`` y los de ``lista_df_gu``, se observa que, efectivamente, tienen en común la mayoría de sus columnas.

Se vuelve a realizar la prueba sobre los dataframes basándonos en su **número de expediente** (clave primaria).

In [20]:
lista_df_gu[3].head(3)

,NUMERO EXPEDIENTE,CODIGO DISTRITO,DISTRITO,CODIGO BARRIO,BARRIO,CODIGO CALLE,CALLE,NUMERO POSTAL,DIA SEMANA,DIA SEMANA (NUMERICO),...,HORA,TURNO,CAUSA,FALLECIDOS,LESIONADOS LEVE,LESIONADOS GRAVE,CANTIDAD VICTIMAS,CANTIDAD VEHICULOS,COORDENADA UTM X,COORDENADA UTM Y
0,2014S007072,-1,Desconegut,-1--1--1,Desconegut,-1,Desconegut,Desconegut,Dijous,4,...,16,Tarda,Desconegut,0,1,0,1,1,-1,-1
1,2014S000436,-1,Desconegut,-1--1--1,Desconegut,-1,Desconegut,Desconegut,Dilluns,1,...,9,Matí,Desconegut,0,0,0,0,1,-1,-1
2,2014S003380,10,Sant Martí,101-10-64,el Camp de l'Arpa del Clot,209900,Meridiana,0163 0163,Dijous,4,...,13,Matí,Desconegut,0,1,0,1,2,"432111,21","4585072,01"

In [21]:
dw.datos_por_numero_expediente(lista_df_gu, 3, '2014S003380', 'NUMERO EXPEDIENTE').unstack()

                                                2
NUMERO EXPEDIENTE                     2014S003380
CODIGO DISTRITO                                10
DISTRITO                               Sant Martí
CODIGO BARRIO                           101-10-64
BARRIO                 el Camp de l'Arpa del Clot
CODIGO CALLE                               209900
CALLE                                   Meridiana
NUMERO POSTAL                           0163 0163
DIA SEMANA                                 Dijous
DIA SEMANA (NUMERICO)                           4
TIPO DE DIA                               Laboral
ANO                                          2014
MES (NUMERICO)                                  5
MES                                          Maig
DIA                                             8
HORA                                           13
TURNO                                        Matí
CAUSA                                  Desconegut
FALLECIDOS                                      0
LESIONADOS LEVE                                 1
LESIONADOS GRAVE                                0
CANTIDAD VICTIMAS                               1
CANTIDAD VEHICULOS                              2
COORDENADA UTM X                        432111,21
COORDENADA UTM Y                       4585072,01

In [24]:
dw.datos_por_numero_expediente(lista_df_personas, 3, '2014S003380', 'Número d\'expedient').unstack()

                                                    7511
Número d'expedient                           2014S003380
Codi districte                                        10
Nom districte                                 Sant Martí
Codi barri                                            64
Nom barri                     el Camp de l'Arpa del Clot
Codi carrer                                       209900
Nom carrer                                     Meridiana
Num postal caption                             0163 0163
Descripció dia setmana                            Dijous
Dia setmana                                           Dj
Descripció tipus dia                             Laboral
NK Any                                              2014
Mes de any                                             5
Nom mes                                             Maig
Dia de mes                                             8
Hora de dia                                            1
Descripció causa vianant        No és causa del  vianant
Desc. Tipus vehicle implicat                 Motocicleta
Descripció sexe                                     Home
Descripció tipus persona                       Conductor
Edat                                                  40
Descripció victimització                      Ferit lleu
Coordenada UTM (Y)                            4585072,01
Coordenada UTM (X)                             432111,21

Efectivamente, como era de esperar, están relacionados por su clave primaria.

En este caso, se tomarán como columnas con datos relevantes para nuestro estudio las siguientes:
- Número de expediente
- Tipo de persona
- Edad
- Sexo

In [ ]:
df_accidentes_personas = dw.crear_df_personas(lista_df_personas)

In [ ]:
df_accidentes_personas

### Ahora, nuestra variable **``df_accidentes_personas``** representa la descripción de las personas involucradas en los accidentes registrados por la Guardia Urbana de la Ciudad de Barcelona, entre los años 2011 y 2020, con su correspondiente número de expediente.

---

De igual manera, procedemos a trabajar sobre los datasets de **vehículos** implicados en accidentes.

# ACA ARRANCA VEHICULOSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS

In [3]:
lista_df_vehiculos = dw.enlistar_dataframes('_accidents_vehicles_gu_bcn_')

In [4]:
dw.comparar_columnas(lista_df_vehiculos)

Las columnas de 0 (25) y 1 (25) COINCIDEN.
======================================================
Las columnas de 1 (25) y 2 (25) COINCIDEN.
======================================================

Las columnas de 2 (25) y 3 (25) SON DISTINTAS.

         Posición de columna diferente: 0
         ---------------------------------
         Columna de DF en posición 2: Codi d'expedient
         Columna de DF en posición 3: Codi d expedient
         ================================================

Las columnas de 2 (25) y 4 (25) COINCIDEN.
======================================================

Las columnas de 3 (25) y 4 (25) SON DISTINTAS.

         Posición de columna diferente: 0
         ---------------------------------
         Columna de DF en posición 3: Codi d expedient
         Columna de DF en posición 4: Codi d'expedient
         ================================================

3 (25) y 5 (27) tienen distinta CANTIDAD de columnas.
======================================================
3 (25) y 6 (27) tienen distinta CANTIDAD de columnas.
======================================================
3 (25) y 7 (28) tienen distinta CANTIDAD de columnas.
======================================================
3 (25) y 8 (28) tienen distinta CANTIDAD de columnas.
======================================================
3 (25) y 9 (28) tienen distinta CANTIDAD de columnas.
======================================================
4 (25) y 5 (27) tienen distinta CANTIDAD de columnas.
======================================================
4 (25) y 6 (27) tienen distinta CANTIDAD de columnas.
======================================================
4 (25) y 7 (28) tienen distinta CANTIDAD de columnas.
======================================================
4 (25) y 8 (28) tienen distinta CANTIDAD de columnas.
======================================================
4 (25) y 9 (28) tienen distinta CANTIDAD de columnas.
======================================================

Las columnas de 5 (27) y 6 (27) SON DISTINTAS.

         Posición de columna diferente: 7
         ---------------------------------
         Columna de DF en posición 5: Num_postal
         Columna de DF en posición 6: Num_postal
         ================================================

         Posición de columna diferente: 25
         ---------------------------------
         Columna de DF en posición 5:  Longitud
         Columna de DF en posición 6: Longitud
         ================================================

         Posición de columna diferente: 26
         ---------------------------------
         Columna de DF en posición 5:  Latitud
         Columna de DF en posición 6: Latitud
         ================================================

5 (27) y 7 (28) tienen distinta CANTIDAD de columnas.
======================================================
5 (27) y 8 (28) tienen distinta CANTIDAD de columnas.
======================================================
5 (27) y 9 (28) tienen distinta CANTIDAD de columnas.
======================================================
6 (27) y 7 (28) tienen distinta CANTIDAD de columnas.
======================================================
6 (27) y 8 (28) tienen distinta CANTIDAD de columnas.
======================================================
6 (27) y 9 (28) tienen distinta CANTIDAD de columnas.
======================================================

Las columnas de 7 (28) y 8 (28) SON DISTINTAS.

         Posición de columna diferente: 0
         ---------------------------------
         Columna de DF en posición 7: Codi_expedient
         Columna de DF en posición 8: Numero_expedient
         ================================================

         Posición de columna diferente: 7
         ---------------------------------
         Columna de DF en posición 7: Num_postal
         Columna de DF en posición 8: Num_postal
         ================================================

         Posición de columna diferente: 11
         ---------------------------------
         Columna de DF en posición 7: Any
         Columna de DF en posición 8: NK_Any
         ================================================


Las columnas de 7 (28) y 9 (28) SON DISTINTAS.

         Posición de columna diferente: 0
         ---------------------------------
         Columna de DF en posición 7: Codi_expedient
         Columna de DF en posición 9: Numero_expedient
         ================================================

         Posición de columna diferente: 7
         ---------------------------------
         Columna de DF en posición 7: Num_postal
         Columna de DF en posición 9: Num_postal
         ================================================

         Posición de columna diferente: 11
         ---------------------------------
         Columna de DF en posición 7: Any
         Columna de DF en posición 9: NK_Any
         ================================================

         Posición de columna diferente: 26
         ---------------------------------
         Columna de DF en posición 7: Longitud
         Columna de DF en posición 9: Latitud
         ================================================

         Posición de columna diferente: 27
         ---------------------------------
         Columna de DF en posición 7: Latitud
         Columna de DF en posición 9: Longitud
         ================================================


Las columnas de 8 (28) y 9 (28) SON DISTINTAS.

         Posición de columna diferente: 26
         ---------------------------------
         Columna de DF en posición 8: Longitud
         Columna de DF en posición 9: Latitud
         ================================================

         Posición de columna diferente: 27
         ---------------------------------
         Columna de DF en posición 8: Latitud
         Columna de DF en posición 9: Longitud
         ================================================

In [5]:
dw.mostrar_columnas(lista_df_vehiculos)

Columnas de dataframe en posición 0:
------------------------------------
Index(['Codi d'expedient', 'Codi districte', 'Nom districte', 'Codi barri',
       'Nom barri', 'Codi carrer', 'Nom carrer', 'Num postal caption',
       'Descripció dia setmana', 'Dia setmana', 'Descripció tipus dia',
       'NK Any', 'Mes de any', 'Nom mes', 'Dia de mes', 'Hora de dia',
       'Descripció causa vianant', 'Descripció tipus de vehicle',
       'Descripció model', 'Descripció marca', 'Descripció color',
       'Descripció carnet', 'Antiguitat carnet', 'Coordenada UTM (Y)',
       'Coordenada UTM (X)'],
      dtype='object')

Número de columnas: 25

===========================================================================================
Columnas de dataframe en posición 1:
------------------------------------
Index(['Codi d'expedient', 'Codi districte', 'Nom districte', 'Codi barri',
       'Nom barri', 'Codi carrer', 'Nom carrer', 'Num postal caption',
       'Descripció dia setmana', 'Dia setmana', 'Descripció tipus dia',
       'NK Any', 'Mes de any', 'Nom mes', 'Dia de mes', 'Hora de dia',
       'Descripció causa vianant', 'Descripció tipus de vehicle',
       'Descripció model', 'Descripció marca', 'Descripció color',
       'Descripció carnet', 'Antiguitat carnet', 'Coordenada UTM (Y)',
       'Coordenada UTM (X)'],
      dtype='object')

Número de columnas: 25

===========================================================================================
Columnas de dataframe en posición 2:
------------------------------------
Index(['Codi d'expedient', 'Codi districte', 'Nom districte', 'Codi barri',
       'Nom barri', 'Codi carrer', 'Nom carrer', 'Num postal caption',
       'Descripció dia setmana', 'Dia setmana', 'Descripció tipus dia',
       'NK Any', 'Mes de any', 'Nom mes', 'Dia de mes', 'Hora de dia',
       'Descripció causa vianant', 'Descripció tipus de vehicle',
       'Descripció model', 'Descripció marca', 'Descripció color',
       'Descripció carnet', 'Antiguitat carnet', 'Coordenada UTM (Y)',
       'Coordenada UTM (X)'],
      dtype='object')

Número de columnas: 25

===========================================================================================
Columnas de dataframe en posición 3:
------------------------------------
Index(['Codi d expedient', 'Codi districte', 'Nom districte', 'Codi barri',
       'Nom barri', 'Codi carrer', 'Nom carrer', 'Num postal caption',
       'Descripció dia setmana', 'Dia setmana', 'Descripció tipus dia',
       'NK Any', 'Mes de any', 'Nom mes', 'Dia de mes', 'Hora de dia',
       'Descripció causa vianant', 'Descripció tipus de vehicle',
       'Descripció model', 'Descripció marca', 'Descripció color',
       'Descripció carnet', 'Antiguitat carnet', 'Coordenada UTM (Y)',
       'Coordenada UTM (X)'],
      dtype='object')

Número de columnas: 25

===========================================================================================
Columnas de dataframe en posición 4:
------------------------------------
Index(['Codi d'expedient', 'Codi districte', 'Nom districte', 'Codi barri',
       'Nom barri', 'Codi carrer', 'Nom carrer', 'Num postal caption',
       'Descripció dia setmana', 'Dia setmana', 'Descripció tipus dia',
       'NK Any', 'Mes de any', 'Nom mes', 'Dia de mes', 'Hora de dia',
       'Descripció causa vianant', 'Descripció tipus de vehicle',
       'Descripció model', 'Descripció marca', 'Descripció color',
       'Descripció carnet', 'Antiguitat carnet', 'Coordenada UTM (Y)',
       'Coordenada UTM (X)'],
      dtype='object')

Número de columnas: 25

===========================================================================================
Columnas de dataframe en posición 5:
------------------------------------
Index(['Codi_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia', 'Any',
       'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia', 'Descripcio_causa_vianant',
       'Descripcio_tipus_vehicle', 'Descripcio_model', 'Descripcio_marca',
       'Descripcio_color', 'Descripcio_carnet', 'Antiguitat_carnet',
       'Coordenada_UTM_X', 'Coordenada_UTM_Y', ' Longitud', ' Latitud'],
      dtype='object')

Número de columnas: 27

===========================================================================================
Columnas de dataframe en posición 6:
------------------------------------
Index(['Codi_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal ',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia', 'Any',
       'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia', 'Descripcio_causa_vianant',
       'Descripcio_tipus_vehicle', 'Descripcio_model', 'Descripcio_marca',
       'Descripcio_color', 'Descripcio_carnet', 'Antiguitat_carnet',
       'Coordenada_UTM_X', 'Coordenada_UTM_Y', 'Longitud', 'Latitud'],
      dtype='object')

Número de columnas: 27

===========================================================================================
Columnas de dataframe en posición 7:
------------------------------------
Index(['Codi_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal ',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia', 'Any',
       'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia', 'Descripcio_torn',
       'Descripcio_causa_vianant', 'Descripcio_tipus_vehicle',
       'Descripcio_model', 'Descripcio_marca', 'Descripcio_color',
       'Descripcio_carnet', 'Antiguitat_carnet', 'Coordenada_UTM_X',
       'Coordenada_UTM_Y', 'Longitud', 'Latitud'],
      dtype='object')

Número de columnas: 28

===========================================================================================
Columnas de dataframe en posición 8:
------------------------------------
Index(['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_torn', 'Descripcio_causa_vianant',
       'Descripcio_tipus_vehicle', 'Descripcio_model', 'Descripcio_marca',
       'Descripcio_color', 'Descripcio_carnet', 'Antiguitat_carnet',
       'Coordenada_UTM_X', 'Coordenada_UTM_Y', 'Longitud', 'Latitud'],
      dtype='object')

Número de columnas: 28

===========================================================================================
Columnas de dataframe en posición 9:
------------------------------------
Index(['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_torn', 'Descripcio_causa_vianant',
       'Descripcio_tipus_vehicle', 'Descripcio_model', 'Descripcio_marca',
       'Descripcio_color', 'Descripcio_carnet', 'Antiguitat_carnet',
       'Coordenada_UTM_X', 'Coordenada_UTM_Y', 'Latitud', 'Longitud'],
      dtype='object')

Número de columnas: 28

===========================================================================================

Se comparan los dataframes de ``lista_df_vehiculos`` y los de ``lista_df_gu``. Nuevamente cuentan con muchas columnas en común que no será necesario duplicar.

Verificamos el cumplimiento de nuestra clave primaria "número de expediente".

In [6]:
lista_df_gu[4].head(3)

,Número d expedient,Codi districte,Nom districte,Codi barri,Nom barri,Codi carrer,Nom carrer,Num postal caption,Descripció dia setmana,Dia setmana,...,Hora de dia,Descripció torn,Descripció causa vianant,Número de morts,Número de lesionats lleus,Número de lesionats greus,Número de víctimes,Número de vehicles implicats,Coordenada UTM (Y),Coordenada UTM (X)
0,2015S005807,-1.0,Desconegut,-1.0,Desconegut,-1.0,Desconegut,Desconegut,Dimarts,Dm,...,12.0,Matí,No és causa del vianant,0.0,2.0,0.0,2.0,2.0,-1,-1
1,2015S007685,10.0,Sant Martí,64.0,el Camp de l'Arpa del Clot,134801.0,Freser,0208 0208,Dimarts,Dm,...,19.0,Tarda,Desobeir el senyal del semàfor,0.0,1.0,0.0,1.0,1.0,"4585420,58","431779,16"
2,2015S001364,10.0,Sant Martí,64.0,el Camp de l'Arpa del Clot,161407.0,Indústria,0336 0336,Dissabte,Ds,...,21.0,Tarda,No és causa del vianant,0.0,1.0,0.0,1.0,1.0,"4585555,86","431913,65"

In [18]:
dw.datos_por_numero_expediente(lista_df_gu, 4, '2015S007685', 'NUMERO EXPEDIENTE').unstack()

                                                    1
NUMERO EXPEDIENTE                         2015S007685
CODIGO DISTRITO                                  10.0
DISTRITO                                   Sant Martí
CODIGO BARRIO                                    64.0
BARRIO                     el Camp de l'Arpa del Clot
CODIGO CALLE                                 134801.0
CALLE                                          Freser
NUMERO POSTAL                               0208 0208
DIA SEMANA                                    Dimarts
DIA SEMANA (NUMERICO)                              Dm
TIPO DE DIA                                   Laboral
ANO                                            2015.0
MES (NUMERICO)                                   10.0
MES                                           Octubre
DIA                                              13.0
HORA                                             19.0
TURNO                                           Tarda
CAUSA                  Desobeir el senyal del semàfor
FALLECIDOS                                        0.0
LESIONADOS LEVE                                   1.0
LESIONADOS GRAVE                                  0.0
CANTIDAD VICTIMAS                                 1.0
CANTIDAD VEHICULOS                                1.0
COORDENADA UTM X                            431779,16
COORDENADA UTM Y                           4585420,58

In [19]:
dw.datos_por_numero_expediente(lista_df_vehiculos, 4, '2015S007685', 'Codi d\'expedient').unstack()

                                                       7185
Codi d'expedient                                2015S007685
Codi districte                                           10
Nom districte                                    Sant Martí
Codi barri                                               64
Nom barri                        el Camp de l'Arpa del Clot
Codi carrer                                          134801
Nom carrer                                           Freser
Num postal caption                                0208 0208
Descripció dia setmana                              Dimarts
Dia setmana                                              Dm
Descripció tipus dia                                Laboral
NK Any                                                 2015
Mes de any                                               10
Nom mes                                             Octubre
Dia de mes                                               13
Hora de dia                                              19
Descripció causa vianant     Desobeir el senyal del semàfor
Descripció tipus de vehicle                     Motocicleta
Descripció model                                   WW125EX2
Descripció marca                                      HONDA
Descripció color                                      Blanc
Descripció carnet                                         B
Antiguitat carnet                                        14
Coordenada UTM (Y)                               4585420,58
Coordenada UTM (X)                                431779,16

Nuevamente se cumple la relación. Se definen ahora las columnas de interés para el estudio:
- Número de expediente
- Tipo de vehículo
- Modelo de vehículo
- Marca de vehículo
- Color de vehículo
- Tipo de carnet
- Antigüedad de carnet
- Causa del peatón

In [15]:
df_accidentes_vehiculos = dw.crear_df_vehiculos(lista_df_vehiculos)

In [16]:
df_accidentes_vehiculos

,NUMERO EXPEDIENTE,TIPO VEHICULO,MODELO VEHICULO,MARCA VEHICULO,COLOR VEHICULO,TIPO CARNET,ANTIGUEDAD CARNET,CAUSA PEATON
0,2011S000833,Turismo,206,PEUGEOT,Blanc,B,9,No és causa del vianant
1,2011S000835,Ciclomotor,CY50,YAMAHA,Negre,B,22,No és causa del vianant
2,2011S002871,Turismo,318,BMW,Negre,B,7,No és causa del vianant
3,2011S000825,Motocicleta,SH 100,HONDA,Verd,B,6,No és causa del vianant
4,2011S000830,Ciclomotor,LIBERTY 50,PIAGGIO,Gris,B,2,No és causa del vianant
...,...,...,...,...,...,...,...,...
179901,2020S006276,Motocicleta,AGILITY CITY 125,KYMCO,Desconegut,B,16,No és causa del vianant
179902,2020S006276,Veh. mobilitat personal amb motor,Desconegut,Desconegut,Negre,Desconegut,Desconegut,No és causa del vianant
179903,2020S006277,Motocicleta,SH 150,HONDA,Vermell,A,25,No és causa del vianant
179904,2020S006278,Turisme,CLIO,RENAULT,Blanc,Desconegut,Desconegut,No és causa del vianant
179905,2020S006278,Turisme,RAPID,SKODA,Negre/Groc,Desconegut,Desconegut,No és causa del vianant

### La variable **``df_accidentes_vehiculos``** representa la descripción de los distintos vehículos involucradas en los accidentes registrados por la Guardia Urbana de la Ciudad de Barcelona, entre los años 2011 y 2020, con su correspondiente número de expediente.

---

Por último, se procede a trabajar sobre los datasets de **tipos** de accidentes.

# ACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA ARRAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANCA TIPOSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS

In [17]:
lista_df_tipos = dw.enlistar_dataframes('_ACCIDENTS_TIPUS_GU_BCN_')

In [ ]:
dw.comparar_columnas(lista_df_tipos)

In [39]:
dw.mostrar_columnas(lista_df_tipos)

Columnas de dataframe en posición 0:
------------------------------------
Index(['Número d'expedient', 'Codi districte', 'Nom districte', 'Codi barri',
       'Nom barri', 'Codi carrer', 'Nom carrer', 'Num postal caption',
       'Descripció dia setmana', 'Dia setmana', 'Descripció tipus dia',
       'NK Any', 'Mes de any', 'Nom mes', 'Dia de mes', 'Hora de dia',
       'Descripció torn', 'Descripció tipus accident', 'Coordenada UTM (Y)',
       'Coordenada UTM (X)'],
      dtype='object')

Número de columnas: 20

===========================================================================================
Columnas de dataframe en posición 1:
------------------------------------
Index(['Número d'expedient', 'Codi districte', 'Nom districte', 'Codi barri',
       'Nom barri', 'Codi carrer', 'Nom carrer', 'Num postal caption',
       'Descripció dia setmana', 'Dia setmana', 'Descripció tipus dia',
       'NK Any', 'Mes de any', 'Nom mes', 'Dia de mes', 'Hora de dia',
       'Descripció torn', 'Descripció tipus accident', 'Coordenada UTM (Y)',
       'Coordenada UTM (X)'],
      dtype='object')

Número de columnas: 20

===========================================================================================
Columnas de dataframe en posición 2:
------------------------------------
Index(['Número d'expedient', 'Codi districte', 'Nom districte', 'Codi barri',
       'Nom barri', 'Codi carrer', 'Nom carrer', 'Num postal caption',
       'Descripció dia setmana', 'Dia setmana', 'Descripció tipus dia',
       'NK Any', 'Mes de any', 'Nom mes', 'Dia de mes', 'Hora de dia',
       'Descripció torn', 'Descripció tipus accident', 'Coordenada UTM (Y)',
       'Coordenada UTM (X)'],
      dtype='object')

Número de columnas: 20

===========================================================================================
Columnas de dataframe en posición 3:
------------------------------------
Index(['Número d'expedient', 'Codi districte', 'Nom districte', 'Codi barri',
       'Nom barri', 'Codi carrer', 'Nom carrer', 'Num postal caption',
       'Descripció dia setmana', 'Dia setmana', 'Descripció tipus dia',
       'NK Any', 'Mes de any', 'Nom mes', 'Dia de mes', 'Hora de dia',
       'Descripció torn', 'Descripció tipus accident', 'Coordenada UTM (Y)',
       'Coordenada UTM (X)'],
      dtype='object')

Número de columnas: 20

===========================================================================================
Columnas de dataframe en posición 4:
------------------------------------
Index(['Número d'expedient', 'Codi districte', 'Nom districte', 'Codi barri',
       'Nom barri', 'Codi carrer', 'Nom carrer', 'Num postal caption',
       'Descripció dia setmana', 'Dia setmana', 'Descripció tipus dia',
       'NK Any', 'Mes de any', 'Nom mes', 'Dia de mes', 'Hora de dia',
       'Descripció torn', 'Descripció tipus accident', 'Coordenada UTM (Y)',
       'Coordenada UTM (X)'],
      dtype='object')

Número de columnas: 20

===========================================================================================
Columnas de dataframe en posición 5:
------------------------------------
Index(['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal_caption',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia', 'Any',
       'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia', 'Descripcio_torn',
       'Descripcio_tipus_accident', 'Coordenada_UTM_X', 'Coordenada_UTM_Y',
       'Longitud', 'Latitud'],
      dtype='object')

Número de columnas: 22

===========================================================================================
Columnas de dataframe en posición 6:
------------------------------------
Index(['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal_caption',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia', 'Any',
       'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia', 'Descripcio_torn',
       'Descripcio_tipus_accident', 'Coordenada_UTM_X', 'Coordenada_UTM_Y',
       'Longitud', 'Latitud'],
      dtype='object')

Número de columnas: 22

===========================================================================================
Columnas de dataframe en posición 7:
------------------------------------
Index(['Codi_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal ', 'Dia_setmana',
       'ID_Dia_setmana', 'Tipus_dia', 'Any', 'Mes', 'Nom_mes', 'Dia_de_mes',
       'Hora_de_dia', 'Torn', 'Tipus_accident', 'Coordenada_UTM_X',
       'Coordenada_UTM_Y', 'Longitud', 'Latitud'],
      dtype='object')

Número de columnas: 22

===========================================================================================
Columnas de dataframe en posición 8:
------------------------------------
Index(['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal_caption',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_torn', 'Descripcio_tipus_accident', 'Coordenada_UTM_X',
       'Coordenada_UTM_Y', 'Longitud', 'Latitud'],
      dtype='object')

Número de columnas: 22

===========================================================================================
Columnas de dataframe en posición 9:
------------------------------------
Index(['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal_caption',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_torn', 'Descripcio_tipus_accident', 'Coordenada_UTM_X',
       'Coordenada_UTM_Y', 'Longitud', 'Latitud'],
      dtype='object')

Número de columnas: 22

===========================================================================================

Se comparan los dataframes de ``lista_df_tipos`` y los de ``lista_df_gu``, los cuales poseen muchas columnas en común.

Verificamos nuevamente el cumplimiento de nuestra clave primaria "número de expediente".

In [38]:
lista_df_gu[5].head(3)

,NUMERO EXPEDIENTE,CODIGO DISTRITO,DISTRITO,CODIGO BARRIO,BARRIO,CODIGO CALLE,CALLE,NUMERO POSTAL,DIA SEMANA,DIA SEMANA (NUMERICO),...,HORA,TURNO,CAUSA,FALLECIDOS,LESIONADOS LEVE,LESIONADOS GRAVE,CANTIDAD VICTIMAS,CANTIDAD VEHICULOS,COORDENADA UTM X,COORDENADA UTM Y
0,2016S001896,-1,Desconegut,-1,Desconegut,-1,CTRA HTA CERDANY ...,1,Dimecres,Dc,...,15,Tarda,No és causa del vianant,0,0,0,0,1,429369.52,4587865.50
1,2016S004886,-1,Desconegut,-1,Desconegut,-1,FOC / Jocs del 92 ...,NaN,Dimarts,Dm,...,18,Tarda,No és causa del vianant,0,2,0,2,2,428989.33,4579247.93
2,2016S000252,-1,Desconegut,-1,Desconegut,-1,CTRA C-58 (RIPOLLE ...,0,Dimarts,Dm,...,16,Tarda,No és causa del vianant,0,2,0,2,4,431940.30,4590347.92

In [40]:
dw.datos_por_numero_expediente(lista_df_gu, 5, '2016S001896', 'NUMERO EXPEDIENTE').unstack()

Empty DataFrame
Columns: []
Index: []

In [41]:
dw.datos_por_numero_expediente(lista_df_tipos, 5, '2016S001896', 'Numero_expedient').unstack()

Empty DataFrame
Columns: []
Index: []

Se presenta nuevamente el inconveniente de encontrar caracteres en blanco en el string de número de expediente. De momento se realiza la comprobación de la correlatividad y más tarde se corregirá el problema.

In [43]:
lista_df_gu[5].iloc[0,0]

'2016S001896    '

In [44]:
dw.datos_por_numero_expediente(lista_df_gu, 5, '2016S001896    ', 'NUMERO EXPEDIENTE').unstack()

                                                                       0
NUMERO EXPEDIENTE                                        2016S001896
CODIGO DISTRITO                                                       -1
DISTRITO                                                      Desconegut
CODIGO BARRIO                                                         -1
BARRIO                                                        Desconegut
CODIGO CALLE                                                          -1
CALLE                  CTRA HTA CERDANY                              ...
NUMERO POSTAL                                                          1
DIA SEMANA                                                      Dimecres
DIA SEMANA (NUMERICO)                                                 Dc
TIPO DE DIA                                                      Laboral
ANO                                                                 2016
MES (NUMERICO)                                                         3
MES                                                                 Març
DIA                                                                    9
HORA                                                                  15
TURNO                                                              Tarda
CAUSA                                           No és causa del  vianant
FALLECIDOS                                                             0
LESIONADOS LEVE                                                        0
LESIONADOS GRAVE                                                       0
CANTIDAD VICTIMAS                                                      0
CANTIDAD VEHICULOS                                                     1
COORDENADA UTM X                                               429369.52
COORDENADA UTM Y                                               4587865.5

In [45]:
dw.datos_por_numero_expediente(lista_df_tipos, 5, '2016S001896    ', 'Numero_expedient').unstack()

                                                                        3972
Numero_expedient                                             2016S001896
Codi_districte                                                            -1
Nom_districte                                                     Desconegut
Codi_barri                                                                -1
Nom_barri                                                         Desconegut
Codi_carrer                                                               -1
Nom_carrer                 CTRA HTA CERDANY                              ...
Num_postal_caption                                                         1
Descripcio_dia_setmana                                              Dimecres
Dia_setmana                                                               Dc
Descripcio_tipus_dia                                                 Laboral
Any                                                                     2016
Mes_any                                                                    3
Nom_mes                                                                 Març
Dia_mes                                                                    9
Hora_dia                                                                  15
Descripcio_torn                                                        Tarda
Descripcio_tipus_accident                         Xoc contra element estàtic
Coordenada_UTM_X                                                   429369.52
Coordenada_UTM_Y                                                   4587865.5
Longitud                                                             2.15344
Latitud                                                            41.437411

Una vez verificada la relación por número de expediente, se seleccionan las columnas de interés para los datasets de "tipo de accidente", evitando duplicados. La selección será:
- Número de expediente
- Tipo de accidente

In [48]:
df_accidentes_tipos = dw.crear_df_tipos(lista_df_tipos)

In [49]:
df_accidentes_tipos

      NUMERO EXPEDIENTE              TIPO ACCIDENTE
0           2011S007726                       Abast
1           2011S000791    Col.lisió fronto-lateral
2           2011S004524    Col.lisió fronto-lateral
3           2011S002431                       Abast
4           2011S007530               Atropellament
...                 ...                         ...
99183   2020S006274      Xoc contra element estàtic
99184   2020S006275               Col.lisió lateral
99185   2020S006276        Col.lisió fronto-lateral
99186   2020S006277            Caiguda (dues rodes)
99187   2020S006278      Xoc contra element estàtic

[99188 rows x 2 columns]

---