# Python | list/dict comprehension

List comprehension in Python is a compact way of creating a list from a sequence. It is a short way to create a new list. List comprehension is considerably faster than processing a list using the for loop.

```python
# syntax
[i for i in iterable if expression]
```

Dictionary comprehension is the same as list comprehension but with dictionaries. I know, you didn't see that coming.

```python
# syntax

{key: value for i in iterable}
```

- https://www.programiz.com/python-programming/list-comprehension
- https://www.programiz.com/python-programming/dictionary-comprehension

### Exercise 1.

Use list comprehension and print the result to solve these problems:

1. Make a list with the square number of numbers from 0 to 20.

In [2]:
square = [x**2 for x in range(21)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

2. Make a list with the first 50 power of two.

In [15]:
power_of_two = [2**x for x in range(51)]
power_of_two

[1,
 2,
 4,
 8,
 16,
 32,
 64,
 128,
 256,
 512,
 1024,
 2048,
 4096,
 8192,
 16384,
 32768,
 65536,
 131072,
 262144,
 524288,
 1048576,
 2097152,
 4194304,
 8388608,
 16777216,
 33554432,
 67108864,
 134217728,
 268435456,
 536870912,
 1073741824,
 2147483648,
 4294967296,
 8589934592,
 17179869184,
 34359738368,
 68719476736,
 137438953472,
 274877906944,
 549755813888,
 1099511627776,
 2199023255552,
 4398046511104,
 8796093022208,
 17592186044416,
 35184372088832,
 70368744177664,
 140737488355328,
 281474976710656,
 562949953421312,
 1125899906842624]

3. Calculate the square root of the first 100 numbers. 

**You will probably need to install math library with pip and import it in this file.**

In [155]:
import math            

square_root = [print(str(x) + ' = ' + str(round(math.sqrt(x),3))) for x in range(101)]

0 = 0.0
1 = 1.0
2 = 1.414
3 = 1.732
4 = 2.0
5 = 2.236
6 = 2.449
7 = 2.646
8 = 2.828
9 = 3.0
10 = 3.162
11 = 3.317
12 = 3.464
13 = 3.606
14 = 3.742
15 = 3.873
16 = 4.0
17 = 4.123
18 = 4.243
19 = 4.359
20 = 4.472
21 = 4.583
22 = 4.69
23 = 4.796
24 = 4.899
25 = 5.0
26 = 5.099
27 = 5.196
28 = 5.292
29 = 5.385
30 = 5.477
31 = 5.568
32 = 5.657
33 = 5.745
34 = 5.831
35 = 5.916
36 = 6.0
37 = 6.083
38 = 6.164
39 = 6.245
40 = 6.325
41 = 6.403
42 = 6.481
43 = 6.557
44 = 6.633
45 = 6.708
46 = 6.782
47 = 6.856
48 = 6.928
49 = 7.0
50 = 7.071
51 = 7.141
52 = 7.211
53 = 7.28
54 = 7.348
55 = 7.416
56 = 7.483
57 = 7.55
58 = 7.616
59 = 7.681
60 = 7.746
61 = 7.81
62 = 7.874
63 = 7.937
64 = 8.0
65 = 8.062
66 = 8.124
67 = 8.185
68 = 8.246
69 = 8.307
70 = 8.367
71 = 8.426
72 = 8.485
73 = 8.544
74 = 8.602
75 = 8.66
76 = 8.718
77 = 8.775
78 = 8.832
79 = 8.888
80 = 8.944
81 = 9.0
82 = 9.055
83 = 9.11
84 = 9.165
85 = 9.22
86 = 9.274
87 = 9.327
88 = 9.381
89 = 9.434
90 = 9.487
91 = 9.539
92 = 9.592
93 = 9.644
94 = 9.695
95 = 9.747
96 = 9.798
97 = 9.849
98 = 9.899
99 = 9.95
100 = 10.0

4. Create this list `[-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]`.

In [23]:
negativo_a_cero = [x for x in range(-10,1)]
negativo_a_cero

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]

5. Filter only negative and zero in the list `numbers`.

In [25]:
numbers = [-4, -3, -2, -1, 0, 2, 4, 6]

negativos_y_cero = [x for x in numbers if x <= 0]
negativos_y_cero

[-4, -3, -2, -1, 0]

6. Find the odd numbers from 1-100 and put them on a list.

In [27]:
odd = [x for x in range(1,101) if x % 2 == 1]
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

7. Find all of the numbers from 1-1000 that are divisible by 7.

In [28]:
divisible_por_siete = [x for x in range(1,1001) if x % 7 == 0]
print(divisible_por_siete)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

8. Remove all of the vowels in a string. 

   Hint: make a list of the non-vowels.

In [8]:
teststring = "When you reach the end of your rope, tie a knot in it and hang on."
                                                                                        # No creo que sea la manera que se espera                                                                                       que lo resuelva... pero las vocales ya no                                                                                                          están :)
vocales = ['a', 'e', 'i', 'o', 'u']
lista_no_vocales = [x for x in teststring if x not in vocales]              
print(lista_no_vocales)

['W', 'h', 'n', ' ', 'y', ' ', 'r', 'c', 'h', ' ', 't', 'h', ' ', 'n', 'd', ' ', 'f', ' ', 'y', 'r', ' ', 'r', 'p', ',', ' ', 't', ' ', ' ', 'k', 'n', 't', ' ', 'n', ' ', 't', ' ', 'n', 'd', ' ', 'h', 'n', 'g', ' ', 'n', '.']

9. Find the capital letters (and not white space) in the sentence `"The Way To Get Started Is To Quit Talking And Begin Doing."`.

In [33]:
sentence = "The Way To Get Started Is To Quit Talking And Begin Doing."

capitals = [x for x in sentence if x.isupper()]
print(capitals)

['T', 'W', 'T', 'G', 'S', 'I', 'T', 'Q', 'T', 'A', 'B', 'D']

10. Find all the consonants in the sentence `"Tell me and I forget. Teach me and I remember. Involve me and I learn."`.

In [89]:
oracion = "Tell me and I forget. Teach me and I remember. Involve me and I learn."

vocales_espacio_punto = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U', ' ', '.', ',']

las_consonantes = [x for x in oracion if x not in vocales_espacio_punto]
print(las_consonantes)

['T', 'l', 'l', 'm', 'n', 'd', 'f', 'r', 'g', 't', 'T', 'c', 'h', 'm', 'n', 'd', 'r', 'm', 'm', 'b', 'r', 'n', 'v', 'l', 'v', 'm', 'n', 'd', 'l', 'r', 'n']

11. Create 4 lists of 10 random numbers between 0 and 100 each. 

**You will probably need to import random module.**

In [130]:
import random

lista_random = [[random.randint(0,100) for posicion in range(10)] for numero_listas in range(4)]

lista_random

[[63, 80, 37, 95, 77, 94, 85, 97, 85, 69],
 [70, 75, 14, 13, 8, 71, 26, 61, 40, 15],
 [52, 16, 47, 79, 60, 93, 39, 89, 82, 54],
 [27, 19, 14, 13, 53, 16, 53, 6, 22, 94]]

### Exercise 2.

1. Flatten the following list of lists of lists to a one dimensional list **using list-comprehension**:
```python
expected output:
[1, 2, 3, 4, 5, 6, 7, 8, 9]
```

In [120]:
list_of_lists =[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [125]:
lista_deseada = [x for lista_pequenia in list_of_lists for x in lista_pequenia]
lista_deseada

[1, 2, 3, 4, 5, 6, 7, 8, 9]

2. Flatten the following list to a new list, and capitalize the elements of the new list **using list-comprehension**:
```python
expected output:
['SPAIN', 'MADRID', 'FRANCE', 'PARIS', 'PORTUGAL', 'LISBON']
```

In [134]:
countries = [[('Spain', 'Madrid')], [('France', 'Paris')], [('Portugal', 'Lisbon')]]

In [138]:
lista_countries = [mapa.upper() for sublista in countries for tupla in sublista for mapa in tupla]
lista_countries

['SPAIN', 'MADRID', 'FRANCE', 'PARIS', 'PORTUGAL', 'LISBON']

3. Change the `countries` list to a list of dictionaries:
```python
expected output:
[{'country': 'SPAIN', 'city': 'MADRID'},
{'country': 'FRANCE', 'city': 'PARIS'},
{'country': 'PORTUGAL', 'city': 'LISBON'}]
```

In [143]:
lista_diccionarios = [{'country': countries[pos_sublista][0][0].upper(), 'city': countries[pos_sublista][0][1].upper()} for pos_sublista, sublista in enumerate(countries)]
lista_diccionarios

[{'country': 'SPAIN', 'city': 'MADRID'},
 {'country': 'FRANCE', 'city': 'PARIS'},
 {'country': 'PORTUGAL', 'city': 'LISBON'}]

4. Change the following list of lists to a list of concatenated strings **using list-comprehension**:
```python
expected output:
['Gabriel Vazquez', 'Clara Piniella', 'Diomedes Barbero']
```

In [145]:
names = [[('Gabriel', 'Vazquez')], [('Clara', 'Piniella')], [('Diomedes', 'Barbero')]]

In [149]:
lista_nombres = [str(tupla[0] + ' ' + tupla[1]) for lista in names for tupla in lista]
print(lista_nombres)

['Gabriel Vazquez', 'Clara Piniella', 'Diomedes Barbero']

5. Convert the numbers of the following nested list to floats. Use **floats_list** as the name of the list. **using list-comprehension**

In [150]:
big_list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

In [153]:
float_list = [float(elem) for i in big_list_of_lists for elem in i]   # NO ESTOY SEGURO DE QUE ÉSTO SEA LO QUE PIDE EL EJERCICIO.

print(float_list)

[40.0, 20.0, 10.0, 30.0, 20.0, 20.0, 20.0, 20.0, 20.0, 30.0, 20.0, 30.0, 20.0, 30.0, 50.0, 10.0, 30.0, 20.0, 20.0, 20.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0]

6. Using list comprehension create the following list of tuples:
```python
expected output: 
[(0, 1, 0, 0, 0, 0, 0),
(1, 1, 1, 1, 1, 1, 1),
(2, 1, 2, 4, 8, 16, 32),
(3, 1, 3, 9, 27, 81, 243),
(4, 1, 4, 16, 64, 256, 1024),
(5, 1, 5, 25, 125, 625, 3125),
(6, 1, 6, 36, 216, 1296, 7776),
(7, 1, 7, 49, 343, 2401, 16807),
(8, 1, 8, 64, 512, 4096, 32768),
(9, 1, 9, 81, 729, 6561, 59049),
(10, 1, 10, 100, 1000, 10000, 100000)]
```

In [17]:
lista_potencias = [(x, x**0, x**1, x**2, x**3, x**4, x**5) for x in range(11)]
lista_potencias

[(0, 1, 0, 0, 0, 0, 0),
 (1, 1, 1, 1, 1, 1, 1),
 (2, 1, 2, 4, 8, 16, 32),
 (3, 1, 3, 9, 27, 81, 243),
 (4, 1, 4, 16, 64, 256, 1024),
 (5, 1, 5, 25, 125, 625, 3125),
 (6, 1, 6, 36, 216, 1296, 7776),
 (7, 1, 7, 49, 343, 2401, 16807),
 (8, 1, 8, 64, 512, 4096, 32768),
 (9, 1, 9, 81, 729, 6561, 59049),
 (10, 1, 10, 100, 1000, 10000, 100000)]

### Exercise 3.

1. First, create a range from 100 to 160 with steps of 10.
   Second, using **dict comprehension**, create a dictionary where each number in the range is the key and each item divided by 100 is the value.

In [160]:
rango = range(100,160,10)

diccionario = {x:x/100 for x in rango}
diccionario

{100: 1.0, 110: 1.1, 120: 1.2, 130: 1.3, 140: 1.4, 150: 1.5}

2. Using **dict comprehension** and a conditional argument create a dictionary from `curr_dict` where only the key:value pairs with value above 2000 are taken to the new dictionary.

In [161]:
curr_dict = {"Netflix":4950,"HBO":2400,"Amazon":1800, "Movistar":1700}

In [170]:
nuevo_diccionario = {key: value for key, value in curr_dict.items() if value > 2000}
nuevo_diccionario

{'Netflix': 4950, 'HBO': 2400}

3. Create a function that receives two lists `list1` and `list2` by parameter and returns a dictionary with each element of `list1` as keys and the elements of `list2` as values. This time use **dict comprehension** to do so.

In [176]:
def hacer_diccionario(list1, list2):
    diccionario_animales = {valor: list2[pos] for pos, valor in enumerate(list1)}
    return diccionario_animales

In [178]:
animales = ['Pulpo', 'Mono', 'Perro', 'Araña', 'Foca', 'Hormiga']
numero_de_patas = [8, 2, 4, 8, 0, 6]

hacer_diccionario(animales, numero_de_patas)

{'Pulpo': 8, 'Mono': 2, 'Perro': 4, 'Araña': 8, 'Foca': 0, 'Hormiga': 6}

### Bonus Track.

1. Make a Python program that, from the strings `" | "` and `" _ "`, shows an 8x8 **chessboard** on the screen.

   Develop the program in a `.py` file that will be run through the terminal. 
 
   From the folder that contains the corresponding `.py`, it will be executed with the following command:` python3 program_name.py`

In [36]:
print(' _' * 8)                                
contador = 0
while contador <= 7:
    print(('|' + '_') * 8 + '|')
    contador += 1

 _ _ _ _ _ _ _ _
|_|_|_|_|_|_|_|_|
|_|_|_|_|_|_|_|_|
|_|_|_|_|_|_|_|_|
|_|_|_|_|_|_|_|_|
|_|_|_|_|_|_|_|_|
|_|_|_|_|_|_|_|_|
|_|_|_|_|_|_|_|_|
|_|_|_|_|_|_|_|_|

In [37]:
import tablero           # No entiendo por qué no me permite exportar la función. Cuando corro la función en el .py, me da                                   errores y al correrla en .ipynb funciona.
tablero()

TypeError: 'module' object is not callable

!['togood'](https://i.pinimg.com/originals/de/f5/2f/def52fe41d695d8feebd2cdc194da929.png)