In [1]:
import pandas as pd 

df = pd.read_csv("healthcare/train_set.csv")
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,161528,6,a,6,X,2,gynecology,R,F,4.0,45810,2.0,Urgent,Moderate,2,21-30,2817.0,0-10
1,159472,23,a,6,X,4,gynecology,Q,F,2.0,128565,15.0,Trauma,Moderate,4,51-60,4498.0,21-30
2,309765,2,c,5,Z,2,anesthesia,S,F,3.0,46565,5.0,Urgent,Moderate,2,71-80,4573.0,11-20
3,279614,32,f,9,Y,3,gynecology,S,B,4.0,124546,6.0,Emergency,Moderate,4,11-20,7202.0,51-60
4,147791,14,a,1,X,3,gynecology,S,E,2.0,22729,8.0,Urgent,Moderate,2,51-60,3398.0,51-60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,237869,12,a,9,Y,3,gynecology,R,B,3.0,82914,3.0,Emergency,Moderate,6,51-60,3966.0,More than 100 Days
99996,254763,28,b,11,X,2,gynecology,R,F,2.0,40026,5.0,Urgent,Moderate,3,21-30,4005.0,51-60
99997,69788,6,a,6,X,3,gynecology,Q,F,3.0,92346,2.0,Trauma,Minor,2,31-40,5215.0,31-40
99998,204442,32,f,9,Y,2,gynecology,S,B,4.0,113798,15.0,Trauma,Moderate,3,41-50,5092.0,11-20
99999,69647,25,e,1,X,3,gynecology,Q,E,2.0,109237,8.0,Emergency,Moderate,2,41-50,3390.0,41-50

In [2]:
df["6"].unique()

array(['gynecology', 'anesthesia', 'radiotherapy', 'TB & Chest disease',
       'surgery'], dtype=object)

In [6]:
# Apply
def replace_values(category):
    if category == "gynecology":
        return 90
    return category

df["6"] = df["6"].apply(replace_values)

In [7]:
pd.DataFrame(df["6"])

                6
0              90
1              90
2      anesthesia
3              90
4              90
...           ...
99995          90
99996          90
99997          90
99998          90
99999          90

[100000 rows x 1 columns]

In [4]:
# Replace / Rename
df["6"] = df["6"].replace({"gynecology":5, "anesthesia":86})
pd.DataFrame(df["6"])

        6
0       5
1       5
2      86
3       5
4       5
...    ..
99995   5
99996   5
99997   5
99998   5
99999   5

[100000 rows x 1 columns]

In [8]:
# Rename
df["6"].rename(columns={"gynecology":5, "anesthesia":86})

0                90
1                90
2        anesthesia
3                90
4                90
            ...
99995            90
99996            90
99997            90
99998            90
99999            90
Name: 6, Length: 100000, dtype: object

In [9]:
df = pd.read_csv("healthcare/train_set.csv")
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,161528,6,a,6,X,2,gynecology,R,F,4.0,45810,2.0,Urgent,Moderate,2,21-30,2817.0,0-10
1,159472,23,a,6,X,4,gynecology,Q,F,2.0,128565,15.0,Trauma,Moderate,4,51-60,4498.0,21-30
2,309765,2,c,5,Z,2,anesthesia,S,F,3.0,46565,5.0,Urgent,Moderate,2,71-80,4573.0,11-20
3,279614,32,f,9,Y,3,gynecology,S,B,4.0,124546,6.0,Emergency,Moderate,4,11-20,7202.0,51-60
4,147791,14,a,1,X,3,gynecology,S,E,2.0,22729,8.0,Urgent,Moderate,2,51-60,3398.0,51-60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,237869,12,a,9,Y,3,gynecology,R,B,3.0,82914,3.0,Emergency,Moderate,6,51-60,3966.0,More than 100 Days
99996,254763,28,b,11,X,2,gynecology,R,F,2.0,40026,5.0,Urgent,Moderate,3,21-30,4005.0,51-60
99997,69788,6,a,6,X,3,gynecology,Q,F,3.0,92346,2.0,Trauma,Minor,2,31-40,5215.0,31-40
99998,204442,32,f,9,Y,2,gynecology,S,B,4.0,113798,15.0,Trauma,Moderate,3,41-50,5092.0,11-20
99999,69647,25,e,1,X,3,gynecology,Q,E,2.0,109237,8.0,Emergency,Moderate,2,41-50,3390.0,41-50

In [12]:
from sklearn.cluster import KMeans

In [ ]:
df["kmeans"] = KMeans(11).fit(df.drop())

In [ ]:
# TransformaciÃ³n de categÃ³rico a regresiÃ³n

y = ["11-21", "22-32"]
y_real = [15, 26]
y_pred = [21.5]

In [2]:
df = pd.read_csv("healthcare/train_set.csv")
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,161528,6,a,6,X,2,gynecology,R,F,4.0,45810,2.0,Urgent,Moderate,2,21-30,2817.0,0-10
1,159472,23,a,6,X,4,gynecology,Q,F,2.0,128565,15.0,Trauma,Moderate,4,51-60,4498.0,21-30
2,309765,2,c,5,Z,2,anesthesia,S,F,3.0,46565,5.0,Urgent,Moderate,2,71-80,4573.0,11-20
3,279614,32,f,9,Y,3,gynecology,S,B,4.0,124546,6.0,Emergency,Moderate,4,11-20,7202.0,51-60
4,147791,14,a,1,X,3,gynecology,S,E,2.0,22729,8.0,Urgent,Moderate,2,51-60,3398.0,51-60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,237869,12,a,9,Y,3,gynecology,R,B,3.0,82914,3.0,Emergency,Moderate,6,51-60,3966.0,More than 100 Days
99996,254763,28,b,11,X,2,gynecology,R,F,2.0,40026,5.0,Urgent,Moderate,3,21-30,4005.0,51-60
99997,69788,6,a,6,X,3,gynecology,Q,F,3.0,92346,2.0,Trauma,Minor,2,31-40,5215.0,31-40
99998,204442,32,f,9,Y,2,gynecology,S,B,4.0,113798,15.0,Trauma,Moderate,3,41-50,5092.0,11-20
99999,69647,25,e,1,X,3,gynecology,Q,E,2.0,109237,8.0,Emergency,Moderate,2,41-50,3390.0,41-50

In [7]:
x_new = df.head(1).drop(columns=["17"])
x_new

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,161528,6,a,6,X,2,gynecology,R,F,4.0,45810,2.0,Urgent,Moderate,2,21-30,2817.0

In [ ]:
# Paso 1:
# Realizar todas las transformaciones que hice antes de entrenar el modelo

# Paso 2
# Predecir
model.predict(x_new)