## 1

Estoy en la misma carpeta que el archivo

In [1]:
import pandas as pd
import os

my_folder = os.getcwd()
my_folder

'c:\\Users\\LeoFr\\Desktop\\BootCamp\\CARPETAS_profesorYalumno\\Leonardo.DataScience\\week4_EDA_np_pd_json_apis_regex\\day3_numpy_pandas_III_json\\theory\\python\\example_pandas'

In [2]:
# Absoluto
my_folder = my_folder + os.sep + "laliga.csv"
my_folder

'c:\\Users\\LeoFr\\Desktop\\BootCamp\\CARPETAS_profesorYalumno\\Leonardo.DataScience\\week4_EDA_np_pd_json_apis_regex\\day3_numpy_pandas_III_json\\theory\\python\\example_pandas\\laliga.csv'

In [3]:
# relativo
df = pd.read_csv("laliga.csv")
df

FileNotFoundError: [Errno 2] No such file or directory: 'laliga.csv'

## 2

El archivo está en una carpeta superior a la mía

In [11]:
# Calculando la ruta absoluta
# Subo una carpeta a mi carpeta actual
os.path.dirname(os.getcwd()) + os.sep + "laliga.csv"

'z:\\Data_Science\\TheBridge\\Content\\Contenido_Curso\\data_science_apr_2021\\week4_EDA_np_pd_json_apis_regex\\day3_numpy_pandas_III_json\\theory\\python\\laliga.csv'

De forma absoluta:

1. "filename"--> Buscar en la carpeta en la que está
2. "./filename"--> Buscar en la carpeta en la que está
3. "../filename" --> Busca el archivo en una carpeta superior a la que estoy
4. "../../filename" --> Busca el archivo en dos carpetas superior a la que estoy

In [14]:
# relativo
df = pd.read_csv("../laliga.csv")
df

,Unnamed: 0,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,26201,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600
1,26202,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600
2,26203,2005-06,1,1,Valencia,Betis,1,0,27/08/2005,1125093600
3,26204,2005-06,1,1,Atletico de Madrid,Zaragoza,0,0,28/08/2005,1125180000
4,26205,2005-06,1,1,Cadiz,Real Madrid,1,2,28/08/2005,1125180000
...,...,...,...,...,...,...,...,...,...,...
4935,36680,2017-18,1,38,Villarreal,Real Madrid,2,2,19/05/2018,1526680800
4936,36681,2017-18,1,38,Atletico de Bilbao,Espanol,0,1,20/05/2018,1526767200
4937,36682,2017-18,1,38,Barcelona,Real Sociedad,1,0,20/05/2018,1526767200
4938,36683,2017-18,1,38,Valencia,Deportivo,2,1,20/05/2018,1526767200
4939,36684,2017-18,1,38,Atletico de Madrid,Eibar,2,2,20/05/2018,1526767200

## 3.

Alguna carpeta superior y/o dentro de otra carpeta

In [16]:
# relativo
df = pd.read_csv("../paths/laliga.csv")
df

,Unnamed: 0,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,26201,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600
1,26202,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600
2,26203,2005-06,1,1,Valencia,Betis,1,0,27/08/2005,1125093600
3,26204,2005-06,1,1,Atletico de Madrid,Zaragoza,0,0,28/08/2005,1125180000
4,26205,2005-06,1,1,Cadiz,Real Madrid,1,2,28/08/2005,1125180000
...,...,...,...,...,...,...,...,...,...,...
4935,36680,2017-18,1,38,Villarreal,Real Madrid,2,2,19/05/2018,1526680800
4936,36681,2017-18,1,38,Atletico de Bilbao,Espanol,0,1,20/05/2018,1526767200
4937,36682,2017-18,1,38,Barcelona,Real Sociedad,1,0,20/05/2018,1526767200
4938,36683,2017-18,1,38,Valencia,Deportivo,2,1,20/05/2018,1526767200
4939,36684,2017-18,1,38,Atletico de Madrid,Eibar,2,2,20/05/2018,1526767200

In [18]:
# relativo
# Caso en el que tengo que acceder a una carpeta en la ruta en la que estoy
df = pd.read_csv("a/laliga.csv")
df

,Unnamed: 0,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,26201,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600
1,26202,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600
2,26203,2005-06,1,1,Valencia,Betis,1,0,27/08/2005,1125093600
3,26204,2005-06,1,1,Atletico de Madrid,Zaragoza,0,0,28/08/2005,1125180000
4,26205,2005-06,1,1,Cadiz,Real Madrid,1,2,28/08/2005,1125180000
...,...,...,...,...,...,...,...,...,...,...
4935,36680,2017-18,1,38,Villarreal,Real Madrid,2,2,19/05/2018,1526680800
4936,36681,2017-18,1,38,Atletico de Bilbao,Espanol,0,1,20/05/2018,1526767200
4937,36682,2017-18,1,38,Barcelona,Real Sociedad,1,0,20/05/2018,1526767200
4938,36683,2017-18,1,38,Valencia,Deportivo,2,1,20/05/2018,1526767200
4939,36684,2017-18,1,38,Atletico de Madrid,Eibar,2,2,20/05/2018,1526767200