# 04 - Grouping

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [2]:
users = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', 
                      sep='|', index_col='user_id')
users

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

### Step 4. Discover what is the mean age per occupation

In [25]:
round(users.groupby('occupation').age.mean(),2)

occupation
administrator    38.75
artist           31.39
doctor           43.57
educator         42.01
engineer         36.39
entertainment    29.22
executive        38.72
healthcare       41.56
homemaker        32.57
lawyer           36.75
librarian        40.00
marketing        37.62
none             26.56
other            34.52
programmer       33.12
retired          63.07
salesman         35.67
scientist        35.55
student          22.08
technician       33.15
writer           36.31
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [158]:
round(users.groupby('occupation').gender.value_counts(normalize = True).loc[:,'M']*100,2).sort_values(ascending=False) # Primero saqué el porcentaje de hombres y mujeres para cada 'occupation', después enmascaré para obtener sólo los 'Males'... Por último, ordené de mayor a menor.

occupation
doctor           100.00
engineer          97.01
technician        96.30
retired           92.86
programmer        90.91
executive         90.62
scientist         90.32
entertainment     88.89
lawyer            83.33
salesman          75.00
educator          72.63
student           69.39
other             65.71
marketing         61.54
writer            57.78
none              55.56
administrator     54.43
artist            53.57
librarian         43.14
healthcare        31.25
homemaker         14.29
Name: gender, dtype: float64

## Ver la diferencia entre el de arriba (bien) y el de abajo (mal) me ayuda a entenderlo

In [166]:
users[users['gender'] == 'M'].groupby('occupation').gender.value_counts(normalize = True) # Acá enmascaré para 'Males' antes de sacar los porcentajes... entonces cuando saco los porcentajes, sólo hay hombres... y me da el 100 %.  --> MAL

occupation     gender
administrator  M         1.0
artist         M         1.0
doctor         M         1.0
educator       M         1.0
engineer       M         1.0
entertainment  M         1.0
executive      M         1.0
healthcare     M         1.0
homemaker      M         1.0
lawyer         M         1.0
librarian      M         1.0
marketing      M         1.0
none           M         1.0
other          M         1.0
programmer     M         1.0
retired        M         1.0
salesman       M         1.0
scientist      M         1.0
student        M         1.0
technician     M         1.0
writer         M         1.0
Name: gender, dtype: float64

## Pruebas de concepto... Hago unstack varias veces y busco obtener el resultado esperado (porcentaje de hombres y mujeres para cada ocupacion)... Fijarse como debo modificar el "loc" en función del resultado del "unstack".

In [112]:
perro = users.groupby('occupation').gender.value_counts(normalize = True)
perro

occupation     gender
administrator  M         0.544304
               F         0.455696
artist         M         0.535714
               F         0.464286
doctor         M         1.000000
educator       M         0.726316
               F         0.273684
engineer       M         0.970149
               F         0.029851
entertainment  M         0.888889
               F         0.111111
executive      M         0.906250
               F         0.093750
healthcare     F         0.687500
               M         0.312500
homemaker      F         0.857143
               M         0.142857
lawyer         M         0.833333
               F         0.166667
librarian      F         0.568627
               M         0.431373
marketing      M         0.615385
               F         0.384615
none           M         0.555556
               F         0.444444
other          M         0.657143
               F         0.342857
programmer     M         0.909091
               F         0.090909
retired        M         0.928571
               F         0.071429
salesman       M         0.750000
               F         0.250000
scientist      M         0.903226
               F         0.096774
student        M         0.693878
               F         0.306122
technician     M         0.962963
               F         0.037037
writer         M         0.577778
               F         0.422222
Name: gender, dtype: float64

In [165]:
print(perro)
print('---')
print('perro:', type(perro))
print('---')
print('perro shape:', perro.shape)
print('---')
print('perro index:', perro.index)
print('----------------------------------------------')
perro1 = perro.unstack()
print(perro1)
print('---')
print('perro1 type:', type(perro1))
print('---')
print('perro1 shape:', perro1.shape)
print('---')
print('perro1 index:', perro1.index)
print('---')
print('perro1 columns:', perro1.columns)
print('----------------------------------------------')
perro2 = perro1.unstack()
print(perro2)
print('---')
print('perro2 type:', type(perro2))
print('---')
print('perro2 shape:', perro2.shape)
print('---')
print('perro2 index:', perro2.index)

occupation     gender
administrator  M         0.544304
               F         0.455696
artist         M         0.535714
               F         0.464286
doctor         M         1.000000
educator       M         0.726316
               F         0.273684
engineer       M         0.970149
               F         0.029851
entertainment  M         0.888889
               F         0.111111
executive      M         0.906250
               F         0.093750
healthcare     F         0.687500
               M         0.312500
homemaker      F         0.857143
               M         0.142857
lawyer         M         0.833333
               F         0.166667
librarian      F         0.568627
               M         0.431373
marketing      M         0.615385
               F         0.384615
none           M         0.555556
               F         0.444444
other          M         0.657143
               F         0.342857
programmer     M         0.909091
               F         0.090909
retired        M         0.928571
               F         0.071429
salesman       M         0.750000
               F         0.250000
scientist      M         0.903226
               F         0.096774
student        M         0.693878
               F         0.306122
technician     M         0.962963
               F         0.037037
writer         M         0.577778
               F         0.422222
Name: gender, dtype: float64
---
perro: <class 'pandas.core.series.Series'>
---
perro shape: (41,)
---
perro index: MultiIndex([('administrator', 'M'),
            ('administrator', 'F'),
            (       'artist', 'M'),
            (       'artist', 'F'),
            (       'doctor', 'M'),
            (     'educator', 'M'),
            (     'educator', 'F'),
            (     'engineer', 'M'),
            (     'engineer', 'F'),
            ('entertainment', 'M'),
            ('entertainment', 'F'),
            (    'executive', 'M'),
            (    'executive', 'F'),
            (   'healthcare', 'F'),
            (   'healthcare', 'M'),
            (    'homemaker', 'F'),
            (    'homemaker', 'M'),
            (       'lawyer', 'M'),
            (       'lawyer', 'F'),
            (    'librarian', 'F'),
            (    'librarian', 'M'),
            (    'marketing', 'M'),
            (    'marketing', 'F'),
            (         'none', 'M'),
            (         'none', 'F'),
            (        'other', 'M'),
            (        'other', 'F'),
            (   'programmer', 'M'),
            (   'programmer', 'F'),
            (      'retired', 'M'),
            (      'retired', 'F'),
            (     'salesman', 'M'),
            (     'salesman', 'F'),
            (    'scientist', 'M'),
            (    'scientist', 'F'),
            (      'student', 'M'),
            (      'student', 'F'),
            (   'technician', 'M'),
            (   'technician', 'F'),
            (       'writer', 'M'),
            (       'writer', 'F')],
           names=['occupation', 'gender'])
----------------------------------------------
gender                F         M
occupation
administrator  0.455696  0.544304
artist         0.464286  0.535714
doctor              NaN  1.000000
educator       0.273684  0.726316
engineer       0.029851  0.970149
entertainment  0.111111  0.888889
executive      0.093750  0.906250
healthcare     0.687500  0.312500
homemaker      0.857143  0.142857
lawyer         0.166667  0.833333
librarian      0.568627  0.431373
marketing      0.384615  0.615385
none           0.444444  0.555556
other          0.342857  0.657143
programmer     0.090909  0.909091
retired        0.071429  0.928571
salesman       0.250000  0.750000
scientist      0.096774  0.903226
student        0.306122  0.693878
technician     0.037037  0.962963
writer         0.422222  0.577778
---
perro1 type: <class 'pandas.core.frame.DataFrame'>
---
perro1 shape: (21, 2)
---
perro1 index: Index(['administrator', 'artist', 'doctor', 'educator', 'engineer',
       'entertainment', 'executive', 'healthcare', 'homemaker', 'lawyer',
       'librarian', 'marketing', 'none', 'other', 'programmer', 'retired',
       'salesman', 'scientist', 'student', 'technician', 'writer'],
      dtype='object', name='occupation')
---
perro1 columns: Index(['F', 'M'], dtype='object', name='gender')
----------------------------------------------
gender  occupation
F       administrator    0.455696
        artist           0.464286
        doctor                NaN
        educator         0.273684
        engineer         0.029851
        entertainment    0.111111
        executive        0.093750
        healthcare       0.687500
        homemaker        0.857143
        lawyer           0.166667
        librarian        0.568627
        marketing        0.384615
        none             0.444444
        other            0.342857
        programmer       0.090909
        retired          0.071429
        salesman         0.250000
        scientist        0.096774
        student          0.306122
        technician       0.037037
        writer           0.422222
M       administrator    0.544304
        artist           0.535714
        doctor           1.000000
        educator         0.726316
        engineer         0.970149
        entertainment    0.888889
        executive        0.906250
        healthcare       0.312500
        homemaker        0.142857
        lawyer           0.833333
        librarian        0.431373
        marketing        0.615385
        none             0.555556
        other            0.657143
        programmer       0.909091
        retired          0.928571
        salesman         0.750000
        scientist        0.903226
        student          0.693878
        technician       0.962963
        writer           0.577778
dtype: float64
---
perro2 type: <class 'pandas.core.series.Series'>
---
perro2 shape: (42,)
---
perro2 index: MultiIndex([('F', 'administrator'),
            ('F',        'artist'),
            ('F',        'doctor'),
            ('F',      'educator'),
            ('F',      'engineer'),
            ('F', 'entertainment'),
            ('F',     'executive'),
            ('F',    'healthcare'),
            ('F',     'homemaker'),
            ('F',        'lawyer'),
            ('F',     'librarian'),
            ('F',     'marketing'),
            ('F',          'none'),
            ('F',         'other'),
            ('F',    'programmer'),
            ('F',       'retired'),
            ('F',      'salesman'),
            ('F',     'scientist'),
            ('F',       'student'),
            ('F',    'technician'),
            ('F',        'writer'),
            ('M', 'administrator'),
            ('M',        'artist'),
            ('M',        'doctor'),
            ('M',      'educator'),
            ('M',      'engineer'),
            ('M', 'entertainment'),
            ('M',     'executive'),
            ('M',    'healthcare'),
            ('M',     'homemaker'),
            ('M',        'lawyer'),
            ('M',     'librarian'),
            ('M',     'marketing'),
            ('M',          'none'),
            ('M',         'other'),
            ('M',    'programmer'),
            ('M',       'retired'),
            ('M',      'salesman'),
            ('M',     'scientist'),
            ('M',       'student'),
            ('M',    'technician'),
            ('M',        'writer')],
           names=['gender', 'occupation'])

In [157]:
print(perro.loc[:,'M'])
print('----------------------------------------------')
print(perro1.loc[:,'M'])
print('----------------------------------------------')
print(perro2.loc['M'])

occupation
administrator    0.544304
artist           0.535714
doctor           1.000000
educator         0.726316
engineer         0.970149
entertainment    0.888889
executive        0.906250
healthcare       0.312500
homemaker        0.142857
lawyer           0.833333
librarian        0.431373
marketing        0.615385
none             0.555556
other            0.657143
programmer       0.909091
retired          0.928571
salesman         0.750000
scientist        0.903226
student          0.693878
technician       0.962963
writer           0.577778
Name: gender, dtype: float64
----------------------------------------------
occupation
administrator    0.544304
artist           0.535714
doctor           1.000000
educator         0.726316
engineer         0.970149
entertainment    0.888889
executive        0.906250
healthcare       0.312500
homemaker        0.142857
lawyer           0.833333
librarian        0.431373
marketing        0.615385
none             0.555556
other            0.657143
programmer       0.909091
retired          0.928571
salesman         0.750000
scientist        0.903226
student          0.693878
technician       0.962963
writer           0.577778
Name: M, dtype: float64
----------------------------------------------
occupation
administrator    0.544304
artist           0.535714
doctor           1.000000
educator         0.726316
engineer         0.970149
entertainment    0.888889
executive        0.906250
healthcare       0.312500
homemaker        0.142857
lawyer           0.833333
librarian        0.431373
marketing        0.615385
none             0.555556
other            0.657143
programmer       0.909091
retired          0.928571
salesman         0.750000
scientist        0.903226
student          0.693878
technician       0.962963
writer           0.577778
dtype: float64

In [141]:
perro2 = perro1.unstack()
print('perro2 type:', type(perro2))
print('perro2 shape:', perro2.shape)
perro2

perro2 type: <class 'pandas.core.series.Series'>
perro2 shape: (42,)

gender  occupation
F       administrator    0.455696
        artist           0.464286
        doctor                NaN
        educator         0.273684
        engineer         0.029851
        entertainment    0.111111
        executive        0.093750
        healthcare       0.687500
        homemaker        0.857143
        lawyer           0.166667
        librarian        0.568627
        marketing        0.384615
        none             0.444444
        other            0.342857
        programmer       0.090909
        retired          0.071429
        salesman         0.250000
        scientist        0.096774
        student          0.306122
        technician       0.037037
        writer           0.422222
M       administrator    0.544304
        artist           0.535714
        doctor           1.000000
        educator         0.726316
        engineer         0.970149
        entertainment    0.888889
        executive        0.906250
        healthcare       0.312500
        homemaker        0.142857
        lawyer           0.833333
        librarian        0.431373
        marketing        0.615385
        none             0.555556
        other            0.657143
        programmer       0.909091
        retired          0.928571
        salesman         0.750000
        scientist        0.903226
        student          0.693878
        technician       0.962963
        writer           0.577778
dtype: float64

In [101]:
round(users.groupby('occupation').gender.value_counts(normalize = True).loc[:,'M']*100,2).sort_values(ascending=False) # Primero saqué el porcentaje de hombres y mujeres para cada 'occupation', después enmascaré para obtener sólo los 'Males'... Por último, ordené de mayor a menor.

occupation
doctor           100.00
engineer          97.01
technician        96.30
retired           92.86
programmer        90.91
executive         90.62
scientist         90.32
entertainment     88.89
lawyer            83.33
salesman          75.00
educator          72.63
student           69.39
other             65.71
marketing         61.54
writer            57.78
none              55.56
administrator     54.43
artist            53.57
librarian         43.14
healthcare        31.25
homemaker         14.29
Name: gender, dtype: float64

### Step 6. For each occupation, calculate the minimum and maximum ages

In [11]:
users.groupby('occupation').age.aggregate([min,max])

               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

### Step 7. For each combination of occupation and gender, calculate the mean age

In [13]:
hola = round(users.groupby(['occupation', 'gender']).age.mean(),2)

occupation     gender
administrator  F         40.64
               M         37.16
artist         F         30.31
               M         32.33
doctor         M         43.57
educator       F         39.12
               M         43.10
engineer       F         29.50
               M         36.60
entertainment  F         31.00
               M         29.00
executive      F         44.00
               M         38.17
healthcare     F         39.82
               M         45.40
homemaker      F         34.17
               M         23.00
lawyer         F         39.50
               M         36.20
librarian      F         40.00
               M         40.00
marketing      F         37.20
               M         37.88
none           F         36.50
               M         18.60
other          F         35.47
               M         34.03
programmer     F         32.17
               M         33.22
retired        F         70.00
               M         62.54
salesman       F         27.00
               M         38.56
scientist      F         28.33
               M         36.32
student        F         20.75
               M         22.67
technician     F         38.00
               M         32.96
writer         F         37.63
               M         35.35
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men

In [98]:
round(users.groupby('occupation').gender.value_counts(normalize = True).loc[:,'M']*100,2)

occupation
administrator     54.43
artist            53.57
doctor           100.00
educator          72.63
engineer          97.01
entertainment     88.89
executive         90.62
healthcare        31.25
homemaker         14.29
lawyer            83.33
librarian         43.14
marketing         61.54
none              55.56
other             65.71
programmer        90.91
retired           92.86
salesman          75.00
scientist         90.32
student           69.39
technician        96.30
writer            57.78
Name: gender, dtype: float64