In [ ]:
import pandas as pd

In [ ]:
def enlistar_dataframes_gu():
    global lista_df_gu
    lista_df_gu = []
    for i in range(11,21):
        try:
            i = pd.read_csv('20'+str(i)+'/20'+str(i)+'_ACCIDENTS_GU_BCN_20'+str(i)+'-utf8.csv')
        except:
            try:
                i = pd.read_csv('20'+str(i)+'/20'+str(i)+'_ACCIDENTS_GU_BCN_20'+str(i)+'-utf8.csv', sep=';')
            except:
                i = pd.read_excel('20'+str(i)+'/20'+str(i)+'_ACCIDENTS_GU_BCN_20'+str(i)+'.xlsx')
        lista_df_gu.append(i)
    return lista_df_gu

In [ ]:
def comparar_columnas(lista_df): 
    ''' SE DEBE INGRESAR UNA LISTA DE DATAFRAMES A COMPARAR. '''
    for i in range(len(lista_df)):
            for j in range(1, len(lista_df)):    
                if i < j:
                    #print(str(i) + ' vs. ' + str(j))
                    if len(lista_df[i].columns) == len(lista_df[j].columns):
                        #print('--------')
                        columnas_iguales = lista_df[i].columns == lista_df[j].columns # TRUE si coinciden, FALSE si no
                        if all(columnas_iguales):
                            print('Las columnas de ' + str(i) + ' (' + str(len(lista_df[i].columns)) +') y ' + str(j)+ ' (' + str(len(lista_df[j].columns)) + ') COINCIDEN.')
                            print('======================================================')
                            break
                        else:
                            print('Las columnas de ' + str(i) + ' (' + str(len(lista_df[i].columns)) +') y ' + str(j) + ' (' + str(len(lista_df[j].columns)) + ') SON DISTINTAS.')
                            print('======================================================')
                    else:
                        print(str(i) +  ' (' + str(len(lista_df[i].columns))  + ') y ' + str(j) + ' (' + str(len(lista_df[j].columns)) + ') tienen distinta CANTIDAD de columnas.')
                        print('======================================================')
                        # print(lista_dataframes[i].columns) == lista_dataframes[j].columns)
                        #print('-------')

In [ ]:
def mostrar_columnas(lista_df):
    ''' SE DEBE INGRESAR UNA LISTA DE DATAFRAMES '''
    for i in range(len(lista_df)):
        print('Columnas de dataframe en posición ' + str(i) + ':')
        print('------------------------------------')
        print(lista_df[i].columns)
        print('\nNúmero de columnas: ' + str(len(lista_df[i].columns)) + '\n')
        print('===========================================================================================')

In [ ]:
enlistar_dataframes_gu()

In [24]:
comparar_columnas(lista_df_gu)

Las columnas de 0 (25) y 1 (25) COINCIDEN.
======================================================
Las columnas de 1 (25) y 2 (25) COINCIDEN.
======================================================
Las columnas de 2 (25) y 3 (25) COINCIDEN.
======================================================
Las columnas de 3 (25) y 4 (25) SON DISTINTAS.
======================================================
3 (25) y 5 (27) tienen distinta CANTIDAD de columnas.
======================================================
3 (25) y 6 (27) tienen distinta CANTIDAD de columnas.
======================================================
3 (25) y 7 (27) tienen distinta CANTIDAD de columnas.
======================================================
3 (25) y 8 (27) tienen distinta CANTIDAD de columnas.
======================================================
3 (25) y 9 (27) tienen distinta CANTIDAD de columnas.
======================================================
4 (25) y 5 (27) tienen distinta CANTIDAD de columnas.
======================================================
4 (25) y 6 (27) tienen distinta CANTIDAD de columnas.
======================================================
4 (25) y 7 (27) tienen distinta CANTIDAD de columnas.
======================================================
4 (25) y 8 (27) tienen distinta CANTIDAD de columnas.
======================================================
4 (25) y 9 (27) tienen distinta CANTIDAD de columnas.
======================================================
Las columnas de 5 (27) y 6 (27) COINCIDEN.
======================================================
Las columnas de 6 (27) y 7 (27) SON DISTINTAS.
======================================================
Las columnas de 6 (27) y 8 (27) SON DISTINTAS.
======================================================
Las columnas de 6 (27) y 9 (27) SON DISTINTAS.
======================================================
Las columnas de 7 (27) y 8 (27) SON DISTINTAS.
======================================================
Las columnas de 7 (27) y 9 (27) SON DISTINTAS.
======================================================
Las columnas de 8 (27) y 9 (27) SON DISTINTAS.
======================================================

In [25]:
mostrar_columnas(lista_df_gu)

Columnas de dataframe en posición 0:
------------------------------------
Index(['Número d'expedient', 'Codi districte', 'Nom districte', 'NK barri',
       'Nom barri', 'Codi carrer', 'Nom carrer', 'Num postal caption',
       'Descripció dia setmana', 'Dia de setmana', 'Descripció tipus dia',
       'NK Any', 'Mes de any', 'Nom mes', 'Dia de mes', 'Hora de dia',
       'Descripció torn', 'Descripció causa vianant', 'Número de morts',
       'Número de lesionats lleus', 'Número de lesionats greus',
       'Número de víctimes', 'Número de vehicles implicats',
       'Coordenada UTM (Y)', 'Coordenada UTM (X)'],
      dtype='object')

Número de columnas: 25

===========================================================================================
Columnas de dataframe en posición 1:
------------------------------------
Index(['Número d'expedient', 'Codi districte', 'Nom districte', 'NK barri',
       'Nom barri', 'Codi carrer', 'Nom carrer', 'Num postal caption',
       'Descripció dia setmana', 'Dia de setmana', 'Descripció tipus dia',
       'NK Any', 'Mes de any', 'Nom mes', 'Dia de mes', 'Hora de dia',
       'Descripció torn', 'Descripció causa vianant', 'Número de morts',
       'Número de lesionats lleus', 'Número de lesionats greus',
       'Número de víctimes', 'Número de vehicles implicats',
       'Coordenada UTM (Y)', 'Coordenada UTM (X)'],
      dtype='object')

Número de columnas: 25

===========================================================================================
Columnas de dataframe en posición 2:
------------------------------------
Index(['Número d'expedient', 'Codi districte', 'Nom districte', 'NK barri',
       'Nom barri', 'Codi carrer', 'Nom carrer', 'Num postal caption',
       'Descripció dia setmana', 'Dia de setmana', 'Descripció tipus dia',
       'NK Any', 'Mes de any', 'Nom mes', 'Dia de mes', 'Hora de dia',
       'Descripció torn', 'Descripció causa vianant', 'Número de morts',
       'Número de lesionats lleus', 'Número de lesionats greus',
       'Número de víctimes', 'Número de vehicles implicats',
       'Coordenada UTM (Y)', 'Coordenada UTM (X)'],
      dtype='object')

Número de columnas: 25

===========================================================================================
Columnas de dataframe en posición 3:
------------------------------------
Index(['Número d'expedient', 'Codi districte', 'Nom districte', 'NK barri',
       'Nom barri', 'Codi carrer', 'Nom carrer', 'Num postal caption',
       'Descripció dia setmana', 'Dia de setmana', 'Descripció tipus dia',
       'NK Any', 'Mes de any', 'Nom mes', 'Dia de mes', 'Hora de dia',
       'Descripció torn', 'Descripció causa vianant', 'Número de morts',
       'Número de lesionats lleus', 'Número de lesionats greus',
       'Número de víctimes', 'Número de vehicles implicats',
       'Coordenada UTM (Y)', 'Coordenada UTM (X)'],
      dtype='object')

Número de columnas: 25

===========================================================================================
Columnas de dataframe en posición 4:
------------------------------------
Index(['Número d expedient', 'Codi districte', 'Nom districte', 'Codi barri',
       'Nom barri', 'Codi carrer', 'Nom carrer', 'Num postal caption',
       'Descripció dia setmana', 'Dia setmana', 'Descripció tipus dia',
       'NK Any', 'Mes de any', 'Nom mes', 'Dia de mes', 'Hora de dia',
       'Descripció torn', 'Descripció causa vianant', 'Número de morts',
       'Número de lesionats lleus', 'Número de lesionats greus',
       'Número de víctimes', 'Número de vehicles implicats',
       'Coordenada UTM (Y)', 'Coordenada UTM (X)'],
      dtype='object')

Número de columnas: 25

===========================================================================================
Columnas de dataframe en posición 5:
------------------------------------
Index(['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia', 'Any',
       'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia', 'Descripcio_torn',
       'Descripcio_causa_vianant', 'Numero_morts', 'Numero_lesionats_lleus',
       'Numero_lesionats_greus', 'Numero_victimes',
       'Numero_vehicles_implicats', 'Coordenada_UTM_X', 'Coordenada_UTM_Y',
       'Longitud', 'Latitud'],
      dtype='object')

Número de columnas: 27

===========================================================================================
Columnas de dataframe en posición 6:
------------------------------------
Index(['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia', 'Any',
       'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia', 'Descripcio_torn',
       'Descripcio_causa_vianant', 'Numero_morts', 'Numero_lesionats_lleus',
       'Numero_lesionats_greus', 'Numero_victimes',
       'Numero_vehicles_implicats', 'Coordenada_UTM_X', 'Coordenada_UTM_Y',
       'Longitud', 'Latitud'],
      dtype='object')

Número de columnas: 27

===========================================================================================
Columnas de dataframe en posición 7:
------------------------------------
Index(['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal ',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia', 'Any',
       'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia', 'Descripcio_torn',
       'Descripcio_causa_vianant', 'Numero_morts', 'Numero_lesionats_lleus',
       'Numero_lesionats_greus', 'Numero_victimes',
       'Numero_vehicles_implicats', 'Coordenada_UTM_X', 'Coordenada_UTM_Y',
       'Longitud', 'Latitud'],
      dtype='object')

Número de columnas: 27

===========================================================================================
Columnas de dataframe en posición 8:
------------------------------------
Index(['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal_caption',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_torn', 'Descripcio_causa_vianant', 'Numero_morts',
       'Numero_lesionats_lleus', 'Numero_lesionats_greus', 'Numero_victimes',
       'Numero_vehicles_implicats', 'Coordenada_UTM_X', 'Coordenada_UTM_Y',
       'Longitud', 'Latitud'],
      dtype='object')

Número de columnas: 27

===========================================================================================
Columnas de dataframe en posición 9:
------------------------------------
Index(['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal_caption',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_torn', 'Descripcio_causa_vianant', 'Numero_morts',
       'Numero_lesionats_lleus', 'Numero_lesionats_greus', 'Numero_victimes',
       'Numero_vehicles_implicats', 'Coordenada_UTM_Y', 'Coordenada_UTM_X',
       'Longitud', 'Latitud'],
      dtype='object')

Número de columnas: 27

===========================================================================================

In [32]:
lista_df_gu[3].columns == lista_df_gu[4].columns

array([False,  True,  True, False,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True])